{{ builder.open().action('/forms/complaint').id('complaintForm') }}

    <section class="complaint-form">
  
            <div class="row" id="complaint_about_you">
                <div class="col-12 col-lg-9">
                    <div class="container">

                        {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                        {% if function('trans', 'submit-complaint.pre_title') %}
                            <h2>{{ function('trans', 'submit-complaint.pre_title') }}</h2>
                        {% endif %}
                        

                        {#}

                        {%  if function('trans', 'submit-complaint.pre_subtitle') %}
                            <p><strong>{{ function('trans', 'submit-complaint.pre_subtitle') }}</strong></p>
                        {% endif %}

                        <hr>

                        {% if function('trans', 'submit-complaint.pre_section_1_title') %}
                            <h2 class="mt-3">{{ function('trans', 'submit-complaint.pre_section_1_title') }}</h2>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_1_content') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_1_content') }}</p>
                        {% endif %}

                        {% if function('trans', 'submit-complaint.pre_section_2_title') %}
                            <h2>{{ function('trans', 'submit-complaint.pre_section_2_title') }}</h2>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_2_content') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_2_content') }}</p>
                        {% endif %}

                        {% if function('trans', 'submit-complaint.pre_section_3_title') %}
                            <h2 class="mt-3">{{ function('trans', 'submit-complaint.pre_section_3_title') }}</h2>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_subtitle_1') %}
                            <h3>{{ function('trans', 'submit-complaint.pre_section_3_subtitle_1') }}</h3>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_content_1') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_3_content_1') }}</p>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_subtitle_2') %}
                            <h3>{{ function('trans', 'submit-complaint.pre_section_3_subtitle_2') }}</h3>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_content_2') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_3_content_2') }}</p>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_subtitle_3') %}
                            <h3>{{ function('trans', 'submit-complaint.pre_section_3_subtitle_3') }}</h3>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_3_content_3') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_3_content_3') }}</p>
                        {% endif %}

                        {% if function('trans', 'submit-complaint.pre_section_4_title') %}
                            <h2 class="mt-3">{{ function('trans', 'submit-complaint.pre_section_4_title') }}</h2>
                        {% endif %}
                        {% if function('trans', 'submit-complaint.pre_section_4_content') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_4_content') }}</p>
                        {% endif %}

                        #}
                        
                        {#<hr />#}
                        
                        {% if errors|length >= 1 %}
                            <p id="error-warning"><small class="error">Please check the errors marked in red below, before submitting your form.</small></p>
                        {% endif %}
                        
                        {#<h3>{{ function('trans', 'submit-complaint.section_1_title') }}</h3>

                        <fieldset id="about_you" class="no-border">
                            <div>
                                <fieldset id="on_behalf_of">
                                    <legend>{{ function('trans', 'submit-complaint.behalf') }}</legend>
                                    {{ builder.radio('behalf').value(0).id('behalf_no').check() }} {{ builder.label(function('trans', 'submit-complaint.behalf_no')).forId('behalf_no').id('behalf_no_label') }}
                                    {{ builder.radio('behalf').value(1).id('behalf_yes') }}  {{ builder.label(function('trans', 'submit-complaint.behalf_yes')).forId('behalf_yes').id('behalf_yes_label') }}
                                </fieldset>
                            </div>
                            <div class="third__party-notification">
                                <p id="behalf_description">
                                    {{ function('trans', 'submit-complaint.behalf_description') }}
                                </p>
                            </div>
                        </fieldset>#}
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.change_language') }}</h2>
                        <ul class="language-selection wider">
                            <li><a href="/language/switch/en/">EN</a></li>
                            <li><a href="/language/switch/ga/">GA</a></li>
                            <li><a href="/language/switch/fr/">FR</a></li>
                            <li><a href="/language/switch/pl/">PL</a></li>
                            <li><a href="/language/switch/pt/">PT</a></li>
                            <li><a href="/language/switch/ro/">RO</a></li>
                            <li><a href="/language/switch/ru/">RU</a></li>
                            <li><a href="/language/switch/tl/">TL</a></li>
                            <li><a href="/language/switch/zhs/">ZHS</a></li>
                            <li><a href="/language/switch/zht/">ZHT</a></li>
                        </ul>
                        <hr />
                        <h2>{{ function('trans', 'submit-complaint.help_header_1') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_1_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row" id="complaint_part_one_section_a">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_2_title') }}</h2>

                        {% if function('trans', 'submit-complaint.pre_section_1_content') %}
                            <p>{{ function('trans', 'submit-complaint.pre_section_1_content') }}</p>
                        {% endif %}
                        
                        <fieldset id="personal_details_1a" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_2_title') }}</legend>
                            <div class="parallel-inputs">
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('complainant_forename').id('complainant_name_label') }}
                                {{ builder.text('complainant_forename').id('complainant_forename').placeholder(function('trans', 'submit-complaint.forename_placeholder')) }}
                                {{ errors.first('complainant_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('complainant_surname').id('complainant_surname_label').attribute('class', 'visually-hidden') }}
                                {{ builder.text('complainant_surname').id('complainant_surname').placeholder(function('trans', 'submit-complaint.surname_placeholder')) }}
                                {{ errors.first('complainant_surname', '<small class="error">:message</small>') }}
                            </div>

                            <div>

                                {{ builder.label(function('trans', 'submit-complaint.street')).forId('complainant_primary_address_street').id('complainant_primary_address_street_label') }}
                                {{ builder.text('complainant_primary_address_street').id('complainant_primary_address_street') }}
                                {{ errors.first('complainant_primary_address_street', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.town')).forId('complainant_primary_address_town').id('complainant_primary_address_town_label') }}
                                {{ builder.text('complainant_primary_address_town').id('complainant_primary_address_town') }}
                                {{ errors.first('complainant_primary_address_town', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.county')).forId('complainant_primary_address_county').id('complainant_primary_address_county_label') }}
                                {{ builder.text('complainant_primary_address_county').id('complainant_primary_address_county') }}
                                {{ errors.first('complainant_primary_address_county', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.postcode')).forId('complainant_primary_address_postcode').id('complainant_primary_address_postcode_label') }}
                                {{ builder.text('complainant_primary_address_postcode').id('complainant_primary_address_postcode') }}
                                {{ errors.first('complainant_primary_address_postcode', '<small class="error">:message</small>') }}

                                {#{ builder.label(function('trans', 'submit-complaint.country')).forId('complainant_primary_address_country').id('complainant_primary_address_country_label') }}
                                {{ builder.select('complainant_primary_address_country', {"IE":function('trans', 'country-list.IE'),"GB":function('trans', 'country-list.GB'),"":"──────────","AF":function('trans', 'country-list.AF'),"AX":function('trans', 'country-list.AX'),"AL":function('trans', 'country-list.AL'),"DZ":function('trans', 'country-list.DZ'),"AS":function('trans', 'country-list.AS'),"AD":function('trans', 'country-list.AD'),"AO":function('trans', 'country-list.AO'),"AI":function('trans', 'country-list.AI'),"AQ":function('trans', 'country-list.AQ'),"AG":function('trans', 'country-list.AG'),"AR":function('trans', 'country-list.AR'),"AM":function('trans', 'country-list.AM'),"AW":function('trans', 'country-list.AW'),"AU":function('trans', 'country-list.AU'),"AT":function('trans', 'country-list.AT'),"AZ":function('trans', 'country-list.AZ'),"BS":function('trans', 'country-list.BS'),"BH":function('trans', 'country-list.BH'),"BD":function('trans', 'country-list.BD'),"BB":function('trans', 'country-list.BB'),"BY":function('trans', 'country-list.BY'),"BE":function('trans', 'country-list.BE'),"BZ":function('trans', 'country-list.BZ'),"BJ":function('trans', 'country-list.BJ'),"BM":function('trans', 'country-list.BM'),"BT":function('trans', 'country-list.BT'),"BO":function('trans', 'country-list.BO'),"BQ":function('trans', 'country-list.BQ'),"BA":function('trans', 'country-list.BA'),"BW":function('trans', 'country-list.BW'),"BV":function('trans', 'country-list.BV'),"BR":function('trans', 'country-list.BR'),"IO":function('trans', 'country-list.IO'),"VG":function('trans', 'country-list.VG'),"BN":function('trans', 'country-list.BN'),"BG":function('trans', 'country-list.BG'),"BF":function('trans', 'country-list.BF'),"BI":function('trans', 'country-list.BI'),"KH":function('trans', 'country-list.KH'),"CM":function('trans', 'country-list.CM'),"CA":function('trans', 'country-list.CA'),"CV":function('trans', 'country-list.CV'),"KY":function('trans', 'country-list.KY'),"CF":function('trans', 'country-list.CF'),"TD":function('trans', 'country-list.TD'),"CL":function('trans', 'country-list.CL'),"CN":function('trans', 'country-list.CN'),"CX":function('trans', 'country-list.CX'),"CC":function('trans', 'country-list.CC'),"CO":function('trans', 'country-list.CO'),"KM":function('trans', 'country-list.KM'),"CK":function('trans', 'country-list.CK'),"CR":function('trans', 'country-list.CR'),"HR":function('trans', 'country-list.HR'),"CU":function('trans', 'country-list.CU'),"CW":function('trans', 'country-list.CW'),"CY":function('trans', 'country-list.CY'),"CZ":function('trans', 'country-list.CZ'),"CD":function('trans', 'country-list.CD'),"DK":function('trans', 'country-list.DK'),"DJ":function('trans', 'country-list.DJ'),"DM":function('trans', 'country-list.DM'),"DO":function('trans', 'country-list.DO'),"TL":function('trans', 'country-list.TL'),"EC":function('trans', 'country-list.EC'),"EG":function('trans', 'country-list.EG'),"SV":function('trans', 'country-list.SV'),"GQ":function('trans', 'country-list.GQ'),"ER":function('trans', 'country-list.ER'),"EE":function('trans', 'country-list.EE'),"ET":function('trans', 'country-list.ET'),"FK":function('trans', 'country-list.FK'),"FO":function('trans', 'country-list.FO'),"FJ":function('trans', 'country-list.FJ'),"FI":function('trans', 'country-list.FI'),"FR":function('trans', 'country-list.FR'),"GF":function('trans', 'country-list.GF'),"PF":function('trans', 'country-list.PF'),"TF":function('trans', 'country-list.TF'),"GA":function('trans', 'country-list.GA'),"GM":function('trans', 'country-list.GM'),"GE":function('trans', 'country-list.GE'),"DE":function('trans', 'country-list.DE'),"GH":function('trans', 'country-list.GH'),"GI":function('trans', 'country-list.GI'),"GR":function('trans', 'country-list.GR'),"GL":function('trans', 'country-list.GL'),"GD":function('trans', 'country-list.GD'),"GP":function('trans', 'country-list.GP'),"GU":function('trans', 'country-list.GU'),"GT":function('trans', 'country-list.GT'),"GG":function('trans', 'country-list.GG'),"GN":function('trans', 'country-list.GN'),"GW":function('trans', 'country-list.GW'),"GY":function('trans', 'country-list.GY'),"HT":function('trans', 'country-list.HT'),"HM":function('trans', 'country-list.HM'),"HN":function('trans', 'country-list.HN'),"HK":function('trans', 'country-list.HK'),"HU":function('trans', 'country-list.HU'),"IS":function('trans', 'country-list.IS'),"IN":function('trans', 'country-list.IN'),"ID":function('trans', 'country-list.ID'),"IR":function('trans', 'country-list.IR'),"IQ":function('trans', 'country-list.IQ'),"IM":function('trans', 'country-list.IM'),"IL":function('trans', 'country-list.IL'),"IT":function('trans', 'country-list.IT'),"CI":function('trans', 'country-list.CI'),"JM":function('trans', 'country-list.JM'),"JP":function('trans', 'country-list.JP'),"JE":function('trans', 'country-list.JE'),"JO":function('trans', 'country-list.JO'),"KZ":function('trans', 'country-list.KZ'),"KE":function('trans', 'country-list.KE'),"KI":function('trans', 'country-list.KI'),"XK":function('trans', 'country-list.XK'),"KW":function('trans', 'country-list.KW'),"KG":function('trans', 'country-list.KG'),"LA":function('trans', 'country-list.LA'),"LV":function('trans', 'country-list.LV'),"LB":function('trans', 'country-list.LB'),"LS":function('trans', 'country-list.LS'),"LR":function('trans', 'country-list.LR'),"LY":function('trans', 'country-list.LY'),"LI":function('trans', 'country-list.LI'),"LT":function('trans', 'country-list.LT'),"LU":function('trans', 'country-list.LU'),"MO":function('trans', 'country-list.MO'),"MK":function('trans', 'country-list.MK'),"MG":function('trans', 'country-list.MG'),"MW":function('trans', 'country-list.MW'),"MY":function('trans', 'country-list.MY'),"MV":function('trans', 'country-list.MV'),"ML":function('trans', 'country-list.ML'),"MT":function('trans', 'country-list.MT'),"MH":function('trans', 'country-list.MH'),"MQ":function('trans', 'country-list.MQ'),"MR":function('trans', 'country-list.MR'),"MU":function('trans', 'country-list.MU'),"YT":function('trans', 'country-list.YT'),"MX":function('trans', 'country-list.MX'),"FM":function('trans', 'country-list.FM'),"MD":function('trans', 'country-list.MD'),"MC":function('trans', 'country-list.MC'),"MN":function('trans', 'country-list.MN'),"ME":function('trans', 'country-list.ME'),"MS":function('trans', 'country-list.MS'),"MA":function('trans', 'country-list.MA'),"MZ":function('trans', 'country-list.MZ'),"MM":function('trans', 'country-list.MM'),"NA":function('trans', 'country-list.NA'),"NR":function('trans', 'country-list.NR'),"NP":function('trans', 'country-list.NP'),"NL":function('trans', 'country-list.NL'),"NC":function('trans', 'country-list.NC'),"NZ":function('trans', 'country-list.NZ'),"NI":function('trans', 'country-list.NI'),"NE":function('trans', 'country-list.NE'),"NG":function('trans', 'country-list.NG'),"NU":function('trans', 'country-list.NU'),"NF":function('trans', 'country-list.NF'),"KP":function('trans', 'country-list.KP'),"MP":function('trans', 'country-list.MP'),"NO":function('trans', 'country-list.NO'),"OM":function('trans', 'country-list.OM'),"PK":function('trans', 'country-list.PK'),"PW":function('trans', 'country-list.PW'),"PS":function('trans', 'country-list.PS'),"PA":function('trans', 'country-list.PA'),"PG":function('trans', 'country-list.PG'),"PY":function('trans', 'country-list.PY'),"PE":function('trans', 'country-list.PE'),"PH":function('trans', 'country-list.PH'),"PN":function('trans', 'country-list.PN'),"PL":function('trans', 'country-list.PL'),"PT":function('trans', 'country-list.PT'),"PR":function('trans', 'country-list.PR'),"QA":function('trans', 'country-list.QA'),"CG":function('trans', 'country-list.CG'),"RE":function('trans', 'country-list.RE'),"RO":function('trans', 'country-list.RO'),"RU":function('trans', 'country-list.RU'),"RW":function('trans', 'country-list.RW'),"BL":function('trans', 'country-list.BL'),"SH":function('trans', 'country-list.SH'),"KN":function('trans', 'country-list.KN'),"LC":function('trans', 'country-list.LC'),"MF":function('trans', 'country-list.MF'),"PM":function('trans', 'country-list.PM'),"VC":function('trans', 'country-list.VC'),"WS":function('trans', 'country-list.WS'),"SM":function('trans', 'country-list.SM'),"ST":function('trans', 'country-list.ST'),"SA":function('trans', 'country-list.SA'),"SN":function('trans', 'country-list.SN'),"RS":function('trans', 'country-list.RS'),"SC":function('trans', 'country-list.SC'),"SL":function('trans', 'country-list.SL'),"SG":function('trans', 'country-list.SG'),"SX":function('trans', 'country-list.SX'),"SK":function('trans', 'country-list.SK'),"SI":function('trans', 'country-list.SI'),"SB":function('trans', 'country-list.SB'),"SO":function('trans', 'country-list.SO'),"ZA":function('trans', 'country-list.ZA'),"GS":function('trans', 'country-list.GS'),"KR":function('trans', 'country-list.KR'),"SS":function('trans', 'country-list.SS'),"ES":function('trans', 'country-list.ES'),"LK":function('trans', 'country-list.LK'),"SD":function('trans', 'country-list.SD'),"SR":function('trans', 'country-list.SR'),"SJ":function('trans', 'country-list.SJ'),"SZ":function('trans', 'country-list.SZ'),"SE":function('trans', 'country-list.SE'),"CH":function('trans', 'country-list.CH'),"SY":function('trans', 'country-list.SY'),"TW":function('trans', 'country-list.TW'),"TJ":function('trans', 'country-list.TJ'),"TZ":function('trans', 'country-list.TZ'),"TH":function('trans', 'country-list.TH'),"TG":function('trans', 'country-list.TG'),"TK":function('trans', 'country-list.TK'),"TO":function('trans', 'country-list.TO'),"TT":function('trans', 'country-list.TT'),"TN":function('trans', 'country-list.TN'),"TR":function('trans', 'country-list.TR'),"TM":function('trans', 'country-list.TM'),"TC":function('trans', 'country-list.TC'),"TV":function('trans', 'country-list.TV'),"VI":function('trans', 'country-list.VI'),"UG":function('trans', 'country-list.UG'),"UA":function('trans', 'country-list.UA'),"AE":function('trans', 'country-list.AE'),"US":function('trans', 'country-list.US'),"UM":function('trans', 'country-list.UM'),"UY":function('trans', 'country-list.UY'),"UZ":function('trans', 'country-list.UZ'),"VU":function('trans', 'country-list.VU'),"VA":function('trans', 'country-list.VA'),"VE":function('trans', 'country-list.VE'),"VN":function('trans', 'country-list.VN'),"WF":function('trans', 'country-list.WF'),"EH":function('trans', 'country-list.EH'),"YE":function('trans', 'country-list.YE'),"ZM":function('trans', 'country-list.ZM'),"ZW":function('trans', 'country-list.ZW')}).id('complainant_primary_address_country') }}
                                {{ errors.first('complainant_primary_address_country', '<small class="error">:message</small>') }#}

                                {{ builder.label(function('trans', 'submit-complaint.date_of_birth')).forId('complainant_date_of_birth').id('complainant_date_of_birth_label') }}
                                {{ builder.text('complainant_date_of_birth').id('complainant_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('complainant_date_of_birth', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('complainant_primary_address_mobile').id('complainant_primary_address_mobile_label') }}
                                {{ builder.text('complainant_primary_address_mobile').id('complainant_primary_address_mobile') }}
                                {{ errors.first('complainant_primary_address_mobile', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.phone')).forId('complainant_primary_address_phone').id('complainant_primary_address_phone_label') }}
                                {{ builder.text('complainant_primary_address_phone').id('complainant_primary_address_phone') }}
                                {{ errors.first('complainant_primary_address_phone', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.email')).forId('complainant_primary_address_email').id('complainant_primary_address_email_label') }}
                                {{ builder.email('complainant_primary_address_email').id('complainant_primary_address_email') }}
                                {{ errors.first('complainant_primary_address_email', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm_label') }}
                                {{ builder.email('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm') }}
                                {{ errors.first('complainant_primary_address_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                        <div id="complainant_representative_explanation">


                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_2_a') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_2_help_1') }}</p>
                        <hr />
                        <h2>{{ function('trans', 'submit-complaint.help_header_2_b') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_2_help_2') }}</p>
                    </div>
                </div>
            </div>

            <div class="row d-none" id="complaint_part_one_section_b">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_3_title') }}</h2>
                        <fieldset id="personal_details_1b" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                            <p id="behalf_details">{{ function('trans', 'submit-complaint.behalf_details') }}</p>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type')).forId('third_party_representative_type').id('third_party_representative_type_label') }}
                                {{ builder.select('third_party_representative_type', {'' : 'Select:', 'Guardian' : function('trans', 'submit-complaint.third_party_representative_type_1'), 'Legal Representative' : function('trans', 'submit-complaint.third_party_representative_type_2'), 'Parent' : function('trans', 'submit-complaint.third_party_representative_type_3'), 'Social Worker' : function('trans', 'submit-complaint.third_party_representative_type_4'), 'Other' : function('trans', 'submit-complaint.third_party_representative_type_5')}).id('third_party_representative_type') }}
                            </div>
                            <div class="parallel-inputs">
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('third_party_representative_forename').id('third_party_representative_name_label') }}
                                {{ builder.text('third_party_representative_forename').id('third_party_representative_forename').placeholder(function('trans', 'submit-complaint.forename_placeholder')) }}
                                {{ errors.first('third_party_representative_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('third_party_representative_surname').id('third_party_representative_surname_label').attribute('class', 'visually-hidden') }}
                                {{ builder.text('third_party_representative_surname').id('third_party_representative_surname').placeholder(function('trans', 'submit-complaint.surname_placeholder')) }}
                                {{ errors.first('third_party_representative_surname', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.date_of_birth')).forId('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth_label') }}
                                {{ builder.text('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('third_party_representative_date_of_birth', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.gender')).forId('third_party_representative_gender').id('third_party_representative_gender_label') }}
                                {{ builder.select('third_party_representative_gender', {'Male' : function('trans', 'submit-complaint.gender_male'), 'Female' : function('trans', 'submit-complaint.gender_female'), 'Prefer not to say' : function('trans', 'submit-complaint.gender_other')}).id('third_party_representative_gender') }}
                                {{ errors.first('third_party_representative_gender', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                <h3>{{ function('trans', 'submit-complaint.section_3_subtitle') }}</h3>
                                {{ builder.label(function('trans', 'submit-complaint.street')).forId('third_party_representative_street').id('third_party_representative_street_label') }}
                                {{ builder.text('third_party_representative_street').id('third_party_representative_street') }}
                                {{ errors.first('third_party_representative_street', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.town')).forId('third_party_representative_town').id('third_party_representative_town_label') }}
                                {{ builder.text('third_party_representative_town').id('third_party_representative_town') }}
                                {{ errors.first('third_party_representative_town', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.county')).forId('third_party_representative_county').id('third_party_representative_county_label') }}
                                {{ builder.text('third_party_representative_county').id('third_party_representative_county') }}
                                {{ errors.first('third_party_representative_county', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.postcode')).forId('third_party_representative_postcode').id('third_party_representative_postcode_label') }}
                                {{ builder.text('third_party_representative_postcode').id('third_party_representative_postcode') }}
                                {{ errors.first('third_party_representative_postcode', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.country')).forId('third_party_representative_country').id('third_party_representative_country_label') }}
                                {{ builder.select('third_party_representative_country', {"IE":function('trans', 'country-list.IE'),"GB":function('trans', 'country-list.GB'),"":"──────────","AF":function('trans', 'country-list.AF'),"AX":function('trans', 'country-list.AX'),"AL":function('trans', 'country-list.AL'),"DZ":function('trans', 'country-list.DZ'),"AS":function('trans', 'country-list.AS'),"AD":function('trans', 'country-list.AD'),"AO":function('trans', 'country-list.AO'),"AI":function('trans', 'country-list.AI'),"AQ":function('trans', 'country-list.AQ'),"AG":function('trans', 'country-list.AG'),"AR":function('trans', 'country-list.AR'),"AM":function('trans', 'country-list.AM'),"AW":function('trans', 'country-list.AW'),"AU":function('trans', 'country-list.AU'),"AT":function('trans', 'country-list.AT'),"AZ":function('trans', 'country-list.AZ'),"BS":function('trans', 'country-list.BS'),"BH":function('trans', 'country-list.BH'),"BD":function('trans', 'country-list.BD'),"BB":function('trans', 'country-list.BB'),"BY":function('trans', 'country-list.BY'),"BE":function('trans', 'country-list.BE'),"BZ":function('trans', 'country-list.BZ'),"BJ":function('trans', 'country-list.BJ'),"BM":function('trans', 'country-list.BM'),"BT":function('trans', 'country-list.BT'),"BO":function('trans', 'country-list.BO'),"BQ":function('trans', 'country-list.BQ'),"BA":function('trans', 'country-list.BA'),"BW":function('trans', 'country-list.BW'),"BV":function('trans', 'country-list.BV'),"BR":function('trans', 'country-list.BR'),"IO":function('trans', 'country-list.IO'),"VG":function('trans', 'country-list.VG'),"BN":function('trans', 'country-list.BN'),"BG":function('trans', 'country-list.BG'),"BF":function('trans', 'country-list.BF'),"BI":function('trans', 'country-list.BI'),"KH":function('trans', 'country-list.KH'),"CM":function('trans', 'country-list.CM'),"CA":function('trans', 'country-list.CA'),"CV":function('trans', 'country-list.CV'),"KY":function('trans', 'country-list.KY'),"CF":function('trans', 'country-list.CF'),"TD":function('trans', 'country-list.TD'),"CL":function('trans', 'country-list.CL'),"CN":function('trans', 'country-list.CN'),"CX":function('trans', 'country-list.CX'),"CC":function('trans', 'country-list.CC'),"CO":function('trans', 'country-list.CO'),"KM":function('trans', 'country-list.KM'),"CK":function('trans', 'country-list.CK'),"CR":function('trans', 'country-list.CR'),"HR":function('trans', 'country-list.HR'),"CU":function('trans', 'country-list.CU'),"CW":function('trans', 'country-list.CW'),"CY":function('trans', 'country-list.CY'),"CZ":function('trans', 'country-list.CZ'),"CD":function('trans', 'country-list.CD'),"DK":function('trans', 'country-list.DK'),"DJ":function('trans', 'country-list.DJ'),"DM":function('trans', 'country-list.DM'),"DO":function('trans', 'country-list.DO'),"TL":function('trans', 'country-list.TL'),"EC":function('trans', 'country-list.EC'),"EG":function('trans', 'country-list.EG'),"SV":function('trans', 'country-list.SV'),"GQ":function('trans', 'country-list.GQ'),"ER":function('trans', 'country-list.ER'),"EE":function('trans', 'country-list.EE'),"ET":function('trans', 'country-list.ET'),"FK":function('trans', 'country-list.FK'),"FO":function('trans', 'country-list.FO'),"FJ":function('trans', 'country-list.FJ'),"FI":function('trans', 'country-list.FI'),"FR":function('trans', 'country-list.FR'),"GF":function('trans', 'country-list.GF'),"PF":function('trans', 'country-list.PF'),"TF":function('trans', 'country-list.TF'),"GA":function('trans', 'country-list.GA'),"GM":function('trans', 'country-list.GM'),"GE":function('trans', 'country-list.GE'),"DE":function('trans', 'country-list.DE'),"GH":function('trans', 'country-list.GH'),"GI":function('trans', 'country-list.GI'),"GR":function('trans', 'country-list.GR'),"GL":function('trans', 'country-list.GL'),"GD":function('trans', 'country-list.GD'),"GP":function('trans', 'country-list.GP'),"GU":function('trans', 'country-list.GU'),"GT":function('trans', 'country-list.GT'),"GG":function('trans', 'country-list.GG'),"GN":function('trans', 'country-list.GN'),"GW":function('trans', 'country-list.GW'),"GY":function('trans', 'country-list.GY'),"HT":function('trans', 'country-list.HT'),"HM":function('trans', 'country-list.HM'),"HN":function('trans', 'country-list.HN'),"HK":function('trans', 'country-list.HK'),"HU":function('trans', 'country-list.HU'),"IS":function('trans', 'country-list.IS'),"IN":function('trans', 'country-list.IN'),"ID":function('trans', 'country-list.ID'),"IR":function('trans', 'country-list.IR'),"IQ":function('trans', 'country-list.IQ'),"IM":function('trans', 'country-list.IM'),"IL":function('trans', 'country-list.IL'),"IT":function('trans', 'country-list.IT'),"CI":function('trans', 'country-list.CI'),"JM":function('trans', 'country-list.JM'),"JP":function('trans', 'country-list.JP'),"JE":function('trans', 'country-list.JE'),"JO":function('trans', 'country-list.JO'),"KZ":function('trans', 'country-list.KZ'),"KE":function('trans', 'country-list.KE'),"KI":function('trans', 'country-list.KI'),"XK":function('trans', 'country-list.XK'),"KW":function('trans', 'country-list.KW'),"KG":function('trans', 'country-list.KG'),"LA":function('trans', 'country-list.LA'),"LV":function('trans', 'country-list.LV'),"LB":function('trans', 'country-list.LB'),"LS":function('trans', 'country-list.LS'),"LR":function('trans', 'country-list.LR'),"LY":function('trans', 'country-list.LY'),"LI":function('trans', 'country-list.LI'),"LT":function('trans', 'country-list.LT'),"LU":function('trans', 'country-list.LU'),"MO":function('trans', 'country-list.MO'),"MK":function('trans', 'country-list.MK'),"MG":function('trans', 'country-list.MG'),"MW":function('trans', 'country-list.MW'),"MY":function('trans', 'country-list.MY'),"MV":function('trans', 'country-list.MV'),"ML":function('trans', 'country-list.ML'),"MT":function('trans', 'country-list.MT'),"MH":function('trans', 'country-list.MH'),"MQ":function('trans', 'country-list.MQ'),"MR":function('trans', 'country-list.MR'),"MU":function('trans', 'country-list.MU'),"YT":function('trans', 'country-list.YT'),"MX":function('trans', 'country-list.MX'),"FM":function('trans', 'country-list.FM'),"MD":function('trans', 'country-list.MD'),"MC":function('trans', 'country-list.MC'),"MN":function('trans', 'country-list.MN'),"ME":function('trans', 'country-list.ME'),"MS":function('trans', 'country-list.MS'),"MA":function('trans', 'country-list.MA'),"MZ":function('trans', 'country-list.MZ'),"MM":function('trans', 'country-list.MM'),"NA":function('trans', 'country-list.NA'),"NR":function('trans', 'country-list.NR'),"NP":function('trans', 'country-list.NP'),"NL":function('trans', 'country-list.NL'),"NC":function('trans', 'country-list.NC'),"NZ":function('trans', 'country-list.NZ'),"NI":function('trans', 'country-list.NI'),"NE":function('trans', 'country-list.NE'),"NG":function('trans', 'country-list.NG'),"NU":function('trans', 'country-list.NU'),"NF":function('trans', 'country-list.NF'),"KP":function('trans', 'country-list.KP'),"MP":function('trans', 'country-list.MP'),"NO":function('trans', 'country-list.NO'),"OM":function('trans', 'country-list.OM'),"PK":function('trans', 'country-list.PK'),"PW":function('trans', 'country-list.PW'),"PS":function('trans', 'country-list.PS'),"PA":function('trans', 'country-list.PA'),"PG":function('trans', 'country-list.PG'),"PY":function('trans', 'country-list.PY'),"PE":function('trans', 'country-list.PE'),"PH":function('trans', 'country-list.PH'),"PN":function('trans', 'country-list.PN'),"PL":function('trans', 'country-list.PL'),"PT":function('trans', 'country-list.PT'),"PR":function('trans', 'country-list.PR'),"QA":function('trans', 'country-list.QA'),"CG":function('trans', 'country-list.CG'),"RE":function('trans', 'country-list.RE'),"RO":function('trans', 'country-list.RO'),"RU":function('trans', 'country-list.RU'),"RW":function('trans', 'country-list.RW'),"BL":function('trans', 'country-list.BL'),"SH":function('trans', 'country-list.SH'),"KN":function('trans', 'country-list.KN'),"LC":function('trans', 'country-list.LC'),"MF":function('trans', 'country-list.MF'),"PM":function('trans', 'country-list.PM'),"VC":function('trans', 'country-list.VC'),"WS":function('trans', 'country-list.WS'),"SM":function('trans', 'country-list.SM'),"ST":function('trans', 'country-list.ST'),"SA":function('trans', 'country-list.SA'),"SN":function('trans', 'country-list.SN'),"RS":function('trans', 'country-list.RS'),"SC":function('trans', 'country-list.SC'),"SL":function('trans', 'country-list.SL'),"SG":function('trans', 'country-list.SG'),"SX":function('trans', 'country-list.SX'),"SK":function('trans', 'country-list.SK'),"SI":function('trans', 'country-list.SI'),"SB":function('trans', 'country-list.SB'),"SO":function('trans', 'country-list.SO'),"ZA":function('trans', 'country-list.ZA'),"GS":function('trans', 'country-list.GS'),"KR":function('trans', 'country-list.KR'),"SS":function('trans', 'country-list.SS'),"ES":function('trans', 'country-list.ES'),"LK":function('trans', 'country-list.LK'),"SD":function('trans', 'country-list.SD'),"SR":function('trans', 'country-list.SR'),"SJ":function('trans', 'country-list.SJ'),"SZ":function('trans', 'country-list.SZ'),"SE":function('trans', 'country-list.SE'),"CH":function('trans', 'country-list.CH'),"SY":function('trans', 'country-list.SY'),"TW":function('trans', 'country-list.TW'),"TJ":function('trans', 'country-list.TJ'),"TZ":function('trans', 'country-list.TZ'),"TH":function('trans', 'country-list.TH'),"TG":function('trans', 'country-list.TG'),"TK":function('trans', 'country-list.TK'),"TO":function('trans', 'country-list.TO'),"TT":function('trans', 'country-list.TT'),"TN":function('trans', 'country-list.TN'),"TR":function('trans', 'country-list.TR'),"TM":function('trans', 'country-list.TM'),"TC":function('trans', 'country-list.TC'),"TV":function('trans', 'country-list.TV'),"VI":function('trans', 'country-list.VI'),"UG":function('trans', 'country-list.UG'),"UA":function('trans', 'country-list.UA'),"AE":function('trans', 'country-list.AE'),"US":function('trans', 'country-list.US'),"UM":function('trans', 'country-list.UM'),"UY":function('trans', 'country-list.UY'),"UZ":function('trans', 'country-list.UZ'),"VU":function('trans', 'country-list.VU'),"VA":function('trans', 'country-list.VA'),"VE":function('trans', 'country-list.VE'),"VN":function('trans', 'country-list.VN'),"WF":function('trans', 'country-list.WF'),"EH":function('trans', 'country-list.EH'),"YE":function('trans', 'country-list.YE'),"ZM":function('trans', 'country-list.ZM'),"ZW":function('trans', 'country-list.ZW')}).id('third_party_representative_country') }}
                                {{ errors.first('third_party_representative_country', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('third_party_representative_mobile').id('third_party_representative_mobile_label') }}
                                {{ builder.text('third_party_representative_mobile').id('third_party_representative_mobile') }}
                                {{ errors.first('third_party_representative_mobile', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.phone')).forId('third_party_representative_phone').id('third_party_representative_phone_label') }}
                                {{ builder.text('third_party_representative_phone').id('third_party_representative_phone') }}
                                {{ errors.first('third_party_representative_phone', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.email')).forId('third_party_representative_email').id('third_party_representative_email_label') }}
                                {{ builder.email('third_party_representative_email').id('third_party_representative_email') }}
                                {{ errors.first('third_party_representative_email', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('third_party_representative_email_confirm').id('third_party_representative_email_confirm_label') }}
                                {{ builder.email('third_party_representative_email_confirm').id('third_party_representative_email_confirm') }}
                                {{ errors.first('third_party_representative_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                <fieldset id="correspondence">
                                    <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                                    <p id="correspondence_description">{{ function('trans', 'submit-complaint.correspondence_description') }}</p>
                                    {{ builder.radio('correspondence_check').value(0).id('correspondence_same').check() }} {{ builder.label(function('trans', 'submit-complaint.correspondence_same')).forId('correspondence_same').id('correspondence_same_label') }}
                                    {{ builder.radio('correspondence_check').value(1).id('correspondence_different') }}  {{ builder.label(function('trans', 'submit-complaint.correspondence_different')).forId('correspondence_different').id('correspondence_different_label') }}
                                </fieldset>
                            </div>
                            <div id="complainant_secondary_address" class="hide">
                                <div class="different__address">
                                    <h3>{{ function('trans', 'submit-complaint.section_3_subtitle') }}</h3>
                                    {{ builder.label(function('trans', 'submit-complaint.street')).forId('complainant_secondary_address_street').id('complainant_secondary_address_street_label') }}
                                    {{ builder.text('complainant_secondary_address_street').id('complainant_secondary_address_street') }}
                                    {{ errors.first('complainant_secondary_address_street', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.town')).forId('complainant_secondary_address_town').id('complainant_secondary_address_town_label') }}
                                    {{ builder.text('complainant_secondary_address_town').id('complainant_secondary_address_town') }}
                                    {{ errors.first('complainant_secondary_address_town', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.county')).forId('complainant_secondary_address_county').id('complainant_secondary_address_county_label') }}
                                    {{ builder.text('complainant_secondary_address_county').id('complainant_secondary_address_county') }}
                                    {{ errors.first('complainant_secondary_address_county', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.postcode')).forId('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode_label') }}
                                    {{ builder.text('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode') }}
                                    {{ errors.first('complainant_secondary_address_postcode', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.country')).forId('complainant_secondary_address_country').id('complainant_secondary_address_country_label') }}
                                    {{ builder.select('complainant_secondary_address_country', {"IE":function('trans', 'country-list.IE'),"GB":function('trans', 'country-list.GB'),"":"──────────","AF":function('trans', 'country-list.AF'),"AX":function('trans', 'country-list.AX'),"AL":function('trans', 'country-list.AL'),"DZ":function('trans', 'country-list.DZ'),"AS":function('trans', 'country-list.AS'),"AD":function('trans', 'country-list.AD'),"AO":function('trans', 'country-list.AO'),"AI":function('trans', 'country-list.AI'),"AQ":function('trans', 'country-list.AQ'),"AG":function('trans', 'country-list.AG'),"AR":function('trans', 'country-list.AR'),"AM":function('trans', 'country-list.AM'),"AW":function('trans', 'country-list.AW'),"AU":function('trans', 'country-list.AU'),"AT":function('trans', 'country-list.AT'),"AZ":function('trans', 'country-list.AZ'),"BS":function('trans', 'country-list.BS'),"BH":function('trans', 'country-list.BH'),"BD":function('trans', 'country-list.BD'),"BB":function('trans', 'country-list.BB'),"BY":function('trans', 'country-list.BY'),"BE":function('trans', 'country-list.BE'),"BZ":function('trans', 'country-list.BZ'),"BJ":function('trans', 'country-list.BJ'),"BM":function('trans', 'country-list.BM'),"BT":function('trans', 'country-list.BT'),"BO":function('trans', 'country-list.BO'),"BQ":function('trans', 'country-list.BQ'),"BA":function('trans', 'country-list.BA'),"BW":function('trans', 'country-list.BW'),"BV":function('trans', 'country-list.BV'),"BR":function('trans', 'country-list.BR'),"IO":function('trans', 'country-list.IO'),"VG":function('trans', 'country-list.VG'),"BN":function('trans', 'country-list.BN'),"BG":function('trans', 'country-list.BG'),"BF":function('trans', 'country-list.BF'),"BI":function('trans', 'country-list.BI'),"KH":function('trans', 'country-list.KH'),"CM":function('trans', 'country-list.CM'),"CA":function('trans', 'country-list.CA'),"CV":function('trans', 'country-list.CV'),"KY":function('trans', 'country-list.KY'),"CF":function('trans', 'country-list.CF'),"TD":function('trans', 'country-list.TD'),"CL":function('trans', 'country-list.CL'),"CN":function('trans', 'country-list.CN'),"CX":function('trans', 'country-list.CX'),"CC":function('trans', 'country-list.CC'),"CO":function('trans', 'country-list.CO'),"KM":function('trans', 'country-list.KM'),"CK":function('trans', 'country-list.CK'),"CR":function('trans', 'country-list.CR'),"HR":function('trans', 'country-list.HR'),"CU":function('trans', 'country-list.CU'),"CW":function('trans', 'country-list.CW'),"CY":function('trans', 'country-list.CY'),"CZ":function('trans', 'country-list.CZ'),"CD":function('trans', 'country-list.CD'),"DK":function('trans', 'country-list.DK'),"DJ":function('trans', 'country-list.DJ'),"DM":function('trans', 'country-list.DM'),"DO":function('trans', 'country-list.DO'),"TL":function('trans', 'country-list.TL'),"EC":function('trans', 'country-list.EC'),"EG":function('trans', 'country-list.EG'),"SV":function('trans', 'country-list.SV'),"GQ":function('trans', 'country-list.GQ'),"ER":function('trans', 'country-list.ER'),"EE":function('trans', 'country-list.EE'),"ET":function('trans', 'country-list.ET'),"FK":function('trans', 'country-list.FK'),"FO":function('trans', 'country-list.FO'),"FJ":function('trans', 'country-list.FJ'),"FI":function('trans', 'country-list.FI'),"FR":function('trans', 'country-list.FR'),"GF":function('trans', 'country-list.GF'),"PF":function('trans', 'country-list.PF'),"TF":function('trans', 'country-list.TF'),"GA":function('trans', 'country-list.GA'),"GM":function('trans', 'country-list.GM'),"GE":function('trans', 'country-list.GE'),"DE":function('trans', 'country-list.DE'),"GH":function('trans', 'country-list.GH'),"GI":function('trans', 'country-list.GI'),"GR":function('trans', 'country-list.GR'),"GL":function('trans', 'country-list.GL'),"GD":function('trans', 'country-list.GD'),"GP":function('trans', 'country-list.GP'),"GU":function('trans', 'country-list.GU'),"GT":function('trans', 'country-list.GT'),"GG":function('trans', 'country-list.GG'),"GN":function('trans', 'country-list.GN'),"GW":function('trans', 'country-list.GW'),"GY":function('trans', 'country-list.GY'),"HT":function('trans', 'country-list.HT'),"HM":function('trans', 'country-list.HM'),"HN":function('trans', 'country-list.HN'),"HK":function('trans', 'country-list.HK'),"HU":function('trans', 'country-list.HU'),"IS":function('trans', 'country-list.IS'),"IN":function('trans', 'country-list.IN'),"ID":function('trans', 'country-list.ID'),"IR":function('trans', 'country-list.IR'),"IQ":function('trans', 'country-list.IQ'),"IM":function('trans', 'country-list.IM'),"IL":function('trans', 'country-list.IL'),"IT":function('trans', 'country-list.IT'),"CI":function('trans', 'country-list.CI'),"JM":function('trans', 'country-list.JM'),"JP":function('trans', 'country-list.JP'),"JE":function('trans', 'country-list.JE'),"JO":function('trans', 'country-list.JO'),"KZ":function('trans', 'country-list.KZ'),"KE":function('trans', 'country-list.KE'),"KI":function('trans', 'country-list.KI'),"XK":function('trans', 'country-list.XK'),"KW":function('trans', 'country-list.KW'),"KG":function('trans', 'country-list.KG'),"LA":function('trans', 'country-list.LA'),"LV":function('trans', 'country-list.LV'),"LB":function('trans', 'country-list.LB'),"LS":function('trans', 'country-list.LS'),"LR":function('trans', 'country-list.LR'),"LY":function('trans', 'country-list.LY'),"LI":function('trans', 'country-list.LI'),"LT":function('trans', 'country-list.LT'),"LU":function('trans', 'country-list.LU'),"MO":function('trans', 'country-list.MO'),"MK":function('trans', 'country-list.MK'),"MG":function('trans', 'country-list.MG'),"MW":function('trans', 'country-list.MW'),"MY":function('trans', 'country-list.MY'),"MV":function('trans', 'country-list.MV'),"ML":function('trans', 'country-list.ML'),"MT":function('trans', 'country-list.MT'),"MH":function('trans', 'country-list.MH'),"MQ":function('trans', 'country-list.MQ'),"MR":function('trans', 'country-list.MR'),"MU":function('trans', 'country-list.MU'),"YT":function('trans', 'country-list.YT'),"MX":function('trans', 'country-list.MX'),"FM":function('trans', 'country-list.FM'),"MD":function('trans', 'country-list.MD'),"MC":function('trans', 'country-list.MC'),"MN":function('trans', 'country-list.MN'),"ME":function('trans', 'country-list.ME'),"MS":function('trans', 'country-list.MS'),"MA":function('trans', 'country-list.MA'),"MZ":function('trans', 'country-list.MZ'),"MM":function('trans', 'country-list.MM'),"NA":function('trans', 'country-list.NA'),"NR":function('trans', 'country-list.NR'),"NP":function('trans', 'country-list.NP'),"NL":function('trans', 'country-list.NL'),"NC":function('trans', 'country-list.NC'),"NZ":function('trans', 'country-list.NZ'),"NI":function('trans', 'country-list.NI'),"NE":function('trans', 'country-list.NE'),"NG":function('trans', 'country-list.NG'),"NU":function('trans', 'country-list.NU'),"NF":function('trans', 'country-list.NF'),"KP":function('trans', 'country-list.KP'),"MP":function('trans', 'country-list.MP'),"NO":function('trans', 'country-list.NO'),"OM":function('trans', 'country-list.OM'),"PK":function('trans', 'country-list.PK'),"PW":function('trans', 'country-list.PW'),"PS":function('trans', 'country-list.PS'),"PA":function('trans', 'country-list.PA'),"PG":function('trans', 'country-list.PG'),"PY":function('trans', 'country-list.PY'),"PE":function('trans', 'country-list.PE'),"PH":function('trans', 'country-list.PH'),"PN":function('trans', 'country-list.PN'),"PL":function('trans', 'country-list.PL'),"PT":function('trans', 'country-list.PT'),"PR":function('trans', 'country-list.PR'),"QA":function('trans', 'country-list.QA'),"CG":function('trans', 'country-list.CG'),"RE":function('trans', 'country-list.RE'),"RO":function('trans', 'country-list.RO'),"RU":function('trans', 'country-list.RU'),"RW":function('trans', 'country-list.RW'),"BL":function('trans', 'country-list.BL'),"SH":function('trans', 'country-list.SH'),"KN":function('trans', 'country-list.KN'),"LC":function('trans', 'country-list.LC'),"MF":function('trans', 'country-list.MF'),"PM":function('trans', 'country-list.PM'),"VC":function('trans', 'country-list.VC'),"WS":function('trans', 'country-list.WS'),"SM":function('trans', 'country-list.SM'),"ST":function('trans', 'country-list.ST'),"SA":function('trans', 'country-list.SA'),"SN":function('trans', 'country-list.SN'),"RS":function('trans', 'country-list.RS'),"SC":function('trans', 'country-list.SC'),"SL":function('trans', 'country-list.SL'),"SG":function('trans', 'country-list.SG'),"SX":function('trans', 'country-list.SX'),"SK":function('trans', 'country-list.SK'),"SI":function('trans', 'country-list.SI'),"SB":function('trans', 'country-list.SB'),"SO":function('trans', 'country-list.SO'),"ZA":function('trans', 'country-list.ZA'),"GS":function('trans', 'country-list.GS'),"KR":function('trans', 'country-list.KR'),"SS":function('trans', 'country-list.SS'),"ES":function('trans', 'country-list.ES'),"LK":function('trans', 'country-list.LK'),"SD":function('trans', 'country-list.SD'),"SR":function('trans', 'country-list.SR'),"SJ":function('trans', 'country-list.SJ'),"SZ":function('trans', 'country-list.SZ'),"SE":function('trans', 'country-list.SE'),"CH":function('trans', 'country-list.CH'),"SY":function('trans', 'country-list.SY'),"TW":function('trans', 'country-list.TW'),"TJ":function('trans', 'country-list.TJ'),"TZ":function('trans', 'country-list.TZ'),"TH":function('trans', 'country-list.TH'),"TG":function('trans', 'country-list.TG'),"TK":function('trans', 'country-list.TK'),"TO":function('trans', 'country-list.TO'),"TT":function('trans', 'country-list.TT'),"TN":function('trans', 'country-list.TN'),"TR":function('trans', 'country-list.TR'),"TM":function('trans', 'country-list.TM'),"TC":function('trans', 'country-list.TC'),"TV":function('trans', 'country-list.TV'),"VI":function('trans', 'country-list.VI'),"UG":function('trans', 'country-list.UG'),"UA":function('trans', 'country-list.UA'),"AE":function('trans', 'country-list.AE'),"US":function('trans', 'country-list.US'),"UM":function('trans', 'country-list.UM'),"UY":function('trans', 'country-list.UY'),"UZ":function('trans', 'country-list.UZ'),"VU":function('trans', 'country-list.VU'),"VA":function('trans', 'country-list.VA'),"VE":function('trans', 'country-list.VE'),"VN":function('trans', 'country-list.VN'),"WF":function('trans', 'country-list.WF'),"EH":function('trans', 'country-list.EH'),"YE":function('trans', 'country-list.YE'),"ZM":function('trans', 'country-list.ZM'),"ZW":function('trans', 'country-list.ZW')}).id('complainant_secondary_address_country') }}
                                    {{ errors.first('complainant_secondary_address_country', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile_label') }}
                                    {{ builder.text('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile') }}
                                    {{ errors.first('complainant_secondary_address_mobile', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.phone')).forId('complainant_secondary_address_phone').id('complainant_secondary_address_phone_label') }}
                                    {{ builder.text('complainant_secondary_address_phone').id('complainant_secondary_address_phone') }}
                                    {{ errors.first('complainant_secondary_address_phone', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.email')).forId('complainant_secondary_address_email').id('complainant_secondary_address_email_label') }}
                                    {{ builder.email('complainant_secondary_address_email').id('complainant_secondary_address_email') }}
                                    {{ errors.first('complainant_secondary_address_email', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm_label') }}
                                    {{ builder.email('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm') }}
                                    {{ errors.first('complainant_secondary_address_email_confirm', '<small class="error">:message</small>') }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_3') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_3_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row " id="complaint_part_two_a">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>Late Submission Details{# NEEDS TRANSLATIONS #}</h2>
                        <fieldset id="incident_details_two" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                            <div>
                                <p id="complaint_time_reason_description">{{ function('trans', 'submit-complaint.complaint_time_reason_description') }}</p>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_time_reason')).forId('complaint_time_reason').id('complaint_time_reason_label') }}
                                {{ builder.textarea('complaint_time_reason').id('complaint_time_reason').rows(10) }}
                                {{ errors.first('complaint_time_reason', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 4000 characters.</small></p>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_4') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_4_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row " id="complaint_part_two">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_4_title') }}</h2>
                        <fieldset id="incident_details" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_date')).forId('complaint_date').id('complaint_date_label') }}
                                {{ builder.text('complaint_date').id('complaint_date').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('complaint_date', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_time')).forId('complaint_time').id('complaint_time_label') }}
                                {{ builder.text('complaint_time').id('complaint_time') }}
                                {{ errors.first('complaint_time', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_location')).forId('complaint_location').id('complaint_location_label') }}
                                {{ builder.text('complaint_location').id('complaint_location') }}
                                {{ errors.first('complaint_location', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_garda_members')).forId('complaint_garda_members').id('complaint_garda_members_label') }}
                                {{ builder.textarea('complaint_garda_members').id('complaint_garda_members').rows(10) }}
                                {{ errors.first('complaint_garda_members', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_5') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_5_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row " id="complaint_part_two_a">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <fieldset id="incident_details_a" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_lead_up')).forId('complaint_lead_up').id('complaint_lead_up_label') }}
                                {{ builder.textarea('complaint_lead_up').id('complaint_lead_up').rows(10) }}
                                {{ errors.first('complaint_lead_up', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_details')).forId('complaint_details').id('complaint_details_label') }}
                                {{ builder.textarea('complaint_details').id('complaint_details').rows(10) }}
                                {{ errors.first('complaint_details', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 4000 characters.</small></p>
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_motive')).forId('complaint_motive').id('complaint_motive_label') }}
                                {{ builder.textarea('complaint_motive').id('complaint_motive').rows(10) }}
                                {{ errors.first('complaint_motive', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 4000 characters.</small></p>
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_witnesses')).forId('complaint_witnesses').id('complaint_witnesses_label') }}
                                {{ builder.textarea('complaint_witnesses').id('complaint_witnesses').rows(10) }}
                                {{ errors.first('complaint_witnesses', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 4000 characters.</small></p>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_6') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_6_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row " id="complaint_part_two_b">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <fieldset id="incident_detail_b" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_evidence')).forId('complaint_evidence').id('complaint_evidence_label') }}
                                {{ builder.textarea('complaint_evidence').id('complaint_evidence').rows(10) }}
                                {{ errors.first('complaint_evidence', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_7') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_7_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row " id="complaint_part_two_c">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <fieldset id="incident_details_c" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_injuries')).forId('complaint_injuries').id('complaint_injuries_label') }}
                                {{ builder.textarea('complaint_injuries').id('complaint_injuries').rows(10) }}
                                {{ errors.first('complaint_injuries', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 4000 characters.</small></p>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_7a') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_7a_help') }}</p>
                    </div>
                </div>
            </div>

            <div class="row" id="complaint_part_two_d">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_8_title') }}</h2>
                        <fieldset id="incident_details_d" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.previous_complaint_station')).forId('previous_complaint_station').id('previous_complaint_station_label') }}
                                    {{ builder.text('previous_complaint_station').id('previous_complaint_station') }}
                                    {{ errors.first('previous_complaint_station', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.previous_complaint_date')).forId('previous_complaint_date').id('previous_complaint_date_label') }}
                                    {{ builder.text('previous_complaint_date').id('previous_complaint_date').placeholder('dd/mm/yyyy') }}
                                    {{ errors.first('previous_complaint_date', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.previous_complaint_garda')).forId('previous_complaint_garda').id('previous_complaint_garda_label') }}
                                    {{ builder.textarea('previous_complaint_garda').id('previous_complaint_garda').rows(10) }}
                                    {{ errors.first('previous_complaint_garda', '<small class="error">:message</small>') }}
                                    <p class="right"><small>Max 100 characters.</small></p>
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.previous_complaint_outcome')).forId('previous_complaint_outcome').id('previous_complaint_outcome_label') }}
                                    {{ builder.textarea('previous_complaint_outcome').id('previous_complaint_outcome').rows(10) }}
                                    {{ errors.first('previous_complaint_outcome', '<small class="error">:message</small>') }}
                                    <p class="right"><small>Max 100 characters.</small></p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_8') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_8_help') }}</p>
                    </div>
                </div>

            </div>

            <div class="row" id="complaint_part_three">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_9_title_1') }}</h2>
                        <fieldset id="false_or_misleading_information" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_9_title_1') }}</legend>
                            <p id="declaration_description">
                                {{ function('trans', 'submit-complaint.declaration_description') }}
                            </p>
                            <div class="checkbox-advanced">
                                {{ builder.checkbox('declaration').value('1').id('declaration') }}
                                {{ builder.label('I am not providing false or misleading information').forId('declaration').id('declaration_label').attribute('class', '') }}
                                {{ errors.first('declaration', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                        <h2 class="mt-3">{{ function('trans', 'submit-complaint.section_9_title_2') }}</h2>
                        <fieldset id="use_of_information" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_9_title_2') }}</legend>
                            <p id="information_description">
                                {{ function('trans', 'submit-complaint.information_description') }}
                            </p>
                            <div class="checkbox-advanced">
                                
                                {{ builder.checkbox('information').value('1').id('information') }}
                                {{ builder.label('I agree to use of information').forId('information').id('information_label').attribute('class', '') }}
                                {{ errors.first('information', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                        <div class="mt-3">
                            <input type="submit" name="submit" value="{{ function('trans', 'submit-complaint.submit') }}">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                </div>
            </div>



    </section>

{{ builder.close() }}