{{ builder.open().action('/forms/complaint').id('complaintForm') }}

    <section class="complaint-form">
  
            <div class="row" id="complaint_about_you">
                <div class="col-12 col-lg-9">
                    <div class="container">

                        {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                        {% if function('trans', 'submit-complaint.pre_title') %}
                            <h2>{{ function('trans', 'submit-complaint.pre_title') }}</h2>
                        {% endif %}
                    
     
                        {% if errors|length >= 1 %}
                            <p id="error-warning"><small class="error">Please check the errors marked in red below, before submitting your form.</small></p>
                        {% endif %}
                        
                        <hr />


                        <h2>{{ function('trans', 'submit-complaint.section_2_title') }}</h2>

                        {% if function('trans', 'submit-complaint.pre_section_2_content') %}
                            <div>{{ function('trans', 'submit-complaint.pre_section_2_content') }}</div>
                        {% endif %}
                        
                        <fieldset id="personal_details_1a" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_2_title') }}</legend>
                            <div class="parallel-inputs">
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('complainant_forename').id('complainant_name_label') }}
                                {{ builder.text('complainant_forename').id('complainant_forename').placeholder(function('trans', 'submit-complaint.forename_placeholder')) }}
                                {{ errors.first('complainant_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('complainant_surname').id('complainant_surname_label').attribute('class', 'visually-hidden') }}
                                {{ builder.text('complainant_surname').id('complainant_surname').placeholder(function('trans', 'submit-complaint.surname_placeholder')) }}
                                {{ errors.first('complainant_surname', '<small class="error">:message</small>') }}
                            </div>

                            <div>

                                {{ builder.label(function('trans', 'submit-complaint.street')).forId('complainant_primary_address_street').id('complainant_primary_address_street_label') }}
                                {{ builder.text('complainant_primary_address_street').id('complainant_primary_address_street') }}
                                {{ errors.first('complainant_primary_address_street', '<small class="error">:message</small>') }}


                                {{ builder.label(function('trans', 'submit-complaint.street2')).forId('complainant_primary_address_street2').id('complainant_primary_address_street2_label') }}
                                {{ builder.text('complainant_primary_address_street2').id('complainant_primary_address_street2') }}
                                {{ errors.first('complainant_primary_address_street2', '<small class="error">:message</small>') }}


                                {{ builder.label(function('trans', 'submit-complaint.street3')).forId('complainant_primary_address_street3').id('complainant_primary_address_street3_label') }}
                                {{ builder.text('complainant_primary_address_street3').id('complainant_primary_address_street3') }}
                                {{ errors.first('complainant_primary_address_street3', '<small class="error">:message</small>') }}


                                {{ builder.label(function('trans', 'submit-complaint.town')).forId('complainant_primary_address_town').id('complainant_primary_address_town_label') }}
                                {{ builder.text('complainant_primary_address_town').id('complainant_primary_address_town') }}
                                {{ errors.first('complainant_primary_address_town', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.county')).forId('complainant_primary_address_county').id('complainant_primary_address_county_label') }}
                                {{ builder.text('complainant_primary_address_county').id('complainant_primary_address_county') }}
                                {{ errors.first('complainant_primary_address_county', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.postcode')).forId('complainant_primary_address_postcode').id('complainant_primary_address_postcode_label') }}
                                {{ builder.text('complainant_primary_address_postcode').id('complainant_primary_address_postcode') }}
                                {{ errors.first('complainant_primary_address_postcode', '<small class="error">:message</small>') }}

                        
                                {{ builder.label(function('trans', 'submit-complaint.date_of_birth')).forId('complainant_date_of_birth').id('complainant_date_of_birth_label') }}
                                {{ builder.text('complainant_date_of_birth').id('complainant_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('complainant_date_of_birth', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('complainant_primary_address_mobile').id('complainant_primary_address_mobile_label') }}
                                {{ builder.text('complainant_primary_address_mobile').id('complainant_primary_address_mobile') }}
                                {{ errors.first('complainant_primary_address_mobile', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.phone')).forId('complainant_primary_address_phone').id('complainant_primary_address_phone_label') }}
                                {{ builder.text('complainant_primary_address_phone').id('complainant_primary_address_phone') }}
                                {{ errors.first('complainant_primary_address_phone', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.email')).forId('complainant_primary_address_email').id('complainant_primary_address_email_label') }}
                                {{ builder.email('complainant_primary_address_email').id('complainant_primary_address_email') }}
                                {{ errors.first('complainant_primary_address_email', '<small class="error">:message</small>') }}

                                {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm_label') }}
                                {{ builder.email('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm') }}
                                {{ errors.first('complainant_primary_address_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>


                    </div>
                </div>

                <div class="col-12 col-lg-3">

                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.change_language') }}</h2>
                        <ul class="language-selection wider">
                            <li><a href="/language/switch/en/">EN</a></li>
                            <li><a href="/language/switch/ga/">GA</a></li>
                            <li><a href="/language/switch/fr/">FR</a></li>
                            <li><a href="/language/switch/pl/">PL</a></li>
                            <li><a href="/language/switch/pt/">PT</a></li>
                            <li><a href="/language/switch/ro/">RO</a></li>
                            <li><a href="/language/switch/ru/">RU</a></li>
                            <li><a href="/language/switch/tl/">TL</a></li>
                            <li><a href="/language/switch/zhs/">ZHS</a></li>
                            <li><a href="/language/switch/zht/">ZHT</a></li>
                        </ul>
                        <hr />
                        <h2>{{ function('trans', 'submit-complaint.help_header_1') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_1_help') }}</p>
                    </div>

                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_2_a') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_2_help_1') }}</p>
                        <hr />
                        <h2>{{ function('trans', 'submit-complaint.help_header_2_b') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_2_help_2') }}</p>
                    </div>
                </div>
            </div>

            <div class="row" id="complaint_part_one_section_b">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_3_title') }}</h2>

                        <fieldset id="is_representative_required">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.representative_required_title') }}</legend>

                            {% if function('trans', 'submit-complaint.post_section_2_content') %}
                                <div class="explainer">{{ function('trans', 'submit-complaint.post_section_2_content') }}</div>
                            {% endif %}

                            <p id="representative_required_description" aria-hidden="true" class="mt-3 mb-0">{{ function('trans', 'submit-complaint.representative_required_title') }}</p>

                            {{ builder.radio('representative_required_check').value(0).id('representative_required_no').check() }} {{ builder.label(function('trans', 'submit-complaint.representative_required_no')).forId('representative_required_no').id('representative_required_no_label') }}
                            {{ builder.radio('representative_required_check').value(1).id('representative_required_yes') }}  {{ builder.label(function('trans', 'submit-complaint.representative_required_yes')).forId('representative_required_yes').id('representative_required_yes_label') }}

                            {{ errors.first('representative_required_check', '<small class="error">:message</small>') }}

                        </fieldset>


                        <fieldset id="personal_details_1b" class="no-border {{ (builder.getValueFor('representative_required_check') == 1) ? '' : 'd-none' }}">

                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                            {#<p id="behalf_details">{{ function('trans', 'submit-complaint.behalf_details') }}</p>#}

                            <fieldset id="has_consent_form"  class="simple-legend">
                                <legend class="">{{ function('trans', 'submit-complaint.has_consent_form_description') }}</legend>

                                {{ builder.checkbox('has_consent_form_check').value('1').id('has_consent_form_check') }} {{ builder.label(function('trans', 'submit-complaint.has_consent_form_check')).forId('has_consent_form_check').id('has_consent_form_check_label').attribute('class', '') }}

                                {{ errors.first('has_consent_form_check', '<small class="error">:message</small>') }}

                            </fieldset>

                            {#<div>
                                {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type')).forId('third_party_representative_type').id('third_party_representative_type_label') }}
                                {{ builder.select('third_party_representative_type', {'' : 'Select:', 'Guardian' : function('trans', 'submit-complaint.third_party_representative_type_1'), 'Legal Representative' : function('trans', 'submit-complaint.third_party_representative_type_2'), 'Parent' : function('trans', 'submit-complaint.third_party_representative_type_3'), 'Social Worker' : function('trans', 'submit-complaint.third_party_representative_type_4'), 'Other' : function('trans', 'submit-complaint.third_party_representative_type_5')}).id('third_party_representative_type') }}
                            </div>#}

                            <fieldset id="third_party_representative_selector" class="simple-legend">

                                <legend>{{ function('trans', 'submit-complaint.third_party_representative_type') }}</legend>

                                {{ builder.radio('third_party_representative_type').value( function('trans', 'submit-complaint.third_party_representative_type_1') ).id('third_party_representative_type_1') }} {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type_1')).forId('third_party_representative_type_1').id('third_party_representative_type_1_label') }}

                                {{ builder.radio('third_party_representative_type').value( function('trans', 'submit-complaint.third_party_representative_type_2') ).id('third_party_representative_type_2') }} {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type_2')).forId('third_party_representative_type_2').id('third_party_representative_type_2_label') }}

                                {{ builder.radio('third_party_representative_type').value( function('trans', 'submit-complaint.third_party_representative_type_3') ).id('third_party_representative_type_3') }} {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type_3')).forId('third_party_representative_type_3').id('third_party_representative_type_3_label') }}

                                {{ builder.radio('third_party_representative_type').value( function('trans', 'submit-complaint.third_party_representative_type_4') ).id('third_party_representative_type_4') }} {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type_4')).forId('third_party_representative_type_4').id('third_party_representative_type_4_label') }}

                                {{ builder.radio('third_party_representative_type').value( function('trans', 'submit-complaint.third_party_representative_type_5') ).id('third_party_representative_type_5') }} {{ builder.label(function('trans', 'submit-complaint.third_party_representative_type_5')).forId('third_party_representative_type_5').id('third_party_representative_type_5_label') }}
                        
                            </fieldsets>


                            <div id="third_party_representative_other_description_holder" class="d-none">

                                {{ builder.label(function('trans', 'submit-complaint.third_party_representative_other_description')).forId('third_party_representative_other_description').id('third_party_representative_other_description_label') }}
                                {{ builder.text('third_party_representative_other_description').id('third_party_representative_other_description') }}
                                {{ errors.first('third_party_representative_other_description', '<small class="error">:message</small>') }}

                            </div>


                            <div class="parallel-inputs">
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('third_party_representative_forename').id('third_party_representative_name_label') }}
                                {{ builder.text('third_party_representative_forename').id('third_party_representative_forename').placeholder(function('trans', 'submit-complaint.forename_placeholder')) }}
                                {{ errors.first('third_party_representative_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('trans', 'submit-complaint.forename')).forId('third_party_representative_surname').id('third_party_representative_surname_label').attribute('class', 'visually-hidden') }}
                                {{ builder.text('third_party_representative_surname').id('third_party_representative_surname').placeholder(function('trans', 'submit-complaint.surname_placeholder')) }}
                                {{ errors.first('third_party_representative_surname', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.third_party_date_of_birth')).forId('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth_label') }}
                                {{ builder.text('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('third_party_representative_date_of_birth', '<small class="error">:message</small>') }}
                            </div>


                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('third_party_representative_mobile').id('third_party_representative_mobile_label') }}
                                {{ builder.text('third_party_representative_mobile').id('third_party_representative_mobile') }}
                                {{ errors.first('third_party_representative_mobile', '<small class="error">:message</small>') }}
                            </div>

                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.email')).forId('third_party_representative_email').id('third_party_representative_email_label') }}
                                {{ builder.email('third_party_representative_email').id('third_party_representative_email') }}
                                {{ errors.first('third_party_representative_email', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('third_party_representative_email_confirm').id('third_party_representative_email_confirm_label') }}
                                {{ builder.email('third_party_representative_email_confirm').id('third_party_representative_email_confirm') }}
                                {{ errors.first('third_party_representative_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                <fieldset id="correspondence">
                                    <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                                    <p id="correspondence_description">{{ function('trans', 'submit-complaint.correspondence_description') }}</p>
                                    {{ builder.radio('correspondence_check').value(0).id('correspondence_same').check() }} {{ builder.label(function('trans', 'submit-complaint.correspondence_same')).forId('correspondence_same').id('correspondence_same_label') }}
                                    {{ builder.radio('correspondence_check').value(1).id('correspondence_different') }}  {{ builder.label(function('trans', 'submit-complaint.correspondence_different')).forId('correspondence_different').id('correspondence_different_label') }}
                                </fieldset>
                            </div>
                            <div id="complainant_secondary_address" class="d-none">
                                <div class="different__address">
                                    <h3>{{ function('trans', 'submit-complaint.section_3_subtitle') }}</h3>
                                    {{ builder.label(function('trans', 'submit-complaint.street')).forId('complainant_secondary_address_street').id('complainant_secondary_address_street_label') }}
                                    {{ builder.text('complainant_secondary_address_street').id('complainant_secondary_address_street') }}
                                    {{ errors.first('complainant_secondary_address_street', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.town')).forId('complainant_secondary_address_town').id('complainant_secondary_address_town_label') }}
                                    {{ builder.text('complainant_secondary_address_town').id('complainant_secondary_address_town') }}
                                    {{ errors.first('complainant_secondary_address_town', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.county')).forId('complainant_secondary_address_county').id('complainant_secondary_address_county_label') }}
                                    {{ builder.text('complainant_secondary_address_county').id('complainant_secondary_address_county') }}
                                    {{ errors.first('complainant_secondary_address_county', '<small class="error">:message</small>') }}

                                    {{ builder.label(function('trans', 'submit-complaint.postcode')).forId('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode_label') }}
                                    {{ builder.text('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode') }}
                                    {{ errors.first('complainant_secondary_address_postcode', '<small class="error">:message</small>') }}

                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.mobile')).forId('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile_label') }}
                                    {{ builder.text('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile') }}
                                    {{ errors.first('complainant_secondary_address_mobile', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.phone')).forId('complainant_secondary_address_phone').id('complainant_secondary_address_phone_label') }}
                                    {{ builder.text('complainant_secondary_address_phone').id('complainant_secondary_address_phone') }}
                                    {{ errors.first('complainant_secondary_address_phone', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.email')).forId('complainant_secondary_address_email').id('complainant_secondary_address_email_label') }}
                                    {{ builder.email('complainant_secondary_address_email').id('complainant_secondary_address_email') }}
                                    {{ errors.first('complainant_secondary_address_email', '<small class="error">:message</small>') }}
                                </div>
                                <div>
                                    {{ builder.label(function('trans', 'submit-complaint.email_confirm')).forId('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm_label') }}
                                    {{ builder.email('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm') }}
                                    {{ errors.first('complainant_secondary_address_email_confirm', '<small class="error">:message</small>') }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('trans', 'submit-complaint.help_header_3') }}</h2>
                        <p>{{ function('trans', 'submit-complaint.section_3_help') }}</p>
                    </div>
                </div>
            </div>


            <div class="row " id="complaint_part_two">
                <div class="col-12 col-lg-9">
                    <div class="container">
                        <h2>{{ function('trans', 'submit-complaint.section_4_title') }}</h2>

                        <fieldset id="incident_details" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_date')).forId('complaint_date').id('complaint_date_label') }}
                                {{ builder.text('complaint_date').id('complaint_date').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('complaint_date', '<small class="error">:message</small>') }}
                            </div>

                            <div class="d-none" id="late_submission_content">
                                <h3>Late Submission Details{# NEEDS TRANSLATIONS #}</h3>
                                <fieldset id="incident_details_two" class="no-border">
                                    <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_3_title') }}</legend>
                                    <div>
                                        {#<p id="complaint_time_reason_description">{{ function('trans', 'submit-complaint.complaint_time_reason_description') }}</p>#}
                                        {{ builder.label(function('trans', 'submit-complaint.complaint_time_reason')).forId('complaint_time_reason').id('complaint_time_reason_label') }}
                                        {{ builder.textarea('complaint_time_reason').id('complaint_time_reason').rows(10) }}
                                        {{ errors.first('complaint_time_reason', '<small class="error">:message</small>') }}
                                        <p class="right"><small>Max 200 words.</small></p>
                                    </div>
                                </fieldset>
                            </div>

                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_time')).forId('complaint_time').id('complaint_time_label') }}
                                {{ builder.text('complaint_time').id('complaint_time') }}
                                {{ errors.first('complaint_time', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_location')).forId('complaint_location').id('complaint_location_label') }}
                                {{ builder.text('complaint_location').id('complaint_location') }}
                                {{ errors.first('complaint_location', '<small class="error">:message</small>') }}
                            </div>
                            <div class="with-explainer">
                                {{ builder.label(function('trans', 'submit-complaint.complaint_garda_members')).forId('complaint_garda_members').id('complaint_garda_members_label') }}

                                {{ builder.textarea('complaint_garda_members').id('complaint_garda_members').rows(10) }}
                                {{ errors.first('complaint_garda_members', '<small class="error">:message</small>') }}


                                {% if function('trans', 'submit-complaint.complaint_garda_members_description') %}
                                    <div class="explainer">{{ function('trans', 'submit-complaint.complaint_garda_members_description') }}</div>
                                {% endif %}

                            </div>
                        </fieldset>

                        <fieldset id="incident_details_a" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                            <div class="with-explainer">
                                {{ builder.label(function('trans', 'submit-complaint.complaint_details')).forId('complaint_details').id('complaint_details_label') }}

                                {{ builder.textarea('complaint_details').id('complaint_details').rows(10) }}
                                {{ errors.first('complaint_details', '<small class="error">:message</small>') }}

                                {% if function('trans', 'submit-complaint.complaint_description') %}
                                    <div class="explainer">{{ function('trans', 'submit-complaint.complaint_description') }}</div>
                                {% endif %}


                                <p class="right"><small>Max 200 words.</small></p>
                            </div>
                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_lead_up')).forId('complaint_lead_up').id('complaint_lead_up_label') }}
                                {{ builder.textarea('complaint_lead_up').id('complaint_lead_up').rows(10) }}
                                {{ errors.first('complaint_lead_up', '<small class="error">:message</small>') }}
                            </div>

                            <div>
                                {{ builder.label(function('trans', 'submit-complaint.complaint_motive')).forId('complaint_motive').id('complaint_motive_label') }}
                                {{ builder.textarea('complaint_motive').id('complaint_motive').rows(10) }}
                                {{ errors.first('complaint_motive', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 200 words.</small></p>
                            </div>


                            <div>
                                <fieldset id="has_witnesses">
                                    <legend class="">{{ function('trans', 'submit-complaint.has_witnesses_title') }}</legend>
                                    <p id="has_witnesses_description" style="margin-bottom:0px">{{ function('trans', 'submit-complaint.has_witnesses_description') }}</p>
                                    {{ builder.radio('has_witnesses_check').value(0).id('has_witnesses_true') }} {{ builder.label(function('trans', 'submit-complaint.has_witnesses_true')).forId('has_witnesses_true').id('has_witnesses_true_label') }}
                                    {{ builder.radio('has_witnesses_check').value(1).id('has_witnesses_false') }}  {{ builder.label(function('trans', 'submit-complaint.has_witnesses_false')).forId('has_witnesses_false').id('has_witnesses_false_label') }}
                                </fieldset>
                            </div>

                            <div id="witnesses_area" class="d-none">
                                {{ builder.label(function('trans', 'submit-complaint.complaint_witnesses')).forId('complaint_witnesses').id('complaint_witnesses_label') }}
                                {{ builder.textarea('complaint_witnesses').id('complaint_witnesses').rows(10) }}
                                {{ errors.first('complaint_witnesses', '<small class="error">:message</small>') }}
                                <p class="right"><small>Max 200 words.</small></p>
                            </div>
                        </fieldset>

                        <fieldset id="has_evidence">
                            <legend class="">{{ function('trans', 'submit-complaint.has_evidence_title') }}</legend>
                            <p id="has_evidence_description" style="margin-bottom:0px">{{ function('trans', 'submit-complaint.has_evidence_description') }}</p>
                            {{ builder.radio('has_evidence_check').value(0).id('has_evidence_true') }} {{ builder.label(function('trans', 'submit-complaint.has_evidence_true')).forId('has_evidence_true').id('has_evidence_true_label') }}
                            {{ builder.radio('has_evidence_check').value(1).id('has_evidence_false') }}  {{ builder.label(function('trans', 'submit-complaint.has_evidence_false')).forId('has_evidence_false').id('has_evidence_false_label') }}
                        </fieldset>
                       

                        <div id="evidence_area" class="d-none">

                            <fieldset id="incident_detail_b" class="no-border">
                                <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                                <div class="with-explainer">
                                    {{ builder.label(function('trans', 'submit-complaint.complaint_evidence')).forId('complaint_evidence').id('complaint_evidence_label') }}
                                    {{ builder.textarea('complaint_evidence').id('complaint_evidence').rows(10) }}
                                    {{ errors.first('complaint_evidence', '<small class="error">:message</small>') }}

        
                                    {% if function('trans', 'submit-complaint.has_evidence_explainer') %}
                                        <div class="explainer"><p>{{ function('trans', 'submit-complaint.has_evidence_explainer') }}</p></div>
                                    {% endif %}

                                    <p class="right"><small>Max 200 words.</small></p>

                                </div>
                            </fieldset>
                        </div>

                        <fieldset id="has_injuries">
                            <legend class="">{{ function('trans', 'submit-complaint.has_injuries_title') }}</legend>
                            <p id="has_injuries_description" style="margin-bottom:0px">{{ function('trans', 'submit-complaint.has_injuries_description') }}</p>
                            {{ builder.radio('has_injuries_check').value(0).id('has_injuries_true') }} {{ builder.label(function('trans', 'submit-complaint.has_injuries_true')).forId('has_injuries_true').id('has_injuries_true_label') }}
                            {{ builder.radio('has_injuries_check').value(1).id('has_injuries_false') }}  {{ builder.label(function('trans', 'submit-complaint.has_injuries_false')).forId('has_injuries_false').id('has_injuries_false_label') }}

                        </fieldset>


                        <div id="injuries_area" class="d-none">


                            <fieldset id="incident_details_c" class="no-border">
                                <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_4_title') }}</legend>
                                <div class="with-explainer">
                                    {{ builder.label(function('trans', 'submit-complaint.complaint_injuries')).forId('complaint_injuries').id('complaint_injuries_label') }}
                                    {{ builder.textarea('complaint_injuries').id('complaint_injuries').rows(10) }}
                                    {{ errors.first('complaint_injuries', '<small class="error">:message</small>') }}
        
                                    {% if function('trans', 'submit-complaint.has_injuries_explainer') %}
                                        <div class="explainer"><p class="">{{ function('trans', 'submit-complaint.has_injuries_explainer') }}</p></div>
                                    {% endif %}

                                    <p class="right"><small>Max 200 words.</small></p>
                                </div>
                            </fieldset>



                        </div>
                    </div>
                </div>

            </div>


            <div class="row" id="complaint_part_three">
                <div class="col-12 col-lg-9">
                    <div class="container">


                        <h2 class="mt-3">{{ function('trans', 'submit-complaint.section_9_title_0') }}</h2>
                        <fieldset id="child_protection_information" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_9_title_0') }}</legend>
                            <p id="protection_description">
                                {{ function('trans', 'submit-complaint.protection_description') }}
                            </p>
                            <div class="checkbox-advanced">
                                {{ builder.checkbox('child_protection_declaration').value('1').id('child_protection_declaration') }}
                                {{ builder.label('I understand the Child Protection and Welfare Obligations of GSOC').forId('child_protection_declaration').id('child_protection_declaration_label').attribute('class', '') }}
                                {{ errors.first('child_protection_declaration', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>


                        <h2 class="mt-3">{{ function('trans', 'submit-complaint.section_9_title_1') }}</h2>
                        <fieldset id="false_or_misleading_information" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_9_title_1') }}</legend>
                            <p id="declaration_description">
                                {{ function('trans', 'submit-complaint.declaration_description') }}
                            </p>
                            <div class="checkbox-advanced">
                                {{ builder.checkbox('declaration').value('1').id('declaration') }}
                                {{ builder.label('I understand Section 110 of Garda Síochána Act').forId('declaration').id('declaration_label').attribute('class', '') }}
                                {{ errors.first('declaration', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>


                        <h2 class="mt-3">{{ function('trans', 'submit-complaint.section_9_title_2') }}</h2>
                        <fieldset id="use_of_information" class="no-border">
                            <legend class="visually-hidden">{{ function('trans', 'submit-complaint.section_9_title_2') }}</legend>
                            <p id="information_description">
                                {{ function('trans', 'submit-complaint.information_description') }}
                            </p>
                            <div class="checkbox-advanced">
                                
                                {{ builder.checkbox('information').value('1').id('information') }}
                                {{ builder.label('I acknowledge the basis which GSOC use my information and how it may be shared').forId('information').id('information_label').attribute('class', '') }}
                                {{ errors.first('information', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>
                        <div class="mt-3">
                            <input type="submit" name="submit" value="{{ function('trans', 'submit-complaint.submit') }}">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                </div>
            </div>



    </section>

{{ builder.close() }}