
                                {% set crumb_count = 0 %}

                                <div class="crumbs" role="navigation" aria-label="Breadcrumb">

                                    <ul class="horizontal-icons crumbed smaller primary">
                                        <li><a href="/">Home</a></li>

                                        {% if crumbs_parent and crumb_type == "taxonomy" %}
                                        
                                        <li><a href="{{ fn('get_permalink', crumbs_parent.id ) }}">{{ crumbs_parent.title }}</a></li>
                                        
                                        {% endif %}

                                        {% for crumb in crumbs %}

                                            {% set crumb_hide = '' %}
                                            {% if crumbs|length > 3 and crumb_count < 2 %}
                                                {% set crumb_hide = " hide" %}
                                            {% endif %}

                                            <li class="{{crumb_hide}}">{% if crumb.link %}<a href="{{ crumb.link }}">{{ crumb.title }}</a>{% elseif crumb_type and crumb_type == "taxonomy" %}<a href="{{ fn('get_term_link', crumb) }}">{{ crumb.name }}</a> {% endif %}</li>
                                        
                                            {% set crumb_count = crumb_count + 1 %}
                                        {% endfor %}

                                    </ul>
                                </div>
