

		        <div class="emergency-situation-content">
		            <div class="row">
		                <div class="col-12">
		                    <div class="callout"e>

		                        {{ fn('wpautop', emergency_contents ) }}


		                    </div>

		                </div>
		            </div>
		        </div>