

                        <div class="pagination">
                                <ul role="navigation" aria-label="Pagination in this section" class="pagination-bar d-none d-md-block">

                                {% if pagination.prev %}
        
                                        <li class="pagination-prev {{pagination.prev.link|length ? '' : 'disabled'}}">
                                                <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">
                                                        <span aria-hidden="true">&lsaquo;</span>
                                                        <span class="visually-hidden">Previous page</span>
                                                </a>
                                        </li>
        
                                {% endif %}

                                {% for page in pagination.pages %}

                                        <li class="page-number-links {{page.class}}">

                                                {% if page.title == "dots" %}

                                                <span aria-hidden="true">{{page.text}}</span>

                                                {% else %}

                                                <a href="{{ page.link }}" aria-label="Visit results page: {{ page.title }}">{{ (page.text) ? page.text : page.title }}</a>

                                                {% endif %}

                                        </li>

                                {% endfor %}

                                {% if pagination.next %}
        
                                        <li class="pagination-next {{pagination.next.link|length ? '' : 'disabled'}}">
                                                <a href="{{ pagination.next.link }}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">
                                                        <span aria-hidden="true">&rsaquo;</span>
                                                        <span class="visually-hidden">Next page</span>
                                                </a>
                                        </li>
        
                                {% endif %}

                                </ul>
                                <div class="mobile-pagination d-md-none" aria-hidden="true">
                                        <select name="pagination" id="pagination-select" tabindex="-1">

                                                {% for page in pagination.pages %}
                                        
                                                        <option {% if pagination.current == page.title %}selected{% endif %} value="{{page.link}}">{{page.title}}</option>
                                        
                                                {% endfor %}
                                        
                                        </select>
                                        <label for="pagination-select" class="d-none">Choose a page to visit:</label>
                                </div>
                        </div>
