            
    
                    <div class="social-buttons">
                        <p class="social-header">
                            Share this page:
                        </p>

                        <ul class="horizontal-icons brand-icon {{ extra_class }}">

                            <li class="apply-facebook">

                                <a href="http://www.facebook.com/sharer.php?u={{ post.link|url_encode }}&amp;t={{ post.title | url_encode }}" rel="noopener" target="_blank" class="no-process">
                                    <span class="visually-hidden">Share on Facebook</span>
                                </a>

                            </li>
                            
                            <li class="apply-twitter">
                                <a href="http://twitter.com/share?text={{ post.title|url_encode }}&amp;url={{ post.link | url_encode }}" rel="noopener" target="_blank" title="Share on Twitter" class="no-process">
                                    <span class="visually-hidden">Share on Twitter</span>
                                </a>
                            </li>

                            <li class="apply-linkedin">

                                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.link|url_encode }}&title={{ post.title | url_encode }}" rel="noopener" target="_blank" title="Share on LinkedIn" class="no-process">
                                    <span class="visually-hidden">Share on LinkedIn</span>
                                </a>

                            </li>

                        </ul>

                    </div>
