{% if page.parent or page.half_siblings %}<nav class="side-navigation" aria-label="Sectional">
{% if page.parent %}<h2><a href="{{ page.parent.link }}">{{ page.parent.title }}</a></h2>
{% elseif page.top_parent %}<h2><a href="{{ page.top_parent.link }}">{{ page.top_parent.title }}</a></h2>{% endif %}
{% if page.half_siblings %}
<ul class="vertical-icons all-links">
{% for child in page.half_siblings %}
{% if child.id != 1504 %}
<li class="{{ ( child.id == page.id ) ? 'active' : '' }}">
<a href="{{ child.link }}">{{ child.title }}</a>
{% if child.id == page.id and page.children %}
<ul>
{% for gchild in page.children %}
<li><a href="{{ gchild.link }}">{{ gchild.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
</nav>{% endif %}{# LDEP ISSUES ON THIS TPL #}