
			{% if image %}
			
			    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="{{ image.src }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}" data-title="{{ caption }}"  class="fancybox" rel="lightbox">
			            <img loading="lazy" src="{{ image.src(size) }}" alt="{{ image.alt }}" itemprop="thumbnail"  />
			        </a>

			        {% if caption %}<figcaption itemprop="caption description">{{ caption }}</figcaption>{% endif %}
			    
			    </figure>
			
			{% endif %}