
		{% if image %}

		    <figure itemprop="associatedMedia" itemtype="http://schema.org/ImageObject">
		        <img loading="lazy" src="{{ image.src(size) }}" alt="{{ image.alt }}" itemprop="thumbnail" class="{{ (caption) ? 'has-caption' : '' }} {{ extra_class }}" />
		   
		    	{% if caption %}

		        <figcaption itemprop="caption description">{{ caption }}</figcaption>
		    
		    	{% endif %}

		    </figure>

		{% endif %}