{% if image %}

    <figure itemprop="associatedMedia" class="simple__image" itemscope itemtype="http://schema.org/ImageObject">

        <img loading="lazy" src="{{ image.src(size) }}" alt="{{ image.alt }}" itemprop="thumbnail" srcset="{{ image.src(size)|retina(1) }} 1x, {{ image.src(size)|retina(2) }} 2x">

        {% if caption %}

            <figcaption itemprop="caption description">{{ caption }}</figcaption>

        {% endif %}

    </figure>

{% endif %}