{% if image %}
    <figure itemprop="associatedMedia" class="simple__image" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ image.src }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}" target="_blank">
            <img loading="lazy" src="{{ image.src(size) }}" alt="{{ image.alt }}" itemprop="thumbnail" srcset="{{ image.src(size)|retina(1) }} 1x, {{ image.src(size)|retina(2) }} 2x">
        </a>
        {% if image.caption %}
            <figcaption itemprop="caption description">{{ image.caption }}</figcaption>
        {% endif %}
    </figure>
{% else %}
    <img src="//placehold.it/1920x1080" />
{% endif %}