{#{ builder.open().action('/forms/pdf').id('pdf_generator') }#}


					<section class="{{ fn('setRTLClassIfNeeded') }}">
					    <h1>{{ function('trans', 'confirmation.title') }}</h1>
					    <hr />
						<div class="wysiwyg-content">
						    <p>{{ function('trans', 'confirmation.paragraph_1') }}</p>
						    <p>{{ function('trans', 'confirmation.paragraph_2') }}</p>
						    {#<input type="submit" name="submit" value="{{ function('trans', 'confirmation.cta_button') }}">#}

						    <a href="/forms/pdf" target="_blank" rel="noopener" class="button btn">{{ function('trans', 'confirmation.cta_button') }}</a>

						    <hr />
						    <h3>{{ function('trans', 'confirmation.subtitle') }}</h3>
						    {{ function('trans', 'confirmation.list') }}
						</div>
						<hr />

					</section>
					    
{#{ builder.close() }#}
