{{ builder.open().action('/forms/complaint').id('complaintForm') }}

    <section class="complaint-form {{ fn('setRTLClassIfNeeded') }}" data-consent-form-path="{{ function('getLanguageConsentFormPath') }}">
  
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="container">

                        {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                        <h1>{{ function('translateComplaintForm', 'title', 'page') }}</h1>
                    
     
                        {% if errors|length >= 1 %}

                            <p id="error-warning"><small class="error">{{ function('translateComplaintForm', 'error_msg', 'page') }}</small></p>

                        {% endif %}
                        
                        <hr />
                        
                        <fieldset id="complainant_section" class="no-border">

                            <legend class="as-title">{{ function('translateComplaintForm', 'complainant_legend', 'fields') }}</legend>
                            
                            {{ function('translateComplaintForm', 'complainant_introduction', 'sections') }}

                            <input type="hidden" id="form_url" name="form_url" value="{{ form_url }}">

                            <div class="parallel-inputs">
                                
                                {{ builder.label(function('translateComplaintForm', 'complainant_name', 'fields')~' *').forId('complainant_forename').id('complainant_name_label') }}

                                {{ builder.text('complainant_forename').id('complainant_forename').placeholder(function('translateComplaintForm', 'complainant_forename', 'fields')) }}
                                {{ errors.first('complainant_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('translateComplaintForm', 'complainant_surname', 'fields')).forId('complainant_surname').id('complainant_surname_label').attribute('class', 'visually-hidden') }}

                                {{ builder.text('complainant_surname').id('complainant_surname').placeholder(function('translateComplaintForm', 'complainant_surname', 'fields')) }}
                                {{ errors.first('complainant_surname', '<small class="error">:message</small>') }}
                            </div>

                            <div>

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_street', 'fields')~' *').forId('complainant_primary_address_street').id('complainant_primary_address_street_label') }}
                                {{ builder.text('complainant_primary_address_street').id('complainant_primary_address_street') }}
                                {{ errors.first('complainant_primary_address_street', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_street2', 'fields')).forId('complainant_primary_address_street2').id('complainant_primary_address_street2_label') }}
                                {{ builder.text('complainant_primary_address_street2').id('complainant_primary_address_street2') }}
                                {{ errors.first('complainant_primary_address_street2', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_street3', 'fields')).forId('complainant_primary_address_street3').id('complainant_primary_address_street3_label') }}
                                {{ builder.text('complainant_primary_address_street3').id('complainant_primary_address_street3') }}
                                {{ errors.first('complainant_primary_address_street3', '<small class="error">:message</small>') }}


                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_town', 'fields')~' *').forId('complainant_primary_address_town').id('complainant_primary_address_town_label') }}
                                {{ builder.text('complainant_primary_address_town').id('complainant_primary_address_town') }}
                                {{ errors.first('complainant_primary_address_town', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_county', 'fields')).forId('complainant_primary_address_county').id('complainant_primary_address_county_label') }}
                                {{ builder.text('complainant_primary_address_county').id('complainant_primary_address_county') }}
                                {{ errors.first('complainant_primary_address_county', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_postcode', 'fields')).forId('complainant_primary_address_postcode').id('complainant_primary_address_postcode_label') }}
                                {{ builder.text('complainant_primary_address_postcode').id('complainant_primary_address_postcode') }}
                                {{ errors.first('complainant_primary_address_postcode', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_country', 'fields')).forId('complainant_primary_address_country').id('complainant_primary_address_country_label') }}
                                {{ builder.text('complainant_primary_address_country').id('complainant_primary_address_country') }}
                                {{ errors.first('complainant_primary_address_country', '<small class="error">:message</small>') }}

                        
                                {{ builder.label(function('translateComplaintForm', 'complainant_date_of_birth', 'fields')~' *').forId('complainant_date_of_birth').id('complainant_date_of_birth_label') }}
                                {{ builder.text('complainant_date_of_birth').id('complainant_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('complainant_date_of_birth', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_mobile', 'fields')~' *').forId('complainant_primary_address_mobile').id('complainant_primary_address_mobile_label') }}
                                {{ builder.text('complainant_primary_address_mobile').id('complainant_primary_address_mobile') }}
                                {{ errors.first('complainant_primary_address_mobile', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_phone', 'fields')).forId('complainant_primary_address_phone').id('complainant_primary_address_phone_label') }}
                                {{ builder.text('complainant_primary_address_phone').id('complainant_primary_address_phone') }}
                                {{ errors.first('complainant_primary_address_phone', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_email', 'fields')~' *').forId('complainant_primary_address_email').id('complainant_primary_address_email_label') }}
                                {{ builder.email('complainant_primary_address_email').id('complainant_primary_address_email') }}
                                {{ errors.first('complainant_primary_address_email', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_primary_address_email_confirm', 'fields')).forId('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm_label') }}
                                {{ builder.email('complainant_primary_address_email_confirm').id('complainant_primary_address_email_confirm') }}
                                {{ errors.first('complainant_primary_address_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>


                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container">
                        <h2>{{ function('translateComplaintForm', 'change_language_title', 'sidebars') }}</h2>
                        <ul class="language-selection wider">

                            <li><a href="/language/switch/en/">EN</a></li>
                            <li><a href="/language/switch/ga/">GA</a></li>
                            <li><a href="/language/switch/ar/">AR</a></li>
                            <li><a href="/language/switch/es/">ES</a></li>
                            <li><a href="/language/switch/fr/">FR</a></li>
                            <li><a href="/language/switch/lt/">LT</a></li>
                            <li><a href="/language/switch/ms/">MS</a></li>
                            <li><a href="/language/switch/pl/">PL</a></li>
                            <li><a href="/language/switch/pt/">PT</a></li>
                            <li><a href="/language/switch/ro/">RO</a></li>
                            <li><a href="/language/switch/ru/">RU</a></li>
                            <li><a href="/language/switch/tl/">TL</a></li>
                            <li><a href="/language/switch/ukr/">UKR</a></li>
                            <li><a href="/language/switch/zhs/">ZHS</a></li>
                            <li><a href="/language/switch/zht/">ZHT</a></li>
                        </ul>
                        <hr />
                        <h2>{{ function('translateComplaintForm', 'proof_title', 'sidebars') }}</h2>
                        <p>{{ function('translateComplaintForm', 'proof_content', 'sidebars') }}</p>
                    </div>

                    <div class="container supporting__container padded">
                        <h2>{{ function('translateComplaintForm', 'help_title', 'sidebars') }}</h2>
                        <p>{{ function('translateComplaintForm', 'help_content', 'sidebars') }}</p>
                        <hr />
                        <h2>{{ function('translateComplaintForm', 'complainant_contact_title', 'sidebars') }}</h2>
                        <p>{{ function('translateComplaintForm', 'complainant_contact_content', 'sidebars') }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="container">


                        <fieldset id="representative_section">

                            <legend class="as-title">{{ function('translateComplaintForm', 'representative_legend', 'fields' ) }}</legend>

                            {{ function('translateComplaintForm', 'representative_introduction', 'sections') }}

                        </fieldset>
                            
                        <fieldset id="is_representative_required">
                        
                            <legend class="simple-legend">{{ function('translateComplaintForm', 'representative_required_legend', 'fields' ) }}</legend>


                            {{ builder.radio('representative_required_check').value('0').id('representative_required_no').check() }} {{ builder.label(function('translateComplaintForm', 'no', 'page')).forId('representative_required_no').id('representative_required_no_label') }}

                            {{ builder.radio('representative_required_check').value('1').id('representative_required_yes') }}  {{ builder.label(function('translateComplaintForm', 'yes', 'page')).forId('representative_required_yes').id('representative_required_yes_label') }}

                            {{ errors.first('representative_required_check', '<small class="error">:message</small>') }}

                        </fieldset>


                        <div id="representative_consent_question" class="no-border {{ (builder.getValueFor('representative_required_check') == 1) ? '' : 'd-none' }}">


                            <fieldset id="has_consent_form"  class="simple-legend">
                                <legend class="">{{ function('translateComplaintForm', 'has_consent_form_legend', 'fields') }}</legend>

                                {{ builder.checkbox('has_consent_form_check').value('1').id('has_consent_form_check') }} {{ builder.label(function('translateComplaintForm', 'yes', 'page')).forId('has_consent_form_check').id('has_consent_form_check_label').attribute('class', '') }}

                                {{ errors.first('has_consent_form_check', '<small class="error">:message</small>') }}

                            </fieldset>


                            <fieldset id="third_party_representative_selector" class="simple-legend">

                                <legend class="simple-legend">{{ function('translateComplaintForm', 'third_party_representative_legend', 'fields') }}</legend>

                                {{ builder.radio('third_party_representative_type').value( 'third_party_representative_type_guardian' ).id('third_party_representative_type_guardian') }} {{ builder.label(function('translateComplaintForm', 'third_party_representative_type_guardian', 'fields') ).forId('third_party_representative_type_guardian').id('third_party_representative_type_guardian_label') }}

                                {{ builder.radio('third_party_representative_type').value( 'third_party_representative_type_legal_representative' ).id('third_party_representative_type_legal_representative') }} {{ builder.label(function('translateComplaintForm', 'third_party_representative_type_legal_representative', 'fields') ).forId('third_party_representative_type_legal_representative').id('third_party_representative_type_legal_representative_label') }}

                                {{ builder.radio('third_party_representative_type').value( 'third_party_representative_type_parent').id('third_party_representative_type_parent') }} {{ builder.label(function('translateComplaintForm', 'third_party_representative_type_parent', 'fields') ).forId('third_party_representative_type_parent').id('third_party_representative_type_parent_label') }}

                                {{ builder.radio('third_party_representative_type').value( 'third_party_representative_type_social_worker').id('third_party_representative_type_social_worker') }} {{ builder.label(function('translateComplaintForm', 'third_party_representative_type_social_worker', 'fields') ).forId('third_party_representative_type_social_worker').id('third_party_representative_type_social_worker_label') }}

                                {{ builder.radio('third_party_representative_type').value( 'third_party_representative_type_other').id('third_party_representative_type_other') }} {{ builder.label(function('translateComplaintForm', 'third_party_representative_type_other', 'fields') ).forId('third_party_representative_type_other').id('third_party_representative_type_other_label') }}
                        
                            </fieldset>


                            <div id="third_party_representative_description_other_holder" class="{{ (builder.getValueFor('third_party_representative_type') == 'third_party_representative_type_other') ? '' : 'd-none' }}">

                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_description_other', 'fields')~' *').forId('third_party_representative_description_other').id('third_party_representative_description_other_label') }}
                                {{ builder.text('third_party_representative_description_other').id('third_party_representative_description_other') }}
                                {{ errors.first('third_party_representative_description_other', '<small class="error">:message</small>') }}

                            </div>


                            <div class="parallel-inputs">
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_name', 'fields')~' *').forId('third_party_representative_forename').id('third_party_representative_name_label') }}
                                {{ builder.text('third_party_representative_forename').id('third_party_representative_forename').placeholder(function('translateComplaintForm', 'third_party_representative_forename', 'fields')) }}
                                {{ errors.first('third_party_representative_forename', '<small class="error">:message</small>') }}
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_forename', 'fields')).forId('third_party_representative_surname').id('third_party_representative_surname_label').attribute('class', 'visually-hidden') }}
                                {{ builder.text('third_party_representative_surname').id('third_party_representative_surname').placeholder(function('translateComplaintForm', 'third_party_representative_surname', 'fields')) }}
                                {{ errors.first('third_party_representative_surname', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_date_of_birth', 'fields')).forId('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth_label') }}
                                {{ builder.text('third_party_representative_date_of_birth').id('third_party_representative_date_of_birth').placeholder('dd/mm/yyyy') }}
                                {{ errors.first('third_party_representative_date_of_birth', '<small class="error">:message</small>') }}
                            </div>


                            <div>
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_mobile', 'fields')).forId('third_party_representative_mobile').id('third_party_representative_mobile_label') }}
                                {{ builder.text('third_party_representative_mobile').id('third_party_representative_mobile') }}
                                {{ errors.first('third_party_representative_mobile', '<small class="error">:message</small>') }}
                            </div>

                            <div>
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_email', 'fields')).forId('third_party_representative_email').id('third_party_representative_email_label') }}
                                {{ builder.email('third_party_representative_email').id('third_party_representative_email') }}
                                {{ errors.first('third_party_representative_email', '<small class="error">:message</small>') }}
                            </div>
                            <div>
                                {{ builder.label(function('translateComplaintForm', 'third_party_representative_email_confirm', 'fields')).forId('third_party_representative_email_confirm').id('third_party_representative_email_confirm_label') }}
                                {{ builder.email('third_party_representative_email_confirm').id('third_party_representative_email_confirm') }}
                                {{ errors.first('third_party_representative_email_confirm', '<small class="error">:message</small>') }}
                            </div>
                            
                            <fieldset id="correspondence">
                                <legend class="simple-legend">{{ function('translateComplaintForm', 'correspondence_legend', 'fields') }}</legend>

                                {{ builder.radio('correspondence_check').value('0').id('correspondence_same').check() }} {{ builder.label(function('translateComplaintForm', 'correspondence_type_1', 'fields')).forId('correspondence_same').id('correspondence_same_label') }}

                                {{ builder.radio('correspondence_check').value('1').id('correspondence_different') }}  {{ builder.label(function('translateComplaintForm', 'correspondence_type_2', 'fields')).forId('correspondence_different').id('correspondence_different_label') }}

                            </fieldset>
                          
                            <fieldset id="complainant_secondary_address" class="{{ (builder.getValueFor('correspondence_check') == 1) ? '' : 'd-none' }}">

                                <legend class="as-title">{{ function('translateComplaintForm', 'complainant_secondary_address_legend', 'fields') }}</legend>

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_street', 'fields')).forId('complainant_secondary_address_street').id('complainant_secondary_address_street_label') }}
                                {{ builder.text('complainant_secondary_address_street').id('complainant_secondary_address_street') }}
                                {{ errors.first('complainant_secondary_address_street', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_town', 'fields')).forId('complainant_secondary_address_town').id('complainant_secondary_address_town_label') }}
                                {{ builder.text('complainant_secondary_address_town').id('complainant_secondary_address_town') }}
                                {{ errors.first('complainant_secondary_address_town', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_county', 'fields')).forId('complainant_secondary_address_county').id('complainant_secondary_address_county_label') }}
                                {{ builder.text('complainant_secondary_address_county').id('complainant_secondary_address_county') }}
                                {{ errors.first('complainant_secondary_address_county', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_postcode', 'fields')).forId('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode_label') }}
                                {{ builder.text('complainant_secondary_address_postcode').id('complainant_secondary_address_postcode') }}
                                {{ errors.first('complainant_secondary_address_postcode', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_country', 'fields')).forId('complainant_secondary_address_country').id('complainant_secondary_address_country_label') }}
                                {{ builder.text('complainant_secondary_address_country').id('complainant_secondary_address_country') }}
                                {{ errors.first('complainant_secondary_address_country', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_mobile', 'fields')).forId('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile_label') }}
                                {{ builder.text('complainant_secondary_address_mobile').id('complainant_secondary_address_mobile') }}
                                {{ errors.first('complainant_secondary_address_mobile', '<small class="error">:message</small>') }}
                              
                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_phone', 'fields')).forId('complainant_secondary_address_phone').id('complainant_secondary_address_phone_label') }}
                                {{ builder.text('complainant_secondary_address_phone').id('complainant_secondary_address_phone') }}
                                {{ errors.first('complainant_secondary_address_phone', '<small class="error">:message</small>') }}
    
                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_email', 'fields')).forId('complainant_secondary_address_email').id('complainant_secondary_address_email_label') }}
                                {{ builder.email('complainant_secondary_address_email').id('complainant_secondary_address_email') }}
                                {{ errors.first('complainant_secondary_address_email', '<small class="error">:message</small>') }}

                                {{ builder.label(function('translateComplaintForm', 'complainant_secondary_address_email_confirm', 'fields')).forId('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm_label') }}
                                {{ builder.email('complainant_secondary_address_email_confirm').id('complainant_secondary_address_email_confirm') }}
                                {{ errors.first('complainant_secondary_address_email_confirm', '<small class="error">:message</small>') }}

                            </fieldset>

                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="container supporting__container padded">
                        <h2>{{ function('translateComplaintForm', 'representative_contact_title', 'sidebars') }}</h2>
                        <p>{{ function('translateComplaintForm', 'representative_contact_content', 'sidebars') }}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-9">

                    <div class="container">

                        <fieldset id="incident_details" class="no-border">
                    
                            <legend class="as-title">{{ function('translateComplaintForm', 'complaint_legend', 'fields') }}</legend>

                            {{ builder.label(function('translateComplaintForm', 'complaint_date', 'fields')~' *').forId('complaint_date').id('complaint_date_label') }}
                            {{ builder.text('complaint_date').id('complaint_date').placeholder('dd/mm/yyyy') }}
                            {{ errors.first('complaint_date', '<small class="error">:message</small>') }}


                            <div class="d-none" id="late_submission_content">

                                <fieldset id="incident_details_two" class="no-border">
                                    <legend class="as-small-title">{{ function('translateComplaintForm', 'complaint_late_submission_legend', 'fields') }}</legend>


                                    {{ builder.label(function('translateComplaintForm', 'complaint_time_reason', 'fields')).forId('complaint_time_reason').id('complaint_time_reason_label') }}
                                    {{ builder.textarea('complaint_time_reason').id('complaint_time_reason').rows(10) }}
                                    {{ errors.first('complaint_time_reason', '<small class="error">:message</small>') }}
                                    
                                </fieldset>
                            </div>

                            {{ builder.label(function('translateComplaintForm', 'complaint_time', 'fields')).forId('complaint_time').id('complaint_time_label') }}
                            {{ builder.text('complaint_time').id('complaint_time') }}
                            {{ errors.first('complaint_time', '<small class="error">:message</small>') }}


                            {{ builder.label(function('translateComplaintForm', 'complaint_location', 'fields')).forId('complaint_location').id('complaint_location_label') }}
                            {{ builder.text('complaint_location').id('complaint_location') }}
                            {{ errors.first('complaint_location', '<small class="error">:message</small>') }}

                            {{ builder.label(function('translateComplaintForm', 'complaint_garda_members', 'fields')).forId('complaint_garda_members').id('complaint_garda_members_label') }}

                            {{ builder.textarea('complaint_garda_members').id('complaint_garda_members').rows(10) }}
                            {{ errors.first('complaint_garda_members', '<small class="error">:message</small>') }}


                            {{ function('translateComplaintForm', 'complaint_garda_members_description', 'sections') }}

                            {{ builder.label(function('translateComplaintForm', 'complaint_details', 'fields')~' *').forId('complaint_details').id('complaint_details_label') }}
                            {{ builder.textarea('complaint_details').id('complaint_details').rows(10) }}
                            <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>
   
                            
                            {{ errors.first('complaint_details', '<small class="error">:message</small>') }}

                            {{ function('translateComplaintForm', 'complaint_description', 'sections') }}

                            {{ builder.label(function('translateComplaintForm', 'complaint_lead_up', 'fields')).forId('complaint_lead_up').id('complaint_lead_up_label') }}
                            {{ builder.textarea('complaint_lead_up').id('complaint_lead_up').rows(10) }}
                            {{ errors.first('complaint_lead_up', '<small class="error">:message</small>') }}
                            <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>


                            {{ builder.label(function('translateComplaintForm', 'complaint_motive', 'fields')).forId('complaint_motive').id('complaint_motive_label') }}
                            {{ builder.textarea('complaint_motive').id('complaint_motive').rows(10) }}
                            {{ errors.first('complaint_motive', '<small class="error">:message</small>') }}
                            <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>

                            <fieldset id="has_witnesses">
                                <legend class="simple-legend">{{ function('translateComplaintForm', 'complaint_witnesses_legend', 'fields') }}</legend>

                                {{ builder.radio('has_witnesses_check').value('1').id('has_witnesses_true') }} {{ builder.label(function('translateComplaintForm', 'yes', 'page')).forId('has_witnesses_true').id('has_witnesses_true_label') }}
                                {{ builder.radio('has_witnesses_check').value('0').id('has_witnesses_false') }}  {{ builder.label(function('translateComplaintForm', 'no', 'page')).forId('has_witnesses_false').id('has_witnesses_false_label') }}

                            </fieldset>


                            <div id="witnesses_area" class="{{ (builder.getValueFor('has_witnesses_check') == 1) ? '' : 'd-none' }}">
                                {{ builder.label(function('translateComplaintForm', 'complaint_witnesses', 'fields')~' *').forId('complaint_witnesses').id('complaint_witnesses_label') }}
                                {{ builder.textarea('complaint_witnesses').id('complaint_witnesses').rows(10) }}
                                {{ errors.first('complaint_witnesses', '<small class="error">:message</small>') }}
                                <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>
                            </div>


                            <fieldset id="has_evidence">
                                <legend class="simple-legend">{{ function('translateComplaintForm', 'complaint_evidence_legend', 'fields') }}</legend>

                                {{ builder.radio('has_evidence_check').value('1').id('has_evidence_true') }} {{ builder.label(function('translateComplaintForm', 'yes', 'page')).forId('has_evidence_true').id('has_evidence_true_label') }}
                                {{ builder.radio('has_evidence_check').value('0').id('has_evidence_false') }}  {{ builder.label(function('translateComplaintForm', 'no', 'page')).forId('has_evidence_false').id('has_evidence_false_label') }}
                            </fieldset>
                       
                            <div id="evidence_area" class="{{ (builder.getValueFor('has_evidence_check') == 1) ? '' : 'd-none' }}">

                                {{ builder.label(function('translateComplaintForm', 'complaint_evidence', 'fields')~' *').forId('complaint_evidence').id('complaint_evidence_label') }}
                                {{ builder.textarea('complaint_evidence').id('complaint_evidence').rows(10) }}
                                {{ errors.first('complaint_evidence', '<small class="error">:message</small>') }}
                                <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>

    
                                {{ function('translateComplaintForm', 'evidence_description', 'sections') }}
                            
                                    
                            </div>

                            <fieldset id="has_injuries">

                                <legend class="simple-legend">{{ function('translateComplaintForm', 'complaint_injuries_legend', 'fields') }}</legend>

                                {{ builder.radio('has_injuries_check').value('1').id('has_injuries_true') }} {{ builder.label(function('translateComplaintForm', 'yes', 'page')).forId('has_injuries_true').id('has_injuries_true_label') }}
                                {{ builder.radio('has_injuries_check').value('0').id('has_injuries_false') }}  {{ builder.label(function('translateComplaintForm', 'no', 'page')).forId('has_injuries_false').id('has_injuries_false_label') }}

                            </fieldset>


                            <div id="injuries_area" class="{{ (builder.getValueFor('has_injuries_check') == 1) ? '' : 'd-none' }}">

                                {{ builder.label(function('translateComplaintForm', 'complaint_injuries', 'fields')~' *').forId('complaint_injuries').id('complaint_injuries_label') }}
                                {{ builder.textarea('complaint_injuries').id('complaint_injuries').rows(10) }}
                                {{ errors.first('complaint_injuries', '<small class="error">:message</small>') }}
            
                                <p class="right"><small>{{ function('translateComplaintForm', 'max_200_words', 'page') }}</small></p>

    
                                {{ function('translateComplaintForm', 'injuries_description', 'sections') }}


                            </div>
                       </fieldset>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="container">

                        <fieldset id="child_protection_information" class="no-border">
                            <legend class="as-small-title pt-2">{{ function('translateComplaintForm', 'child_protection_legend', 'fields') }}</legend>
                            
                            <p id="protection_description">
                                {{ function('translateComplaintForm', 'child_protection_description', 'sections') }}
                            </p>
                            <div class="checkbox-advanced">
                                {{ builder.checkbox('child_protection_declaration').value('1').id('child_protection_declaration') }}
                                {{ builder.label(function('translateComplaintForm', 'child_protection', 'fields')~' *').forId('child_protection_declaration').id('child_protection_declaration_label').attribute('class', '') }}
                                {{ errors.first('child_protection_declaration', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>



                        <fieldset id="false_or_misleading_information" class="no-border">
                            <legend class="as-small-title">{{ function('translateComplaintForm', 'declaration_legend', 'fields') }}</legend>
                            <p id="declaration_description">
                                 {{ function('translateComplaintForm', 'declaration_description', 'sections') }}
                            </p>
                            <div class="checkbox-advanced">
                                {{ builder.checkbox('declaration').value('1').id('declaration') }}
                                {{ builder.label(function('translateComplaintForm', 'declaration', 'fields')~' *').forId('declaration').id('declaration_label').attribute('class', '') }}
                                {{ errors.first('declaration', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>


                        <fieldset id="use_of_information" class="no-border">
                            <legend class="as-small-title">{{ function('translateComplaintForm', 'information_legend', 'fields') }}</legend>

                            <p id="information_description">
                                {{ function('translateComplaintForm', 'information_description', 'sections') }}
                            </p>
                            
                            <div class="checkbox-advanced">
                                
                                {{ builder.checkbox('information').value('1').id('information') }}
                                {{ builder.label(function('translateComplaintForm', 'information', 'fields')~' *').forId('information').id('information_label').attribute('class', '') }}
                                {{ errors.first('information', '<small class="error">:message</small>') }}
                            </div>
                        </fieldset>

                        <div class="mt-3">
                            <input type="submit" name="submit" value="{{ function('translateComplaintForm', 'submit', 'fields') }}">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3">
                </div>
            </div>



    </section>

{{ builder.close() }}