
				{% set analytics_tag = config.providers.google.analyticsTag %}

				{% if analytics_tag and analytics_tag != "" %}

				    <script type="text/plain" data-cookiecategory="analytics">
				        window.gaID = '{{ analytics_tag }}';
				    </script>
					
					<script type="text/plain" data-cookiecategory="analytics" async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_tag }}"></script>
					<script type="text/plain" data-cookiecategory="analytics">
					  window.dataLayer = window.dataLayer || [];
					  function gtag(){dataLayer.push(arguments);}
					  gtag('js', new Date());

					  gtag('config', '{{ analytics_tag }}');
					</script>

				{% endif %}

