
{% if item %}

  {% set logo =  theme.link  ~ "/img/logo/png-logo/" ~  "published-logo.png" %}

                <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "BlogPosting",
                  "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "{{ item.link }}"
                  },
                  "headline": "{{ item.title }}",
                  "description": "{{ item.description }}",
                  "image": {
                    "@type": "ImageObject",
                    "url": "{{ item.thumbnail('large') }}",
                    "width": 1920,
                    "height": 1080
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "{{ site.title }}"
                  },  
                  "publisher": {
                    "@type": "Organization",
                    "name": "{{ site.title }}",
                    "logo": {
                      "@type": "ImageObject",
                      "url": "{{ logo }}",
                      "width": 960,
                      "height": 540 
                    }
                  },
                  "datePublished": "{{ item.post_date|date('Y-m-d') }}",
                  "dateModified": "{{ item.post_date_modified|date('Y-m-d') }}"
                }
                </script>

{% endif %}

