//  Containers
html
{
  scroll-behavior: smooth;
  background: white;
}
body 
{
  font-family: $font;
  color: $black;
  //max-width:1440px;
  margin:0 auto;
  background: $body_grey;
  //-webkit-overflow-scrolling: touch;

    
  /*overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;
  &.no-scroll
  {
    overflow: hidden;

  }*/

}

section[role="main"] 
{
  min-height: 70vh;
  //margin-top:3rem;
  margin-bottom: 3rem;

  .container
  {
    &.initial
    {
      margin-top: 3rem;
    }
  }
}


.container-inner 
{
    background: $white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 0;
    position: relative;
    margin-top: 0;

    padding-left: 0.6rem;
    padding-right: 0.6rem;

    @include media-breakpoint-up(md)
    {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }


    section 
    {
        margin-top: 2.5rem;

        &:first-of-type
        {
          margin-top:1rem;
        }
    }

    hr 
    {
        border: dotted $grey !important;
        border-width: 1px 0 0 !important;
    }

    &.no-colour
    {
      background: transparent;
    }

}


* {
  font-size: 100%;
}

.flex-video 
{
    padding-bottom: 56.25%;
    max-width: 100%;
    iframe
    {
      max-width: 100%;
    }
}

ul
{
  padding-inline-start:0px;
}

img
{
  max-width: 100%;
  height: auto;
}

div.anchor-hidden 
{
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

a.catch-all
{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:focus-visible, &:focus
    {
        border:1px dashed $grey!important;

    }

}


.embed-responsive
{
    margin-bottom: 1rem;
}

#wpadminbar 
{
    @include media-breakpoint-down(sm)
    {
        top: auto;
        bottom: 0;
        position: fixed;
    }
}