h1, h2, h3, h4, h5, h6 
{
    font-family: $heading-font;
    color: $dark_red;
    margin:1.5rem 0px 0.75rem 0px;
}

h1, h2, h3, h5 
{
    font-weight: $font_weight_thin;
    .has-tip {
        font-weight: $font_weight_thin;
    }
}

h1 { font-size: 2.0rem; margin-top: 0px; }
h2{
    font-size: 1.3rem;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
        font-size: 1.6rem;
    }

}
h3 {
    font-size: 1.2rem;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
        font-size: 1.3rem;
    }

}

h4 { font-size: 1rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.7rem; }

h4, h6 {
    font-weight: $font_weight_bold;

    .has-tip {
        font-weight: $font_weight_bold;
    }
}

p {
    font-family: $font;
    font-weight: $font_weight_thin;
    color: $grey;
    font-size: 0.9rem;

    &.lead {
        font-size: 1.1rem;
    }

    a {
        text-decoration: underline;
    }

}

ul li, ol li {
    font-family: $font;
    font-weight: $font_weight_thin;
    color: $grey;
    font-size: 0.9rem;
}

ol {
    ul + p {
        margin-top: 10px;
    }

    li + li {
        margin-top: 15px;
    }

    ul {
        li + li {
            margin-top: 0;
        }
    }
}

figcaption {
    font-family: $font;
    color: #64666A;
    font-size: 0.8rem;
    margin-top: 5px;
}

small {
    font-size: 70%;
}

//  TOOLTIP
.has-tip {
    color: $dark-red;
    border-bottom: none;
}

.tooltip {
    background: $dark-red;
    font-size: 0.8rem;

    @include media-breakpoint-down(sm) {
        .tap-to-close {
            color: $white;
            margin-top: 5px;
        }
    }

    .nub {
        border-color: transparent transparent $dark-red;
        font-size: 1rem;
    }

    &.tip-top>.nub {
        border-color: $dark-red transparent transparent;
    }
    &.tip-right>.nub {
        border-color: transparent $dark-red transparent transparent;
    }
    &.tip-left>.nub {
        border-color: transparent transparent transparent $dark-red;
    }
}
a
{
    color: $dark-red;
    line-height: inherit;
    text-decoration: none;
    &:hover
    {
        text-decoration: underline;
        color:$dark-red;
    }
}
a.no-underline
{
    text-decoration:none!important;
}

