/* Font Weights */

$font_weight_light: 200;
$font_weight_thin: 300;
$font_weight_regular: 400;
$font_weight_bold: 600;
$font_weight_thick: 700;

/* Site Specific */

$red: #D33148;
$dark_red: #8A2233;
$hover_red: #5f1e26;
$white: #FFFFFF;
$body_grey: #F6F6F6;
$grey: #64666A;
$hover_grey: #424449;
$black: #000000;

$primary-color: $red;
$primary: $dark_red;
$secondary-color: $dark_red;
$secondary: $hover_red;

$heading-font: "din-2014", sans-serif;
$font: "din-2014", sans-serif;
$icons: 'Font Awesome 5 Regular';
$icons2: 'FontAwesome';


$img_path: "/app/themes/hailstone/img/";

$header_height_mobile: 125px;
$header_height_desktop: auto;

$search_bar_height:80px;
$search_bar_inner_height:50px;


$pre_header_height:40px;
$pre_header_height_large:40px;

$header_height:90px;
$header_height_large:110px;
