
        <div class="feature-grab">

            <div class="js-slick feature-carousel feature__carousel--{{ carousel.layout }}">
                
                {% for slide in carousel.slides %}{# Start of single slide #}

                    <div class="slide"  style="background-image: url({{ slide.image.src('large-landscape') }})"></div>
     
                {% endfor %}{# End of single slide #}

            </div>

            {% if carousel.heading or carousel.subheading %}

                <div class="fixed-on-slide">
                    <div class="slide-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-7 col-lg-6 set-buttons">
                            
                                    <div class="slide-content-box">
                                        {% if carousel.heading %}
                                            <h2>{{ carousel.heading }}</h2>
                                        {% endif %}
                                        {% if carousel.subheading %}
                                            <h3>{{ carousel.subheading }}</h3>
                                        {% endif %}
                                    </div>

                                    

                                    <div class="slide-ctas">

                                        {% for action in carousel.actions %}

                                            <a class="button" target="{{ action.external_link != '' ? '_blank' : '' }}" href="{{ action.external_link != '' ? action.external_link : action.internal_link }}">{% if action.button_text %}{{ action.button_text }}{% else %}Read More{% endif %}</a>

                                        {% endfor %}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
