
        
        <div class="js-slick feature-carousel feature__carousel--{{ carousel.layout }}">
            
            {% for slide in carousel.slides %}{# Start of single slide #}

                <div class="slide"  style="background-image: url({{ slide.image.src('large-landscape') }})">
                    <div class="slide-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-7 col-lg-6 set-buttons">
                            
                                    {% if slide.heading or slide.subheading %}

                                        <div class="slide-content-box">
                                            {% if slide.heading %}
                                                <h2>{{ slide.heading }}</h2>
                                            {% endif %}
                                            {% if slide.subheading %}
                                                <h3>{{ slide.subheading }}</h3>
                                            {% endif %}
                                        </div>

                                    {% endif %}

                                    <div class="slide-ctas">

                                        {% for action in slide.actions %}

                                            <a class="button" target="{{ action.external_link != '' ? '_blank' : '' }}" href="{{ action.external_link != '' ? action.external_link : action.internal_link }}">{% if action.button_text %}{{ action.button_text }}{% else %}Read More{% endif %}</a>

                                        {% endfor %}


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            {% endfor %}{# End of single slide #}

        </div>