.print-logo
{
    display: none;
    height: 0px;
}


@media print {

    .print-logo
    {
        display: block;
        margin:0px auto;
        text-align: center;
        height: auto;
        img
        {
            max-width: 250px;
            text-align: center;
        }
    }


    p,
    li,
    {
    //.card {
        page-break-inside: avoid
    }

    body {

        .feature-carousel, footer, #afterFooter, #pre-header, #site-header, #searchContainer, .breadcrumb-wrapper, .crumbs, .social-buttons, .sidebar
        {
            display: none !important;
            height:0px!important;
        }

        & a {
            text-decoration: none;
        }

        & a[href]:after {
            content: none !important;
        }

        .slick-arrow
        {
            display: none !important;
            height:0px!important;
        }

        .accordion-button
        {
            &:after
            {
                display:none;
                content: '';
            }
        }

    }

    .print-logo {
        display: block;
        & p {
            display: block;
            text-align: center;
            margin: 10px 0 0;
        }
        & img {
            display: block;
            margin: 40px auto 0;
            max-width: 450px !important;

        }
    }

    .wysiwyg-content
    {
        background: white!important;
        h1, h2, h3, h4, h5, h6, p, div, th, td, li, span
        {
            color: #000!important;
        }
    }

    h2
    {
        padding-top: 50px!important;
    }
    table h2
    {
        padding-top: 0px!important;   
    }

    [data-aos] {
        display: block !important;
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }

    .slick-track
    {
        max-width: 100%!important;
    }

    .card-deck
    {
        width:100%!important;
        display: block!important;
        clear: both;
        margin:30px 0px!important;
        .card
        {
            width:31%!important;
            display: block!important;
            float: left!important;
            margin: 0px 1% 20px 0px!important;
            h2
            {
                padding-top: 10px!important;
            }
        }
        .slick-slide
        {
            width:31%!important;
            max-width: 31%!important;
            display: block!important;
            float: left!important;
            margin: 0px 1% 20px 0px!important;
            .card
            {
                width:100%!important;
            }
        }
    }

    .desc-below
    {
        padding:1.25rem!important;
    }


    .collapse:not(.show)
    {
        display: block!important;
    }
}