    
            {#{ converted AMN }#}        
    
            <div class="row">
                <div class="col-12">

                        {%  if block.title %}<h2>{{ block.title }}</h2> 
                        {%  else %}<h2>Related Links</h2>{% endif %}
                        
                        {% if block.introduction %}
                            <p class="lead">{{ block.introduction }}</p>
                        {% endif %}
                        

                        <ul class="vertical-icons">


                            {% for link in block.links %}
                                {% if link.internal_link != '' or link.external_link != '' %}
                                    
                                    <li class="{{ link.external_link != '' ? 'icon-website' : '' }}">
                                        <a target="{{ link.external_link != '' ? '_blank' : '' }}" href="{{ link.external_link != '' ? link.external_link : link.internal_link }}">{{ link.name }}</a>
                                    </li>

                                {% endif %}
                            {% endfor %}

                        </ul>

  
                </div>
            </div>