

            <div class="row">
                <div class="col-12">

                        {%  if block.title %}<h2>{{ block.title }}</h2> 
                        {%  else %}<h2>Video</h2>{% endif %}
                        
                        {% if block.introduction %}
                            <p class="lead">{{ block.introduction }}</p>
                        {% endif %}

                        <div class="row">

                        {% for video in block.videos %}
                                        
                            <div class="col-12 mb-2">
                                <div class="ratio ratio-16x9 {{ video.source }}">
                                    {{ video.embed }}
                                </div>
                            </div>

                        {% endfor %}

                        </div>
                    
  
                </div>
            </div>


