                <div class="row">
                    <div class="col-12">

                            {%  if block.title %}
                                <h2 class="block-title">{{ block.title }}</h2>
                            {%  else %}
                                <h2 class="block-title">Downloads</h2>
                            {% endif %}
                            {% if block.introduction %}
                                <p class="lead">{{ block.introduction }}</p>
                            {% endif %}

                            {% set row_data = 'd-flex align-items-stretch row-cols-1 row-cols-md-2 row-cols-lg-3 gx-4 gy-4 mt-2'  %}


                             {% for library in block.libraries %}

                                <h3>{{ library.name }}</h3>


                                <div class="row {{ row_data }} card-deck">

                                    {% for item in library.documents %}

                                        <div class="col">

                                        {% include 'partials/items/card.twig' with { 'item' : item } %}

                                        </div>

                                    {% endfor %}

                                </div>

                            {% endfor %}

   
                    </div>
                </div>
