

            <div class="row">
                <div class="col-12">

                        {%  if block.title %}<h2>{{ block.title }}</h2> 
                        {%  else %}<h2>Gallery</h2>{% endif %}
                        
                        {% if block.introduction %}
                            <p class="lead">{{ block.introduction }}</p>
                        {% endif %}

                        <ul class="box-grid">

                                
                            {% for image in block.images %}

                                <li>
                           
                                {% set caption = null  %}

                                {% include "partials/simple-image-zoom.twig" with { 'image': image, 'size': 'small-square' , 'caption': caption }  %}

                                </li>

                            {% endfor %}


                        </ul>
                </div>
            </div>
