{% extends "base.twig" %}
{% block content %}

    {% if page.carousel %}
        
        <div class="homepage__slider">
            {% include 'partials/feature-carousel.twig' with { 'carousel': page.carousel, 'title': page.title } %}
        </div>

    {% else %}
        
        <div class="feature-image__thumbnail" style="background-image: url('/app/themes/hailstone/img/layout/default-slider.jpg')">
            <div class="row">
                <div class="medium-7 large-6 columns">
                </div>
            </div>
        </div>

    {% endif %}

    <h1 class="hide">{{fn('get_the_title')}}</h1>

    <div class="homepage__slider--overlay">
        <div class="row" data-equalizer="home-banner-eq">
            <div class="large-6 columns" data-equalizer-watch="home-banner-eq">
                <div class="complaint__container container">

                    {% if page.main_call_to_action_title %}
                        <h2>{{ page.main_call_to_action_title }}</h2>
                    {% endif %}
                    
                    <div class="row collapse">
                        <div class="medium-10 columns">
                            {% if page.main_call_to_action_text %}
                                <p>{{ page.main_call_to_action_text }}</p>
                            {% endif %}
                            <ul class="language__selection">
                                <li><a href="/language/switch/en/">EN</a></li>
                                <li><a href="/language/switch/ga/">GA</a></li>
                                <li><a href="/language/switch/fr/">FR</a></li>
                                <li><a href="/language/switch/pl/">PL</a></li>
                                <li><a href="/language/switch/pt/">PT</a></li>
                                <li><a href="/language/switch/ro/">RO</a></li>
                                <li><a href="/language/switch/ru/">RU</a></li>
                                <li><a href="/language/switch/tl/">TL</a></li>
                                <li><a href="/language/switch/zhs/">ZHS</a></li>
                                <li><a href="/language/switch/zht/">ZHT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% for panel in page.get_field('secondary_content_panels') %}
                    <div class="about__gsoc--container container show-for-large">
                        {% if panel.panel_title %}
                            <h2>{{ panel.panel_title }}</h2>
                        {% endif %}
                        <div class="row collapse">
                            <div class="medium-10 columns">
                                {% if panel.panel_content %}
                                    {{ panel.panel_content }}
                                {% endif %}
                                {% for panel_action in panel.panel_actions %}
                                    <a target="{{ panel_action.external_link != '' ? '_blank' : '' }}" href="{{ panel_action.external_link != '' ? panel_action.external_link : panel_action.internal_link }}" class="button transparent grey">{{ panel_action.button_text }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
              
                <div class="large-6 columns"  data-equalizer-watch="home-banner-eq">
                    <div class="news__room--container container">
                        {% if page.featured_posts_title %}
                            <h2>{{ page.featured_posts_title }}</h2>
                        {% endif %}
                        {% if posts %}
                            {% for post in posts %}
                                <div class="home_page_featured_post">
                                    <a href="{{ post.link }}" class="block" title="{{ post.title }}"> </a>
                                    <p class="home_page_featured_post_category">
                                        <strong>
                                            <span>{{ post.post_type }}</span>
                                            {% if post.post_type == 'article' or post.post_type == 'attachment' or post.post_type == 'study' or post.post_type == 'statistic'  %} / {{ post.date|date('jS F Y') }}{% endif %}
                                        </strong>
                                    </p>
                                    <h3>{{ post.title }}</h3>
                                    {% if post.description_extended %}
                                        <p class="description">{{ post.description_extended }}</p>
                                    {% elseif post.description %}
                                        <p class="description">{{ post.description }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if news %}
                                {% for post in news %}
                                    <div class="home_page_featured_post">
                                        <a href="{{ post.link }}" class="block" title="{{ post.title }}"> </a>
                                        <p class="home_page_featured_post_category">
                                            <strong>
                                                <span>{{ post.post_type }}</span>
                                                {% if post.post_type == 'article' or post.post_type == 'attachment' or post.post_type == 'study' or post.post_type == 'statistic'  %} / {{ post.date|date('jS F Y') }}{% endif %}
                                            </strong>
                                        </p>
                                        <h3>{{ post.title }}</h3>
                                        {% if post.description_extended %}
                                            <p class="description">{{ post.description_extended }}</p>
                                        {% elseif post.description %}
                                            <p class="description">{{ post.description }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if appeals %}
                                {% for post in appeals %}
                                    <div class="home_page_featured_post">
                                        <a href="{{ post.link }}" class="block" title="{{ post.title }}"> </a>
                                        <p class="home_page_featured_post_category">
                                            <strong>
                                                <span>{{ post.post_type }}</span>
                                                {% if post.post_type == 'article' or post.post_type == 'attachment' or post.post_type == 'study' or post.post_type == 'statistic'  %} / {{ post.date|date('jS F Y') }}{% endif %}
                                            </strong>
                                        </p>
                                        <h3>{{ post.title }}</h3>
                                        {% if post.description_extended %}
                                            <p class="description">{{ post.description_extended }}</p>
                                        {% elseif post.description %}
                                            <p class="description">{{ post.description }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% for panel in page.get_field('secondary_content_panels') %}
                        <div class="about__gsoc--container container hide-for-large">
                            {% if panel.panel_title %}
                                <h2>{{ panel.panel_title }}</h2>
                            {% endif %}
                            <div class="row collapse">
                                <div class="medium-10 columns">
                                    {% if panel.panel_content %}
                                        {{ panel.panel_content }}
                                    {% endif %}
                                    {% for panel_action in panel.panel_actions %}
                                        <a target="{{ panel_action.external_link != '' ? '_blank' : '' }}" href="{{ panel_action.external_link != '' ? panel_action.external_link : panel_action.internal_link }}" class="button transparent grey">{{ panel_action.button_text }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>

    {% if page.highlighted_section_title or page.highlighted_section_text or page.highlighted_section_actions %}
        <div class="recent__performance--container">
            <div class="row">
                <div class="medium-10 large-8 columns medium-centered">
                    <div class="row collapse">
                        <div class="medium-6 columns">
                            <div class="recent__performance--content">
                                {% if page.highlighted_section_title %}
                                    <h3>{{ page.highlighted_section_title }}</h3>
                                {% endif %}
                                {% if page.highlighted_section_text %}
                                    <p>{{ page.highlighted_section_text }}</p>
                                {% endif %}
                                {% for action in page.get_field('highlighted_section_actions') %}
                                    <a target="{{ action.external_link != '' ? '_blank' : '' }}" href="{{ action.external_link != '' ? action.external_link : action.internal_link }}" class="button transparent white">{{ action.button_copy }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="statistics__graph">
                                {% for chart in page.get_field('highlighted_section_chart') %}
                                    <canvas class="chart" id="chart-{{ chart.id }}"></canvas>
                                    {% if chart.type == 'pie' or chart.type =='doughnut' %}
                                    <script>
                                        var ctx = document.getElementById("chart-{{ chart.id }}");
                                        $("#link-{{ chart.id }}").click(function() {
                                            $("#chart-{{ chart.id }}").get(0).toBlob(function(blob) {
                                                saveAs(blob, "chart-{{ chart.id }}");
                                            });
                                        });
                                        var myChart = new Chart(ctx, {
                                            type: '{{ chart.type }}',
                                            data: {
                                                labels: [{% for chart_data in chart.get_field('chart_data') %}"{{ chart_data.label }}",{% endfor %}],
                                                datasets: [{
                                                    label: '{{ chart.label }}',
                                                    data: [{% for chart_data in chart.get_field('chart_data') %}{{ chart_data.data }},{% endfor %}],
                                                    backgroundColor: [
                                                        'rgba(255, 255, 255, 1.0)',
                                                        'rgba(100, 102, 106, 1.0)',
                                                        'rgba(255, 255, 255, 0.8)',
                                                        'rgba(100, 102, 106, 0.8)',
                                                        'rgba(255, 255, 255, 0.6)',
                                                        'rgba(100, 102, 106, 0.6)',
                                                        'rgba(255, 255, 255, 0.4)',
                                                        'rgba(100, 102, 106, 0.4)',
                                                        'rgba(255, 255, 255, 0.2)',
                                                        'rgba(100, 102, 106, 0.2)',
                                                        'rgba(255, 255, 255, 0.1)',
                                                        'rgba(100, 102, 106, 0.1)',
                                                    ],
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                title: {
                                                    fontColor: 'rgb(255, 255, 255)'
                                                },
                                                legend: {
                                                    labels: {
                                                        fontColor: 'rgb(255, 255, 255)'
                                                    }
                                                },
                                                bezierCurve: false
                                            }
                                        });
                                    </script>
                                    {% else %}
                                    <script>
                                        var ctx = document.getElementById("chart-{{ chart.id }}");
                                        $("#link-{{ chart.id }}").click(function() {
                                            $("#chart-{{ chart.id }}").get(0).toBlob(function(blob) {
                                                saveAs(blob, "chart-{{ chart.id }}");
                                            });
                                        });
                                        var myChart = new Chart(ctx, {
                                            type: '{{ chart.type }}',
                                            data: {
                                                labels: [{% for chart_data in chart.get_field('chart_data') %}"{{ chart_data.label }}",{% endfor %}],
                                                datasets: [{
                                                    label: '{{ chart.label }}',
                                                    data: [{% for chart_data in chart.get_field('chart_data') %}{{ chart_data.data }},{% endfor %}],
                                                    backgroundColor: [
                                                        'rgba(255, 255, 255, 1.0)',
                                                        'rgba(100, 102, 106, 1.0)',
                                                        'rgba(255, 255, 255, 0.8)',
                                                        'rgba(100, 102, 106, 0.8)',
                                                        'rgba(255, 255, 255, 0.6)',
                                                        'rgba(100, 102, 106, 0.6)',
                                                        'rgba(255, 255, 255, 0.4)',
                                                        'rgba(100, 102, 106, 0.4)',
                                                        'rgba(255, 255, 255, 0.2)',
                                                        'rgba(100, 102, 106, 0.2)',
                                                        'rgba(255, 255, 255, 0.1)',
                                                        'rgba(100, 102, 106, 0.1)',
                                                    ],
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                title: {
                                                    fontColor: 'rgb(255, 255, 255)'
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        }
                                                    }]
                                                },
                                                bezierCurve: false
                                            }
                                        });
                                    </script>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

