{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            <h1>Permission Denied</h1>
                            <p>You do not have permission to retrieve the URL or link you requested.</p>
                            <p>Please inform the administrator of the referring page, if you think this was a mistake.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

