{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">
                            <h1>Document not found.</h1>

                            <p><strong>The requested page or document cannot be found.</strong></p>

                            <p>If you typed the URL please make sure it is correct. You may also use the navigation or search bar to help find the required resources.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

