{% extends "base.twig" %}
{% block content %}

    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' %}

                            <h1>{{ title }}</h1>

                            <hr />

                            {% if posts %}

                            <div class="card-blog">

                            {% for item in posts %}

                                {% include 'partials/items/blog.twig' with { 'item' : item } %}

                            {% endfor %}

                            </div>

                            {% else %}

                                <p>No matching posts were found</p>
                            
                            {% endif %}

                        </div>
                    </div>

                {% if posts and pagination %}

                    <div class="row">
                        <div class="col-12">
                            {% include 'partials/pagination.twig'  with { 'pagination': pagination } %}
                        </div>
                    </div>

                {% endif %}

                </div>
            </div>

            {% if archives %}

            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                    

                    <nav class="side-navigation" role="Archive">

                        <h2><a href="/news-room/archive/">Archive</a></h2>
                        <ul class="vertical-icons all-links">

                        {% for item in archives.items %}
                            
                            <li class="child"><a href="{{fn('trimFinalCharIfSlash', item.link)}}/?post_type=article">{{item.name}}</a></li>

                        {% endfor %}

                        </ul>
                    </nav>


                </div>
            </div>

            {% endif %}

        </div>

    </div>

{% endblock %}

