<!doctype html>
<html {{site.language_attributes}} class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% if wp_title %}{{ wp_title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

        {% include 'partials/meta/favicon.twig' %}
        {% include 'partials/meta/analytics.twig' %}


        {{ function('wp_head') }}

    </head>

        {% set primary_location = null %}
        {% if options.location and options.location is iterable %}
            {% set primary_location = options.location|first %}
        {% endif %}

    <body class="{{body_class}} {{ page.slug }} {% block page_classes %}{% endblock %}">

        <a class="visually-hidden" href="#mainContentStart">Skip to main content</a>
        <span class="d-none" id="post_id_now">{{ (page) ? page.id : post.id }}</span>

        {% include 'partials/structure/header.twig' with { 'primary_location' : primary_location } %}

        <section id="mainContentStart" class="main-section" role="main" itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" >

            {% block content %}{% endblock %}

        </section>

        {% include 'partials/structure/footer.twig' with { 'primary_location' : primary_location } %}

        {{ function('wp_footer') }}

    </body>
</html>