{% extends "base.twig" %}
{% block content %}
  
    <div class="homepage-bg" style="background-image: url('/app/themes/hailstone/img/layout/default-slider-grey.jpg')">
        <div class="container">

            <h1 class="visually-hidden">{{fn('get_the_title')}}</h1>

            {% if page.emergency_contents %}

                {% include 'partials/emergency-contents.twig' with { 'emergency_contents' : page.emergency_contents } %}

            {% endif %}

            <div class="row">

                <div class="col-12 col-lg-6">
                    
                    {% if page.welcome_title or page.welcome_text %}

                    <div class="box-red red-border">
                        
                        <div class="row">
                            <div class="col-12">

                                <h2>{{page.welcome_title}}</h2>
                                
                                <p>{{fn('nl2br', page.welcome_text)}}</p>

                                {% if page.welcome_ctas_converted %}

                                    <div class="welcome-list">

                                    {% for panel_action in page.welcome_ctas_converted %}

                                        <a target="{{ panel_action.external_link != '' ? '_blank' : '' }}" href="{{ panel_action.external_link != '' ? panel_action.external_link : panel_action.internal_link }}" class="button whiteout">{{ (panel_action.button_copy) ? panel_action.button_copy : "More Info" }}</a>
                                        
                                    {% endfor %}

                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <div class="box-grey d-block d-lg-none hide-for-sr">
                        
                        {% if page.column2_title %}

                        <div class="row">
                            <div class="col-12">
                                <h2>{{ page.column2_title }}</h2>
                            </div>
                        </div>

                        {% endif %}

                        <div class="row">
                    
                        {% if featured_posts %}

                            {% set pc = 0 %}

                            {% for post in featured_posts %}

                            <div class="col-12 col-md-{{(pc < 2) ? '12' : '6 use-white' }} columns">
                                <div class="box-greyer">
                                    <a href="{{ post.link }}" class="catch-all" title="{{ post.title }}"></a>
                                    <p class="featured-category">
                                        <strong>
                                            <span>{{ (post.primary_category) ? post.primary_category.name : post.post_type }}</span>
                                            {% if post.post_type == 'article' or post.post_type == 'attachment' or post.post_type == 'study' or post.post_type == 'statistic'  %} / {{ post.date|date('jS F Y') }}{% endif %}
                                        </strong>
                                    </p>
                                    <h3>{{ post.title }}</h3>

                                    {% if post.description %}
                                        <p class="description">{{ post.description }}</p>
                                    {% endif %}

                                </div>
                            </div>

                            {% set pc = pc + 1%}

                            {% endfor %}
                    
                        {% endif %}

                        </div>
                    </div>

                    <div class="box-red">

                        {% if page.main_call_to_action_title %}

                            <h2>{{ page.main_call_to_action_title }}</h2>
                        
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-12">
                                
                                {% if page.main_call_to_action_text %}
                                    <p>{{ page.main_call_to_action_text }}</p>
                                {% endif %}

                                <ul class="language-selection">

                                    <li><a href="/language/switch/en/">EN</a></li>
                                    <li><a href="/language/switch/ga/">GA</a></li>
                                    <li><a href="/language/switch/ar/">AR</a></li>
                                    <li><a href="/language/switch/es/">ES</a></li>
                                    <li><a href="/language/switch/fr/">FR</a></li>
                                    <li><a href="/language/switch/lt/">LT</a></li>
                                    <li><a href="/language/switch/ms/">MS</a></li>
                                    <li><a href="/language/switch/pl/">PL</a></li>
                                    <li><a href="/language/switch/pt/">PT</a></li>
                                    <li><a href="/language/switch/ro/">RO</a></li>
                                    <li><a href="/language/switch/ru/">RU</a></li>
                                    <li><a href="/language/switch/tl/">TL</a></li>
                                    <li><a href="/language/switch/ukr/">UKR</a></li>
                                    <li><a href="/language/switch/zhs/">ZHS</a></li>
                                    <li><a href="/language/switch/zht/">ZHT</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    {% if page.secondary_title or page.secondary_text %}

                    <div class="box-grey">
                        
                        <div class="row">
                            <div class="col-12">

                                <h2>{{page.secondary_title}}</h2>
                                <p>{{fn('nl2br', page.secondary_text)}}</p>

                                {% if page.secondary_ctas_converted %}

                                    <div class="welcome-list">

                                    {% for panel_action in page.secondary_ctas_converted %}

                                        <a target="{{ panel_action.external_link != '' ? '_blank' : '' }}" href="{{ panel_action.external_link != '' ? panel_action.external_link : panel_action.internal_link }}" class="button whiteout">{{ (panel_action.button_copy) ? panel_action.button_copy : "More Info" }}</a>
                                        
                                    {% endfor %}
                                    
                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>


                    {% endif %}


                </div>
            
                <div class="col-12 col-lg-6 columns d-none d-lg-block">

                    <div class="box-grey">

                        {% if page.column2_title %}

                        <div class="row">
                            <div class="small-12 columns">
                                <h2>{{ page.column2_title }}</h2>
                            </div>
                        </div>

                        {% endif %}

                        <div class="row">
                    
                        {% if featured_posts %}

                            {% set pc = 0 %}

                            {% for post in featured_posts %}

                            <div class="col-12 col-md-{{(pc < 2) ? '12' : '6 use-white' }} columns">
                                <div class="box-greyer">
                                    <a href="{{ post.link }}" class="catch-all" title="{{ post.title }}"></a>
                                    <p class="featured-category">
                                        <strong>
                                            <span>{{ (post.primary_category) ? post.primary_category.name : post.post_type }}</span>
                                            {% if post.post_type == 'article' or post.post_type == 'attachment' or post.post_type == 'study' or post.post_type == 'statistic'  %} / {{ post.date|date('jS F Y') }}{% endif %}
                                        </strong>
                                    </p>
                                    <h3>{{ post.title }}</h3>

                                    {% if post.description_extended %}
                                        <p class="description">{{ post.description_extended }}</p>
                                    {% elseif post.description %}
                                        <p class="description">{{ post.description }}</p>
                                    {% endif %}

                                </div>
                            </div>

                            {% set pc = pc + 1%}

                            {% endfor %}
                    
                        {% endif %}

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>



    {% if page.highlighted_section_title or page.highlighted_section_text or page.highlighted_section_actions %}

        <div class="recent-performance">

            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="content">

                                    {% if page.highlighted_section_title %}<h2>{{ page.highlighted_section_title }}</h2>{% endif %}
                                    {% if page.highlighted_section_text %}

                                        {{ fn('wpautop',page.highlighted_section_text) }}
                                    
                                    {% endif %}

                                    <p class="pt-3">

                                    {% for action in page.get_field('highlighted_section_actions') %}

                                        <a target="{{ action.external_link != '' ? '_blank' : '' }}" href="{{ action.external_link != '' ? action.external_link : action.internal_link }}" class="button whiteout">{{ action.button_copy }}</a>
                                    
                                    {% endfor %}
                                    
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">

                                {% if active_chart %}

                                    <span class="chartExists"></span>


                                <div class="statistics-graph">

                                    
                                    {% include 'partials/items/chart.twig' with { 'chart' : active_chart, 'chart_only' : true } %}


                                </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    {% endif %}

{% endblock %}

