{% extends "base.twig" %}
{% block content %}

    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

        {% if page.emergency_contents %}

            {% include 'partials/emergency-contents.twig' with { 'emergency_contents' : page.emergency_contents } %}

        {% endif %}

        <div class="row">
            <div class="col-12">
 
                {% include 'partials/submit-a-complaint.twig' %} 

            </div>
        </div>

        {% if page.blocks %}

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


    </div>


{% endblock %}

