{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

    {% if page.emergency_contents %}

        {% include 'partials/emergency-contents.twig' with { 'emergency_contents' : page.emergency_contents } %}

    {% endif %}
    
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ page.title }}</h1>
                            
                            <hr>

                            {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                    {% for location in options.location %}

                        <h2 class="mt-0 pt-0">{{ location.title }}</h2>

                        {% if location.address_details %}

                            <ul class="vertical-icons no-icon">

                            {% for k, line in location.address_details %}

                                <li class="{{ (k == "name") ? 'bold' : '' }}">{{ line }}</li>                        
                            {% endfor %}

                            {% if location.latitude %}

                                <li class="smaller">{{ location.latitude }}, {{ location.longitude }}</li>

                            {% endif %}

                            </ul>
                        
                        {% endif %}


                        <ul class="vertical-icons brand-icon">

                            {% if location.email_address %}

                                <li class="icon-email"><a href="mailto:{{ location.email_address }}" title="Send email to {{ location.email_address }}">Send Email</a></li>
                            {% endif %}

                            {% if location.telephone_number %}

                                <li class="icon-phone"><a href="tel:{{ fn('formatPhoneNumber', location.telephone_number) }}" title="Call {{ location.telephone_number }}">{{ location.telephone_number }}</a></li>

                            {% endif %}

                            {% if location.mobile_number %}
                                <li class="icon-mobile"><a href="tel:{{ fn('formatPhoneNumber', location.mobile_number) }}" title="Call {{ location.mobile_number }}">{{ location.mobile_number }}</a></li>

                            {% endif %}

                            {% if location.fax_number %}
                                <li class="icon-fax"><a href="tel:{{ fn('formatPhoneNumber', location.fax_number) }}" title="Call {{ location.faxe_number }}">{{ location.fax_number }}</a></li>

                            {% endif %}

                            {% if location.address_details_gmap %}


                                <li class="icon-map">
                                    <a href="https://www.google.com/maps/search/?api=1&query={{ location.address_details_gmap }}&zoom=14&basemap=roadmap" target="_blank" rel="noopener">
                                        Open in Google Maps
                                    </a>
                                </li>

                            {% endif %}
                        
                        </ul>


                        {% if location.social_channels %}

                            <ul class="horizontal-icons">

                                {% for item in location.social_channels %}
                                
                                    <li class="apply-{{ item.icon }}">
                                        <a href="{{ item.link }}" target="_blank" rel="noopener" title="{{ site.title }} on {{ item.name }}"><span class="visually-hidden">{{ item.name }}</span> </a>
                                    </li>
                                
                                {% endfor %}

                            </ul>

                        {% endif %}
                        

                    {% endfor %}



                    {% if not page.should_hide_navigation %} {% include 'partials/side-navigation.twig' with { 'page' : page } %} {% endif %}
                    {% if page.hasSupportingBlocks() %}{% include 'partials/supporting-content.twig' with { 'blocks': page.supporting_blocks } %}{% endif %}


                </div>
            </div>
        </div>
    </div>


{% endblock %}

