{% extends "base.twig" %}
{% block content %}

   {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}


    <div class="container initial">

        <div class="row">
            <div class="col-12">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ page.title }}</h1>
                            
                            <hr />
                            
                            {% if page.blocks %}

                                {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                                <hr />

                            {% endif %}


                            {% set video_columns = "10 offset-md-1"  %}

                            {% if videos|length > 1  %}
                                {% set video_columns = 4 %}
                            {% endif %}

                            <div class="row">

                                {% for video in videos %}
                                
                                    <div class="col-12 col-md-{{ video_columns }}">
                                        <div class="ratio ratio-16x9 {{ video.source }}">
                                            {{ video.embed }}
                                        </div>
                                    </div>
                                
                                {% endfor %}


                                {% if not videos %}
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>No Videos</h3>
                                            <p>There are currently no video posts available.</p>
                                        </div>
                                    </div>
                                {% endif %}
                                

                                <div class="clearfix"></div>


                            
                            </div>

                            {% if posts and pagination %}

                                <div class="row">
                                    <div class="col-12">
                                        {% include 'partials/pagination.twig'  with { 'pagination': pagination } %}
                                    </div>
                                </div>

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}
