{% extends "base.twig" %}
{% block content %}

    {# if this is set as a taxonomy page, do taxonomy listings instead of post listings #}
     {% set posts = page.alt_posts %}

    {# pagination has been re-simmed completely in page.php to ensure it appears on archive pages  #}
    {% set pagination = page.paginationSimulation %}


   {% include 'partials/structure/banner.twig' with { 'current_post' : page, 'is_archive' : is_archive } %}

    <div class="container initial">

        {% if page.emergency_contents %}

            {% include 'partials/emergency-contents.twig' with { 'emergency_contents' : page.emergency_contents } %}

        {% endif %}

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ title }}</h1>
                            
                            <hr />

                            {% if page.blocks %}

                                {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                                <hr />

                            {% endif %}

                            {% if page.listings_title %}

                                <h2 class="block-title mt-4">{{ page.listings_title }}</h2>

                            {% endif %}

                            {% if posts %}

                            <div class="card-blog">

                            {% for item in posts %}

                                {% include 'partials/items/blog.twig' with { 'item' : item } %}

                            {% endfor %}

                            </div>

                            {% else %}

                                <div class="row">
                                    <div class="col-12">
                                        
                                        {%  if  page.empty_listings_copy %} 

                                        {{ fn('wpautop', page.empty_listings_copy )}}

                                        {% else %}

                                            <p>There are no matching posts for this period of time. You can look in the Archive for older and alternative date ranges.</p>
    
                                        {% endif %}
    
                                    </div>
                                </div>
                            
                            {% endif %}

                        </div>
                    </div>

                    {% if posts and pagination %}

                        <div class="row">
                            <div class="col-12">
                                {% include 'partials/pagination.twig'  with { 'pagination': pagination } %}
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                        
                     {% if not page.should_hide_navigation %} 
                        {% include 'partials/side-navigation.twig' with { 'page' : page } %}
                     {% endif %}

                    {% if page.archives_list and page.show_archive_links %}

                            <nav class="side-navigation" role="Archive">

                                <h2>Archives</h2>
                                <ul class="vertical-icons all-links">

                                {% for item in page.archives_list.items %}
                                    
                                    <li class="child"><a href="{{ fn('trimFinalCharIfSlash', page.link) }}/?selected_year={{item.name}}">{{item.name}}</a></li>

                                {% endfor %}

                                </ul>
                            </nav>

                    {% endif %}

                    {% if page.hasSupportingBlocks() %}{% include 'partials/supporting-content.twig' with { 'blocks': page.supporting_blocks } %}{% endif %}

                </div>
            </div>
        </div>


    </div>

{% endblock %}
