{% extends "base.twig" %}
{% block content %}

   {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}


    <div class="container initial">

        <div class="row">
            <div class="col-12 ">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ page.title }}</h1>
                            
                            <hr>

                            <div class="row">
                                <div class="col-12 col-md-4">
                                    
                                    {% if pages %}

                                        <h2>Pages</h2>
                                        <ul class="vertical-icons">
                                            {% for page in pages %}

                                                <li>
                                                
                                                    <a href="{{ page.link }}" title="{{ page.title }}">{{ page.title }}</a>
                                                    {% if page.children %}
                                                        <ul>
                                                            {% for child in page.children %}
                                                                {% if child.post_type == 'page' %}
                                                                <li>
                                                                    <a href="{{ child.link }}" title="{{ child.title }}">{{ child.title }}</a>
                                                                    {% if child.children %}
                                                                        <ul>
                                                                            {% for grandchild in child.children %}
                                                                                {% if grandchild.post_type == 'page' %}
                                                                                <li>
                                                                                    <a href="{{ grandchild.link }}" title="{{ grandchild.title }}">{{ grandchild.title }}</a>
                                                                                </li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <hr>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">

                                    {% if articles %}
                                        <h2>News and Statements</h2>
                                        <ul class="vertical-icons">
                                            {% for article in articles %}
                                                <li>
                                                    <a href="{{ article.link }}" title="{{ article.title }}">{{ article.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>
                                <div class="col-md-4">

                                    {% if careers %}
                                        <h2>Careers</h2>
                                        <ul class="vertical-icons">
                                            {% for career in careers %}
                                                <li>
                                                    <a href="{{ career.link }}" title="{{ career.title }}">{{ career.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if people %}
                                        <h2>Ombudsman Commissioners</h2>
                                        <ul  class="vertical-icons">
                                            {% for person in people %}
                                                <li>
                                                    <a href="{{ person.link }}" title="{{ person.title }}">{{ person.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>


{% endblock %}


