{% extends "base.twig" %}
{% block content %}

    {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            {%  if  page.title == "Confirmation" %} 
                                {% include 'partials/submit-a-complaint-confirmation.twig' %} 

                                {% if publish_anonymous_form %}

                                    {{ function('do_shortcode', '[gravityform title=false description=false ajax=false id="5"]') }}

                                {% endif %}

                            {% endif %}

                            {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="col-12 col-lg-3 columns sidebar">
                <div class="container-inner">

                    {% if not page.should_hide_navigation %} {% include 'partials/side-navigation.twig' with { 'page' : page } %} {% endif %}
                    {% if page.hasSupportingBlocks() %}{% include 'partials/supporting-content.twig' with { 'blocks': page.supporting_blocks } %}{% endif %}

                </div>
            </div>
        </div>-->

        </div>
    </div>


{% endblock %}

