{% extends "base.twig" %}
{% block content %}

   {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}


    <div class="container initial">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ page.title }}</h1>
                            
                            <hr />

                            {% include 'partials/content-blocks.twig' with { 'blocks': page.blocks } %}

                            <hr />

                            <div class="card-blog">

                            {% for item in statistics %}

                                {% include 'partials/items/blog.twig' with { 'item' : item } %}

                            {% endfor %}

                            </div>



                            {% if not statistics %}

                            <h3>No Statistics</h3>
                            <p>There are no statistics posts currently available.</p>

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                    {% if not page.should_hide_navigation %} {% include 'partials/side-navigation.twig' with { 'page' : page } %} {% endif %}
                    {% if page.hasSupportingBlocks() %}{% include 'partials/supporting-content.twig' with { 'blocks': page.supporting_blocks } %}{% endif %}

                </div>
            </div>
        </div>
        
        {% if pagination %}

            <div class="row">
                <div class="col-12">
                    {% include 'partials/pagination.twig'  with { 'pagination': pagination } %}
                </div>
            </div>
            
        {% endif %}

    </div>

{% endblock %}

