{% extends "base.twig" %}
{% block content %}

   {% include 'partials/structure/banner.twig' with { 'current_post' : page } %}


    <div class="container initial">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                            {% include 'partials/breadcrumb.twig' with { 'crumbs': page.crumbs, 'crumbs_parent': page.term_crumbs_parent, 'crumb_type' : ( (page.crumb_type) ? page.crumb_type : 'page'  ) } %}

                            <h1>{{ total }} result{% if total <= 0 or total > 1 %}s{% endif %} {{ title }}</h1>

                            {% if total > 0 %}

                            <p>Showing results {{ start_count }} - {{ end_count }} of  {{ total }}</p>

                            {% endif %}

                            {% if total <= 0 %}

                                <div class="row">
                                    <div class="col-12">
                                        <p>Sorry, in this instance, your search returned no results.</p>
                                        <p>Please try searching for an alternative or using the site navigation.</p>
                                    </div>
                                </div>
                            {% endif %}

                            <hr>

                            <div class="card-blog">

                            {% for item in posts %}

                                {% include 'partials/items/blog.twig' with { 'item' : item } %}

                            {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        
        {% if pagination %}

            <div class="row">
                <div class="col-12 col-md-9">
                    {% include 'partials/pagination.twig'  with { 'pagination': pagination } %}
                </div>
            </div>
            
        {% endif %}

    </div>

{% endblock %}

