{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>
                                
                            <hr>

                            <div class="ratio ratio-16x9 {{ post.source }}">
                                {{ post.embed }}
                            </div>


                            {% include 'partials/content-blocks.twig' with { 'blocks': post.blocks } %}



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">


                    {% if post.hasSupportingBlocks() %}
                        {% include 'partials/supporting-content.twig' with { 'blocks': post.supporting_blocks } %}
                    {% endif %}
                
                </div>
            </div>

        </div>
    </div>

    {% include 'partials/meta/local-data-article.twig' with { item : post } %}

{% endblock %}