{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>

                            {% set location = post %}

                            <div class="row location-block">
                                <div class="col-12 col-md-8">
                        
                                    <div class="acf-map">

                                    
                                        <div class="marker" data-lat="{{ location.latitude }}" data-lng="{{ location.longitude }}">
                                            
                                            {% if location.name %}
                                                <p><strong>{{ location.name }}</strong></p>
                                            {% endif %}

                                            <div class="marker-address">

                                                <ul class="vertical-icons no-icon">

                                                {% for line in location.address_details %}

                                                    <li>{{ line }}</li>                        

                                                {% endfor %}

                                                </ul>

                                            </div>
                                            <div class="marker-contact">

                                                <ul class="vertical-icons">

                                                    {% if location.email_address %}

                                                        <li class="icon-email">
                                                            <a href="mailto:{{ location.email_address }}" title="Send email to {{ location.email_address }}"><span class="d-none d-md-inline-block">{{ location.email_address }}</span><span class="d-inline-block d-md-none">Email Us</span></a>
                                                        </li>

                                                    {% endif %}
                                                    {% if location.telephone_number %}

                                                        <li class="icon-phone">
                                                            <a href="tel:{{ fn('formatPhoneNumber', location.telephone_number) }}" title="Call {{ location.telephone_number }}">{{ location.telephone_number }}</a>
                                                        </li>

                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>



                                    </div>


                                </div>

                                <div class="col-12 col-md-4">


                                        {% if location.address_details %}

                                            <ul class="vertical-icons no-icon mt-0 pt-0">

                                            {% for k, line in location.address_details %}

                                                <li class="{{ (k == "name") ? 'bold' : '' }}">{{ line }}</li>                        
                                            {% endfor %}

                                            {% if location.latitude %}

                                                <li class="smaller">{{ location.latitude }}, {{ location.longitude }}</li>

                                            {% endif %}

                                            </ul>
                                        
                                        {% endif %}


                                        <ul class="vertical-icons brand-icon">

                                            {% if location.email_address %}

                                                <li class="icon-email"><a href="mailto:{{ location.email_address }}" title="Send email to {{ location.email_address }}">Send Email</a></li>
                                            {% endif %}

                                            {% if location.telephone_number %}

                                                <li class="icon-phone"><a href="tel:{{ fn('formatPhoneNumber', location.telephone_number) }}" title="Call {{ location.telephone_number }}">{{ location.telephone_number }}</a></li>

                                            {% endif %}

                                            {% if location.mobile_number %}
                                                <li class="icon-mobile"><a href="tel:{{ fn('formatPhoneNumber', location.mobile_number) }}" title="Call {{ location.mobile_number }}">{{ location.mobile_number }}</a></li>

                                            {% endif %}

                                            {% if location.fax_number %}
                                                <li class="icon-fax"><a href="tel:{{ fn('formatPhoneNumber', location.fax_number) }}" title="Call {{ location.faxe_number }}">{{ location.fax_number }}</a></li>

                                            {% endif %}

                                            {% if location.address_details_gmap %}


                                                <li class="icon-map">
                                                    <a href="https://www.google.com/maps/search/?api=1&query={{ location.address_details_gmap }}&zoom=14&basemap=roadmap" target="_blank" rel="noopener">
                                                        Open in Google Maps
                                                    </a>
                                                </li>

                                            {% endif %}
                                        
                                        </ul>


                                        {% if location.social_channels %}

                                            <ul class="horizontal-icons">

                                                {% for item in location.social_channels %}
                                                
                                                    <li class="apply-{{ item.icon }}">
                                                        <a href="{{ item.link }}" target="_blank" rel="noopener" title="{{ site.title }} on {{ item.name }}"><span class="visually-hidden">{{ item.name }}</span> </a>
                                                    </li>
                                                
                                                {% endfor %}

                                            </ul>

                                        {% endif %}
                                        


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




                                

{% endblock %}