{% extends "base.twig" %}
{% block content %}

    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>

                            <div class="date-published">
                                {{ post.date }}
                            </div>

                            {% if (is_an_image) %}

                                <p><b>Image / Photo</b></p>

                                {% if post.caption %}
                                    <h5>{{ post.caption }}</h5>
                                {% endif %}

                                {% if post.description and post.description != post.caption %}
                                    <p>{{ post.description }}</p>
                                {% endif %}

                                <div class="block block--full-size-image">
                                    <div class="block--full-size-image__content">
                                        {% include "partials/simple-image-static.twig" with { 'image': image, 'size': 'full' } %}
                                    </div>
                                </div>

                                <div class="multimedia-full-size">

                                {% include "partials/simple-image-static-no-retina.twig" with { 'image': post, 'size': 'full' } %}

                                </div>

                            {% else %}

                                <h3>Download File</h3>

                                <table role="grid" class="info-table sortable-table-none">
                                    <thead>
                                        <tr>
                                            
                                            <th class="td-50">Title</th>
                                            <th class="td-20 text-center">Size</th>
                                            <th class="td-10 text-center">Type</th>
                                            <th class="td-20 text-center">Last Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                   

                                        <tr>
                                            <td>
                                                <a data-file-download-name="{{ post.title }}" data-file-download-path="{{ post.url }}"  href="?download=file&file={{ post.id }}" target="_blank" rel="noopener">
                                                    <h2>{{ post.title }}</h2>
                                                </a>

                                                {% if post.caption %}
                                                    <h5>
                                                        {{ post.caption }}
                                                    </h5>
                                                {% endif %}

                                                {% if post.description %}
                                                    <p class="file-description">
                                                        {{ post.description }}
                                                    </p>
                                                {% endif %}

                                            </td>
                                            <td class="text-center" data-sort="{{ post.size }}" class="file-size">
                                                {{ post.friendly_size }}
                                            </td>
                                            <td class="text-center">
                                                <span class="ext-above {{ post.icon }}"><span>{{ post.extension }}</span></span>
                                            </td>

                                            <td data-sort="{{ post.post_date }}" class="text-center">
                                                {{ post.date }}
                                            </td>
                                        </tr>
                                    
                                    

                                    </tbody>
                                </table>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}