{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>

                            <div class="date-published">
                                {{ post.date }}
                            </div>
                            <hr />

                            {% include 'partials/items/chart.twig' with { 'chart' : post } %}

                            {% include 'partials/content-blocks.twig' with { 'blocks': post.blocks } %}

                        </div>  
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}