{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>
                            
                            <div class="date-published">
                                {{ post.date }}
                            </div>
                            
                            <hr>

                            {% include 'partials/content-blocks.twig' with { 'blocks': post.blocks } %}



                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                    {% if post.related_posts %}

                    <nav class="side-navigation" role="Sectional">

                        <h2 class="mt-0 pt-0">Related Statistics</h2>

                        <ul class="vertical-icons">

                            {% for item in post.related_posts %}

                                <li><a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a></li>

                            {% endfor %}
                        </ul>

                    </nav>

                    {% endif %}


                    {% if post.hasSupportingBlocks() %}
                        {% include 'partials/supporting-content.twig' with { 'blocks': post.supporting_blocks } %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}