{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : null } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>

                            <h2>{{ post.role }}</h2>
                            <hr />

                            <div class="row">
                                
                                <div class="col-12 col-md-8 order-2">
                                    <p>{{ fn('wpautop', post.details) }}</p>
                                </div>

                                

                                <div class="col-12 col-md-4 order-1">

                                    {% if post.thumbnail %}

                                        {% include "partials/simple-image-static-no-retina.twig" with { 'image': post.thumbnail, 'size': 'full' } %}

                                     {% endif %}

                                    {% if post.twitter or post.linkedin or post.email %}
                                        <ul class="vertical-icons brand-icon">
                                            {% if post.twitter %}
                                                <li class="icon-twitter"><a href="//twitter.com/{{ post.twitter }}" title="{{ post.name }} on Twitter"><span class="e">Follow on Twitter</span></a></li>
                                            {% endif %}
                                            {% if post.linkedin %}
                                                <li class="icon-linkedin"><a href="{{ post.linkedin }}" title="{{ post.name }} on LinkedIn"><span class="">Follow on LinkedIn</span></a></li>
                                            {% endif %}
                                            {% if post.email %}
                                                <li class="icon-email"><a href="mailto:{{ post.email }}" title="Email {{ post.name }}"><span class="">Email</span></a></li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}

                                </div>

                               
                            
                            </div>

                            <hr />

                            {% include 'partials/content-blocks.twig' with { 'blocks': post.blocks } %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 sidebar" id="sideNav">
                <div class="container-inner">

                    {% if post.related_posts %}

                    <nav class="side-navigation" role="Navigation" aria-label="Sectional">

                        <h2 class="mt-0 pt-0">Commissioners</h2>

                        <ul class="vertical-icons">

                            {% for person in post.related_posts %}

                                <li><a href="{{ person.link }}" title="{{ post.title }}">{{ person.name }}</a></li>

                            {% endfor %}
                        </ul>

                    </nav>

                    {% endif %}


                    {% if post.hasSupportingBlocks() %}
                        {% include 'partials/supporting-content.twig' with { 'blocks': post.supporting_blocks } %}
                    {% endif %}

                </div>
            </div>


        </div>
    </div>

{% endblock %}