{% extends "base.twig" %}
{% block content %}


    {% include 'partials/structure/banner.twig' with { 'current_post' : post } %}

    <div class="container initial">

        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="container container-inner">
                    <div class="row">
                        <div class="col-12">

                             {% include 'partials/breadcrumb.twig' with { 'crumbs': post.crumbs, 'crumbs_parent': post.term_crumbs_parent, 'crumb_type' : ( (post.crumb_type) ? post.crumb_type : 'page'  ) } %}

                            <h1>{{ post.title }}</h1>

                            <hr>

                            <ul class="vertical-icons">

                            {% if post.ends_at  %}
                                <li>
                                    Closing Date: {{ post.ends_at|date('jS F Y g:ia') }}
                                </li>
                            {% endif %}

                            {% if post.location  %}
                                <li>
                                    Location: {{ post.location }}
                                </li>
                            {% endif %}

                            {% if post.salary  %}
                                <li>
                                    Salary: {{ post.salary }}
                                </li>
                            {% endif %}

                            </ul>

                            {% include 'partials/content-blocks.twig' with { 'blocks': post.blocks } %}

                    </div>
                </div>
            </div>
        </div>

        {% if post.hasSupportingBlocks or post.related_posts %}

        <div class="col-12 col-md-3 sidebar" id="sideNav">
            <div class="container-inner">

                {% if post.related_posts %}

                <nav class="side-navigation" role="Sectional">

                    <h2 class="mt-0 pt-0"> Other Positions</h2>
                    <ul class="vertical-icons">

                        {% for item in post.related_posts %}

                            <li>
                                <a href="{{ item.link }}">{{ item.title }}</a>
                                <span class="additional">Closes: {{ item.ends_at|date('jS F Y g:ia') }}</span>
                            </li>

                        {% endfor %}

                    </ul>
                </nav>

                {% endif %}

                {% include 'partials/supporting-content.twig' with { 'blocks': post.supporting_blocks } %}
            
            </div>
        </div>
        
        {% endif %}


        </div>
    </div>

{% endblock %}