
        {#{ converted AMN }#}  

        <ul class="box-grid">
                
        {% for image in gallery %}

        	<li>
       
            {% set caption = (display_captions) ? image.alt : null  %}

            {% include "partials/simple-image-zoom.twig" with { 'image': image, 'size': 'small-square' , 'caption': caption }  %}

        	</li>

        {% endfor %}

    	</ul>

