
        {#{ converted AMN }#}  

                                    {% set video_columns = videos|length == 1 ? "10 offset-md-1" : 6 %}

                                    {% if block_width and block_width == 6 %}
                                        {% set video_columns = 12 %}
                                    {% endif %}

                                    {% if video_columns == 12 and videos|length > 2  %}
                                        {% set video_columns = 4 %}
                                    {% endif %}

                                    <div class="row">

                                        {% for video in block.videos %}
                                        
                                            <div class="col-12 col-md-{{ video_columns }}">
                                                <div class="ratio ratio-16x9 {{ video.source }}">
                                                    {{ video.embed }}
                                                </div>
                                            </div>
                                        
                                        {% endfor %}

                                            <div class="clearfix"></div>
                                    
                                    </div>

