
        {#{ converted AMN }#}  

        {% if block.gallery %}

        	{% for image in gallery %}

        		<div class="multimedia-full-size">

            	{% include "partials/simple-image-static-no-retina.twig" with { 'image': image, 'size': 'full' } %}

            	</div>

        	{% endfor %}
            
        {% endif %}
