
            {#{ converted AMN }#}  

            <div class="slick-standard">

                {% for image in gallery %}
                
                    {% set caption = (display_captions) ? image.alt : null  %}
                
                    <div class="slide">
                        <div class="slide-content">

                            {% include "partials/simple-image-static-no-retina.twig" with { 'image': image, 'size': 'medium-landscape' , 'caption': caption }  %}

                        </div>
                    </div>

                {% endfor %}

            </div>