
        {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}

        {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
        {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

        <div class="row">
            
            <div class="col-12">

                <div class="data-chart mt-3" data-chart-type="{{ chart.type }}">
                
                    {% for chart in block.chart %}
                
                        {% include 'partials/items/chart.twig' with { 'chart' : chart } %}

                    {% endfor %}

                </div>
            </div>
        </div>

