
        {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}

        {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
        {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

        <div class="row form-block">

        	<div class="col-12">

        		{{ function('do_shortcode', '[gravityform title=false description=false ajax=false id="' ~ block.form.id ~ '"]') }}

        	</div>

    	</div>
