
            {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}
            {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
            {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

            <div class="row downloads-block">
                <div class="col-12"> 
            
                {% if block.layout == 'panel' %}

                    {% set row_data = 'd-flex align-items-stretch row-cols-1 row-cols-md-2 row-cols-lg-3 gx-4 gy-4 mt-2'  %}

                    {% for library in block.libraries %}

                        <div class="row {{ row_data }} card-deck">

                            {% for item in library.documents %}

                                <div class="col">

                                {% include 'partials/items/card.twig' with { 'item' : item } %}

                                </div>

                            {% endfor %}

                        </div>

                    {% endfor %}

                {% else %}

                    {% for library in block.libraries %}

                         <h3>{{ library.name }}</h3>

                         <table role="grid" class="info-table sortable-table-none">

                           
                            <thead>
                                <tr>
                                    
                                    <th class="td-50">Title</th>
                                    <th class="td-20 text-center">Size</th>
                                    <th class="td-10 text-center">Type</th>
                                    <th class="td-20 text-center">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for file in library.documents %}

                            <tr>
                                <td>
                                    <a data-file-download-name="{{ file.title }}" data-file-download-path="{{ file.url }}"  href="?download=file&file={{ file.id }}" target="_blank" rel="noopener">
                                        <h2>{{ file.title }}</h2>
                                    </a>

                                    {% if file.caption %}
                                         <p class="file-description">
                                            {{ file.caption }}
                                        </p>
                                    {% endif %}

                                    {% if file.description %}
                                        <p class="file-description">
                                            {{ file.description }}
                                        </p>
                                    {% endif %}

                                </td>
                                <td class="text-center" data-sort="{{ file.size }}" class="file-size">
                                    {{ file.friendly_size }}
                                </td>
                                <td class="text-center">
                                    <span class="ext-above {{ file.icon }}"><span>{{ file.extension }}</span></span>
                                </td>

                                <td data-sort="{{ file.post_date }}" class="text-center">
                                    {{ file.date }}
                                </td>
                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    {% endfor %}
                {% endif %}


            </div>

        </div>
