
            {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}
            {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
            {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

            <div class="row">
                <div class="col-12">

                    {% set group = "accordionGroup" ~ random(10000) %}

                    <div class="row">
                        <div class="col-12">
                             <div class="accordion" id="{{ group }}">

                                {% set count = 0 %}

                                {% for item in block.faqs %}

                                    {% set count = count + 1 %}

                                    {% include 'partials/items/accordion.twig' with { 'item' : item, 'count' : count, 'group' : group  } %}

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>

