
        {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}

        {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
        {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

        <div class="row location-block">
            <div class="col-12 col-md-8">

                {% if block.locations %}

                    <div class="acf-map">

                        {% for location in block.locations %}
                        
                            <div class="marker" data-lat="{{ location.latitude }}" data-lng="{{ location.longitude }}">
                                
                                {% if location.name %}
                                    <p><strong>{{ location.name }}</strong></p>
                                {% endif %}

                                <div class="marker-address">

                                    <ul class="vertical-icons no-icon">

                                    {% for line in location.address_details %}

                                        <li>{{ line }}</li>                        

                                    {% endfor %}

                                    </ul>

                                </div>
                                <div class="marker-contact">

                                    <ul class="vertical-icons">

                                        {% if location.email_address %}

                                            <li class="icon-email">
                                                <a href="mailto:{{ location.email_address }}" title="Send email to {{ location.email_address }}"><span class="d-none d-md-inline-block">{{ location.email_address }}</span><span class="d-inline-block d-md-none">Email Us</span></a>
                                            </li>

                                        {% endif %}
                                        {% if location.telephone_number %}

                                            <li class="icon-phone">
                                                <a href="tel:{{ fn('formatPhoneNumber', location.telephone_number) }}" title="Call {{ location.telephone_number }}">{{ location.telephone_number }}</a>
                                            </li>

                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>

            <div class="col-12 col-md-4">

                {% for location in block.locations %}

                    <h2 class="mt-0 pt-0">{{ location.title }}</h2>

                    {% if location.address_details %}

                        <ul class="vertical-icons no-icon">

                        {% for k, line in location.address_details %}

                            <li class="{{ (k == "name") ? 'bold' : '' }}">{{ line }}</li>                        
                        {% endfor %}

                        {% if location.latitude %}

                            <li class="smaller">{{ location.latitude }}, {{ location.longitude }}</li>

                        {% endif %}

                        </ul>
                    
                    {% endif %}


                    <ul class="vertical-icons brand-icon">

                        {% if location.email_address %}

                            <li class="icon-email"><a href="mailto:{{ location.email_address }}" title="Send email to {{ location.email_address }}">Send Email</a></li>
                        {% endif %}

                        {% if location.telephone_number %}

                            <li class="icon-phone"><a href="tel:{{ fn('formatPhoneNumber', location.telephone_number) }}" title="Call {{ location.telephone_number }}">{{ location.telephone_number }}</a></li>

                        {% endif %}

                        {% if location.mobile_number %}
                            <li class="icon-mobile"><a href="tel:{{ fn('formatPhoneNumber', location.mobile_number) }}" title="Call {{ location.mobile_number }}">{{ location.mobile_number }}</a></li>

                        {% endif %}

                        {% if location.fax_number %}
                            <li class="icon-fax"><a href="tel:{{ fn('formatPhoneNumber', location.fax_number) }}" title="Call {{ location.faxe_number }}">{{ location.fax_number }}</a></li>

                        {% endif %}

                        {% if location.address_details_gmap %}


                            <li class="icon-map">
                                <a href="https://www.google.com/maps/search/?api=1&query={{ location.address_details_gmap }}&zoom=14&basemap=roadmap" target="_blank" rel="noopener">
                                    Open in Google Maps
                                </a>
                            </li>

                        {% endif %}
                    
                    </ul>


                    {% if location.social_channels %}

                        <ul class="horizontal-icons">

                            {% for item in location.social_channels %}
                            
                                <li class="apply-{{ item.icon }}">
                                    <a href="{{ item.link }}" target="_blank" rel="noopener" title="{{ site.title }} on {{ item.name }}"><span class="visually-hidden">{{ item.name }}</span> </a>
                                </li>
                            
                            {% endfor %}

                        </ul>

                    {% endif %}
                    

                {% endfor %}


            </div>
        </div>
