        {#{ converted AMN }#}  

        {% set cols = (block.content and block.has_content) ? 6 : 12 %}
        {% if block.full_width %}{% set cols = 12 %}{% endif %}
        {% set reverse_order = ( block.content_position and block.content_position == 'before') ? true : false %}

        {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}
        {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
        {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}

        <div class="row multimedia-block">

            <div class="col-12 col-md-{{ cols }} order-{{ (reverse_order) ? '2' : '1' }}">

                {% include "content-blocks/multimedia-combo-blocks/multimedia_combo_" ~ block.style ~ ".twig" with { 'gallery' : block.gallery, 'videos' : block.video, 'captions' : block.captions, 'block_width' : cols } %}

            </div>

            {% if block.has_content and block.content %}

            <div class="col-12 col-md-{{ cols }} order-{{ (reverse_order) ? '1' : '2' }}">

                {{ fn('wpautop', block.content) }}

            </div>

            {% endif %}


            {% if block.internal_link != '' or block.external_link != '' %}

            <div class="col-12 my-3 order-3 ctas">
                <a class="button"  href="{{ block.external_link != '' ? block.external_link : block.internal_link }}" {% if block.external_link != '' %} target='_blank' rel="noopener"{% endif %}>{{ block.button_copy != '' ? block.button_copy : 'More Info' }}</a>
            </div>

            {% endif %}

        </div>



