

            {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}
            {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
            {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}


            <div class="row featured-posts-block">
                <div class="col-12">

                    {% if block.posts and (block.layout == 'cards' or block.layout == "slideshow") %}

                        {% set is_slick = (items|length > 1 and block.swipe_cards) ? true : false %}
                        {% set large_cols = 3 %}

                        {% set row_data = (is_slick) ? 'slick-cards mb-5' : (' d-flex align-items-stretch row-cols-1 row-cols-md-2 row-cols-lg-' ~ large_cols ~ ' gx-4 gy-4 mt-2')  %}

                        <div class="row {{ row_data }} card-deck">

                            {% set notlazy = true %}
                            {% for item in block.posts|slice(0, block.numberOf) %}

                                <div class="col {{ (is_slick) ? 'h-100' : '' }}">

                                    {% include 'partials/items/card.twig' with { 'item' : item, 'notlazy' : notlazy } %}

                                    {% if (item.thumbnail) %} {# we need 1 lnot lazy image for equalizers #}
                                        {% set notlazy = false %}
                                    {% endif %}

                                </div>

                            {% endfor %}

                        </div>

                    {% endif %}

                    {# END CARDS LAYOUT #}

                    {# LIST LAYOUT #}
                    {% if block.posts and block.layout == "list" %}

                        <div class="card-blog">

                            {% for item in block.posts|slice(0, block.count) %}

                                {% include 'partials/items/blog.twig' with { 'item' : item } %}

                            {% endfor %}

                        </div>

                    {% endif %}
                        
                    {# ACCORDION LAYOUT #}

                   {% if block.posts and block.display == 'accordion' %}

                         {% include 'partials/items/accordion-group.twig' with { 'items' : items } %}

                    {% endif %}

                    {# END ACCORDION LAYOUT #}


                </div>
            </div>

          