
		{#{ converted AMN }#}  

        {% if block.anchor %}<div id="{{ block.anchor }}" class="anchor-hidden"></div>{% endif %}

        {% if block.title %}<h2 class="block-title">{{ block.title }}</h2>{% endif %}
        {% if block.introduction %}<p class="lead">{{ block.introduction }}</p>{% endif %}
        {% if block.content %}<div class="wysiwyg-content">{{ fn('wpautop', block.content) }}</div>{% endif %}
