.feature-grab
{
    height: 460px;
    position: relative;   
}

.feature-carousel {
    /* SOME BASICS */
    height: 460px;
    //background: black;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
    position: relative;

    h1, h2, h3, h4, h5, h6, p, span {  color: $white;  }

    h2 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .breadcrumb-wrapper 
    {
        ul {
            li, li a {
                color: $white;
                &:first-child {
                    color: $white;
                }
            }

            li + li {
                &:before {
                    color: $white;
                }
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slide, .slick-list, .slick-track {
        height: 100%;
    }

    .slide {
        background-position: 50% 50%;
        background-size: cover;
        position: relative;
        height:460px;

    }


    /* SLICK STYLING */
    .slick-dots {
        bottom: 30px;

        button {
            &:before {
                color: $white;
                font-size: 1rem;
            }
        }

        li.slick-active {
            button {
                &:before {
                    color: $secondary-color;
                }
            }
        }
    }
    @include media-breakpoint-down(md)
    {
        h2
        {
            font-size: 1.6rem;
        }
        h3
        {
            font-size: 1.2rem;
        }
    }
}

.fixed-on-slide
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.slide-content 
{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &.left {
        @include media-breakpoint-up(md) {
            width: 50%;
            left: 0;
        }
    }

    &.right {
        @include media-breakpoint-up(md) {
            width: 50%;
            right: 0;
            left: auto;
        }
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.8rem;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }
    }

    h2 + h3 {
        font-size: 1.4rem;
        font-weight: $font_weight_light;
    }
    @include media-breakpoint-down(md)
    {
        h2, h1
        {
            font-size: 1.6rem;
        }
        h3
        {
            font-size: 1.2rem;
        }
    }

}

.slide-content {
    .button {
        background: $white;
        color: $dark_red;
        &:hover {
            background: $dark_red;
            color: $white;
        }
    }
}



// Feature Image Fallback
.feature-thumbnail 
{
    background-position: center;
    background-size: cover;
    height: 460px;
    padding: 100px 0 40px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }

    h1, h2 {
        color: $white;
    }

    .breadcrumb-wrapper {
        ul {
            li, li a {
                color: $white;
                &:first-child {
                    color: $white;
                }
            }

            li + li {
                &:before {
                    color: $white;
                }
            }
        }
    }
    @include media-breakpoint-down(md)
    {
        h2, h1
        {
            font-size: 1.6rem;
        }
        h3
        {
            font-size: 1.2rem;
        }
    }

}

/*.feature__carousel--multi-background {
    h1, h2 {
        color: $white;
    }

    .breadcrumb-wrapper {
        ul {
            li, li a {
                color: $white;
                &:first-child {
                    color: $white;
                }
            }

            li + li {
                &:before {
                    color: $white;
                }
            }
        }
    }

    .date-published {
        color: $white;
    }
}*/

.slide-content-box {
    background: rgba($dark_red, 0.65);
    padding: 20px;
    position: relative;
    @include media-breakpoint-up(md) {
        padding: 20px 40px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: rgba($dark_red, 0.65);
        left: 0;
        top: -5px;
    }
    h1, h2, h3, h4, h5, h6, p, span {  color: $white;  }
    
    h1 {
        font-size: 1.8rem;
    }
    h2, h1
    {
        padding-top: 0px;
        margin-top: 0px;
    }
    h3
    {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .date-published {
        color: $white;
    }

    @include media-breakpoint-down(md)
    {
        h2, h1
        {
            font-size: 1.6rem;
        }
        h3
        {
            font-size: 1.2rem;
        }
    }

}
div.slide-ctas
{
    margin-top: 1px;
    .button
    {
        display: inline-block;
    }
}

.content__wrapper + .button {
    margin-top: 10px;
}
.set-buttons
{
    .button
    {
        margin-top: 10px;;
    }
}

// Page Title In Place of Slider
.feature-image__empty {
    padding: 30px 0;

    .breadcrumb__wrapper {
        margin-bottom: 40px;
    }

    @include media-breakpoint-up(md) {
        padding: 30px 0;
    }
}