.homepage-bg
{
    padding-top:30px;
    background-repeat: repeat-x;
    background-position: top left;
    background-size: contain;
    
    .box-red 
    {
        margin:0px;
        padding:20px;
        background-color: $dark_red;
        background-color: rgba($dark_red, 0.75);
        margin-bottom: 15px;
        position:relative;

        h2 {
            color: $white;
            font-size: 2.0rem;
            line-height: 2.3rem;
        }

        p {
            color: $white;
            margin-bottom: 40px;

            @include media-breakpoint-up(md) {
                padding-right: 40px;
            }
        }


        &.red-border
        {
            margin-top:5px;
            border:none;
            &:before
            {
                content: '';
                position: absolute;
                width: 100%;
                margin:0px;
                padding:0px;
                height: 3px;
                background: rgba($dark_red,.75);
                left: 0px;
                top: -5px;            
            }

        }

    }
    .box-grey
    {
        padding:10px 20px 20px 20px;

        //background-color: #f5f5f5;
        background: rgba(245, 245, 245, 0.9);
        border: solid 1px $dark_red;
        margin: 0 0 15px 0;
        h2 {
            color: $dark_red;
            font-size: 2.0rem;
            padding-bottom:5px;
        }
        .button {
            background-color: $dark_red;
            border: 0;
            color: $white;
            &:hover {
                background-color: darken($dark_red, 10%);
            }
        }  
    }


    .box-greyer
    {
        background-color: #ebebeb;
        border: solid 1px $dark_red;
        margin: 0 0 15px 0;
        padding: 12.5px;
        position: relative;
        display:block;

        .featured-category 
        {
            margin: 0;
            span {
                text-transform: uppercase;
                font-size:0.7rem;
            }
            strong
            {
                text-transform: none;
                font-size:0.7rem;   
                }

        }
        h3
        {
            margin-top:3px;
            color: #8A2233;
        }
        &:hover
        {
            h3
            {
                text-decoration:underline;
            }
        }
 
    }
    .use-white
    {
        .box-greyer
        {
            background-color:#ffffff;
        }
    }
    .welcome-list
    {
        .button
        {
            margin-bottom:4px;

            @include media-breakpoint-down(md) {
                display: inline-block;
            }

        }
    }

}

.recent-performance
{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: $dark_red;
    background: radial-gradient($red, $dark_red);
    position: relative;

    .content 
    {
        h2 {
            color: $white;
            font-size: 2.0rem;
        }

        p {
            color: $white;

            @include media-breakpoint-up(md) {
                padding-right: 40px;
            }
        }
    }
    .statistics-graph
    {
        background: white;
        padding:1rem;
        h3
        {
            font-size: 1.1rem;
        }
    }

    @include media-breakpoint-down(md) {
    
        .statistics-graph
        {
            margin-top: 2rem;
        }

    }

}
