.accordion
{
    margin-top:1rem;
    border-radius: 0;
    background: white;
}

.accordion-item
{
    border:none;
    background: white;
    border-bottom:1px solid #ebebeb;
    box-shadow: none;
    .accordion-header
    {
        .accordion-button 
        {
            background: white;
            position: relative;
            display: block;
            width: 100%;
            padding: 1rem 4rem 1rem 1.25rem;
            text-align: left;
            border: 0;
            border-radius: 0;
            transition: 0.2s ease;
            font-size: 1.0rem;
            text-transform: none;
            color: $primary;
            box-shadow: none;

            &:after
            {
                position: absolute;
                background: white;
                right: 1.25rem;
                top:50%;
                transform: translateY(-50%);
                content: "\f067";
                font-weight: 2.4rem;
                font-family: $icons2;
            }

            &[aria-expanded="true"]
            {
                color: $primary;
                box-shadow: none;
                &:after
                {
                    content: "\f068";
                }

            }

        }

        margin:0px;

    }
    .accordion-body 
    {
        background: white;
        margin:0px;
        padding: 1rem 1.25rem;
        border-radius: 0;
        font-weight: $font_weight_light;
        h3, p, div, span
        {
            font-weight: $font_weight_light;
        }
        &:last-child
        {
            padding-bottom: 0px;
        }
        text-align:left;
    }
    margin-bottom:1px;
    border-radius: 0!important;
    &:first-of-type, &:last-of-type
    {
        border-radius: 0!important;
    }
}
