 .box-grid
 {
    list-style-type: none;   
    margin:0px 0px;
    padding:0px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    li
    {
        flex-grow: 1;
        margin: 0px 0px 5px 0px;
        padding:0.5rem;
        background: white;
        text-align: center;
        vertical-align: middle;
        display: flex;
        img
        {
            display: block;
            text-align: center;
            margin: auto auto;
        }

    }
    @include media-breakpoint-down(md)
    {
        li
        {
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
        }       
    }
    @include media-breakpoint-up(lg)
    {
        li
        {
            
            width: 32%;
            &:nth-child(3n+2)
            {
                width:34%;
                margin-left: 1%;
                margin-right: 1%;
            }
        }   
    }
    li.cleanse
    {
        background: none;
    }
}