.button, .btn 
{
    padding: 12px 30px;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: $font_weight_regular;
    transition: .2s all;
    text-decoration: none;

    background: $dark-red;
    color: $white;
    &:hover {
        background: $hover_red;
        color:white;
    }

    &.whiteout
    {
        background: $white;
        color: $dark_red;
        border:$dark_red;
        &:hover {
            background: $hover_grey;
            color:$white;
        }    
    }

    &.red {
        background: $dark-red;
        color: $white;
        &:hover {
            background: $hover_red;
            color:white;
        }
    }

    &.grey {
        background: $grey;
        color: $white;
        &:hover {
            background: $hover_grey;
            opacity: .6;
        }
    }

    &.transparent {
        background: transparent;
        border: 3px solid;

        &.grey {
            border-color: $grey;
            color: $grey;
            &:hover {
                background: $hover_grey;
                border-color: $hover_grey;
                color: $white;
                opacity: 1;
            }
        }
        &.white {
            border-color: $white;
            color: $white;
            &:hover {
                background: $white;
                color: $dark-red;
            }
        }
    }

}


.homepage__slider--overlay {
    .button {
        min-width: 150px;
    }
}