.card
{
    h2
    {
        font-size: 1.1rem;
        margin-bottom: 0.5rem!important;
    }
    h3
    {
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    p, span, div, li, 
    {
        font-size: 0.9rem;
    }
    small, .smaller
    {
        font-size:0.75rem;
    }

    .published-date
    {
        margin-top: 0px;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem!important;
    }


    &.map-group
    {
        max-width: 320px;
    }
    .distance-to
    {
        position: absolute;
        bottom:0px;
        right:0px;
        background: $grey;
        color:white!important;
        padding: 8px 16px;
        font-size: 0.8rem;

    }
    a
    {
        //color:$primary;
    }


}

.card-deck
{
    margin-bottom: 0px;
    margin-top: 1rem;

    .card
    {
        position: relative;
        background:white!important;
        border-radius: 3px;
        margin-bottom: 1.5rem;  
        transition: .2s ease;   
        border:1px solid $primary;

        .card-img-top
        {
            border:none;
            border-radius: 0px;

            &.bordered
            {   
                border:1px solid $primary;
            }
            
        }
        /*.card-img-top-sq
        {
            max-width: 120px;
            //max-height: 60px;
            margin:0px auto;
            display: block;

            &.wider
            {
                max-width: 240px;
            }
        }*/

        figure
        {
            margin:0px;
            border:1px solid $body_grey;
            text-align: center;
            img
            {
                display: block;
                width:100%;
                max-width: 240px;

                padding:5px;
                margin:0px auto;
                text-align: center;
            }

        }

        h2.inlined
        {
            display: inline-block;
        }
        .card-body
        {   
            position: relative;
            padding-bottom:40px;
            height: 100%;
            min-height: 280px;

        }
        &.hoverable
        {
            &:hover
            {
                h2
                {
                    //zoom:1.1;
                }

                &.has-image
                {

                }
                border:1px dotted $primary;
            }
        }
       

    }


    &.full-width
    {
        margin:0px!important;
        .card
        {
            width:100%;
            clear: both;
            min-width: 100%!important;
            margin:0px 20px 0px 0px!important;
            .card-body
            {
                min-height: auto!important;
                padding-bottom: 20px!important;
                h2
                {
                    font-size: 0.9rem!important;
                    border-bottom: none!important;  
                    padding-bottom: 0px!important;
                    margin-bottom: 0px!important;
                }
            }
        }
    }


}
.slick-cards
{
    .card
    {
        max-width: 90%;
    }
    @include media-breakpoint-down(md)
    {
        .card
        {
            max-width: 95%;
        }
    }
}
.card-blog
{
    .card
    {
        position: relative;
        background:white;
        border:none;
        border-bottom: 1px dotted $primary;
        border-radius: 0px; 
        .card-body
        {
            padding-left: 0px;
            padding-right: 0px;
        }
        h2
        {
            margin-top: 0px;
            padding-top: 0px;
        }  


        .card-img-top
        {
            border:none;
            border-radius: 0px;

        }
        a.button
        {
            clear: both;
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        figure
        {
            display: inline-block;
            float:right;
            max-width: 100px;
            margin:10px 0px 10px 25px;
            border:1px solid $body_grey;
            text-align: center;
            img
            {
                padding:5px;
                margin:0px auto;
                text-align: center;
            }
            @include media-breakpoint-up(md) 
            {
                max-width: 180px;
            }
        }


    }

}
.card-footer
{
    small
    {
        span
        {
            font-size: 0.75rem!important;
        }
    }
    .leader
    {
        padding-right: 1rem;
    }

}