.emergency-situation-content
{
    .callout
    {
        margin:0 0 1rem 0;
        background: #fffee0;
        padding:1px 1rem;
        h3, div, span, p, h2, h1, h4, li, 
        {
            padding-right: 60px;
        }
        button, button span
        {
            background: white;
            color: $primary;
            padding-left:0px!important;
            padding-right:0px!important;

            &:hover
            {
                color:$black;
            }
        }
        border-left:5px solid $primary;


    }
}