footer 
{
    background: $grey;
    min-height: 250px;
    margin-top: 50px;
    padding: 40px 0 20px;

    ul {
        list-style-type: none;
        margin-left: 0;

        li {
            font-size: 0.9rem;
            font-weight: $font_weight_thin;
            margin-bottom:7px;
            a {
                color: $white;
                text-decoration: underline;
                &:hover {
                    color: $white;
                    text-decoration: none;
                }
            }
        }

        &.social-media {
            margin: 20px 0 0;
            width: 100%;

            li {
                width: 100%;
                margin: 0 auto;
            }
            a {
                width: 100%;
                border: 3px solid $white;
                padding: 5px 0;
                text-align: center;
                margin: 0 auto;
                transition: .2s all;
                text-decoration: none;
                display: block;
                &:hover {
                    background: $white;
                    color: $grey;
                    text-decoration: none;

                    i {
                        color: $grey;
                    }
                }

                i {
                    text-align: center;
                }
            }
        }
    }

    p {
        font-weight: $font_weight_thin;
        color: $white;
        margin-bottom: 0;
        font-size: 0.9rem;

        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                color: $white;
                text-decoration: none;
            }
        }

        &.address-1 {
            font-weight: $font_weight_regular;
        }

        &.open-hours {
            font-weight: $font_weight_regular;
        }
    }

    p + p {

    }

    .footer-logo {
        width: 100%;
        max-width: 206px;
        margin-top: 20px;
        float: left;
    }
}

.cc-message {
    font-size: 0.8rem;
    line-height: 1.2;
}