.work-in-progress {
    color: $dark_red;
    text-transform: uppercase;
    font-weight: $font_weight_bold;
}

.flatpickr-input {
    max-width:140px;
}

form {

    .container
    {
        margin:20px 0px;
        padding: 25px;
        background: white;
        h2
        {
            margin-top: 0px;
            font-size: 1.3rem;
        }
        h3
        {
            font-size: 1.1rem;
            
        }
    }

    input {
       // padding: 5px 10px!important;
        &::-webkit-input-placeholder {
            color: #ccc !important;
        }
    }

    input:invalid {
        border: 2px solid $dark_red;
    }

    label {
        line-height: 1.6;
        font-weight: $font_weight_light;
        font-size: 0.875rem;
        display: block;
        margin: 10px 0 5px 0;

    }

    input[type=checkbox], input[type=file], input[type=radio] {
        margin: 0 0 1rem;
    }

    input[type=checkbox]+label, input[type=radio]+label {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 0.5rem;
        margin-right: 1rem;
        margin-bottom: 0;
        //font-size: 0.875rem;
    }

    select, .chosen-single {
        background-color: $white !important;
        height: 45px !important;
    }

    .chosen-single {
        border-radius: 0 !important;
        background-image: none !important;
        padding-top: 10px !important;
        box-shadow: none !important;
        border-color: #ccc !important;
        font-family: $font !important;
        color: $grey !important;
        position: relative !important;

        &:after {
            position: absolute;
            top: 10px;
            right: 10px;
            content: "\f104";
            font-family: $icons;
            width: 10px;
            height: 10px;
            background: transparent;
            font-size: 0.55rem;
            color: black;
        }
    }

    fieldset {
        border-color: #ccc;
        legend
        {
            font-family: $heading-font;
            font-weight: $font_weight_regular;
            font-size: 1rem;
        }

        &.no-border {
            padding: 0;
            border: none;
        }
    }

    input[type=text], input[type=url], input[type=email], textarea, input[type=tel], input[type=number] {
        height: auto;
        //min-height: 45px;
        line-height: 1.8rem;
        box-shadow: none;
        margin-bottom: 1rem;
        width: 100%;
        padding: 5px 10px;
    }

    input[type=date], input[type=time] {
        height: auto;
        min-height: 45px;
        line-height: 1.8rem;
        box-shadow: none;
        margin-bottom: 1rem;
        width: 100% !important;

        @include media-breakpoint-up(md) 
        {
            width: 48% !important;
        }

        @include media-breakpoint-up(lg) {
            width: 25% !important;
        }
    }

    input[type=text] + label, input[type=url] + label, input[type=email] + label, input[type=number] + label, input[type=tel] + label, i + label {
        padding-top: 5px !important;

    }

    .chosen-container {
        margin-bottom: 1rem;
        font-size: .875rem;
        width: 100% !important;
        .chosen-single {
            padding: 5px 10px;
        }
    }

    .gfield_checkbox + label {
        padding-top: 0 !important;
    }

    //    Time
    .gfield_time_ampm {
        select {
            padding: 5px 2px 2px 10px !important;
        }
    }

    //    Address
    .ginput_complex {
        span {
            label {
                //margin-bottom: 15px !important;
                display: none !important;
            }
        }
    }

    //  File Upload
    input[type=file] {
        padding-left: 0 !important;
    }

    //  Submit Form Button
    input[type=submit] {
        padding: 12px 30px;
        max-width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        border: none;
        font-family: $heading-font;
        font-weight: $font_weight_regular;
        transition: .2s all !important;
        background: $dark-red;
        color: $white;
        &:hover {
            background: $hover_red;
        }
    }

    //    Full Width Select Input
    .ginput_container_select {
        select {
            width: 100% !important;
        }
    }

    .parallel-inputs {
        width: 100%;

        input {
            @include media-breakpoint-up(md) {
                width: 48.7% !important;
                display: inline-block;
                margin-right: 2%;
                max-width: 362px;
                &:last-child {
                    margin-right: 0;
                    float: right;
                }
            }
        }
    }

    h3.form-section-break {
        margin-top: 60px;
        padding-top: 100px;
        border-top: 1px solid #ccc;
    }

    p {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    select, select:focus
    {
        appearance: none;
        padding:12px 50px 12px 12px!important;
        color:$black!important;

        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em + 6px),
            calc(100% - 15px) calc(1em + 6px),
            calc(100% - 2.5em) 12px;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        option
        {
            line-height: 1.5!important;
        }
        width:100%;

    }

    fieldset.simple-legend
    {
        legend {
            line-height: 1.6;
            font-weight: $font_weight_light;
            font-size: 0.875rem;
            display: block;
            margin: 10px 0 5px 0;

        }
        margin-bottom:1rem;
    }

    legend.simple-legend
    {
        font-weight: $font_weight_light;
        padding-top: 1rem;
    }
   
    
    legend.as-title
    {
        font-size: 1.3rem;
        display: block;
        clear: both;
        font-weight: $font_weight_thin;
        line-height: 1.2;
        font-family: $heading-font;
        color: $dark_red;
        padding-top: 1.5rem;
        margin:0rem 0px 0.75rem 0px;
        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

    }

    legend.as-small-title
    {
        font-size: 1.1rem;
        font-weight: $font_weight_thin;
        clear: both;
        line-height: 1.2;
        font-family: $heading-font;
        color: $dark_red;
        margin:0rem 0px 0 0px;
        padding-top: 1.5rem;
        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }

    }


}




// Submit a Complaint
.forms-content-blocks {
    margin: 0 20px;

    .row.collapse {
        > .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .container {
        @include media-breakpoint-down(sm) {
            padding: 25px 20px;
        }
    }
}


section[role="submit-a-complaint"] {
    margin: 0 20px;
    .container {
        margin-top: 0;
        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }
    }

    div + div {
        margin-bottom: 10px;
    }

    select {
        @include media-breakpoint-up(md) {
            width: 48% !important;
            max-width: 362px;
        }
    }
}

.select-chosen {
    width: 100% !important;
}

.flatpickr-month {
    height: 45px;
    min-height: 45px;
}


form .chosen-single:after {
    content: "" !important;
}

.placeholder { color: #aaa; }

.checkbox-advanced, .radio-advanced
{
    margin-bottom: 1rem;
    input[type="checkbox"],
    input[type="radio"] 
    {
        display: none;
        &:checked + label 
        {
            &:before
            {
                border:  1px solid white;
                background: $dark_red;       
            }
            &:after
            {
                background: transparent;
                color: white;       
                font-weight: 400;
                content: '✔';
                display: inline-block;
                position: absolute;
                height:  0.3rem;
                width:  0.3rem;
                border:  none;
                //border-radius: 50%;
                //background:  #fff;
                left:0.3rem;
                top:0rem;

            }
        }
        &:disabled + label
        {
            &:before
            {
                //border:  solid 3px $dark_red;
                background: $body_grey;       
            }   
            text-decoration: line-through;
        }
    }
    label
    {
        position:  relative; 
        padding-left: 2.0rem;
        font-weight: normal!important;
        &:before
        {
            content: ' ';
            display: inline-block;
            position: absolute;
            height:  1.2rem;
            width:  1.2rem;
            border:  solid 1px $dark_red;
            background:  #fff;
            left:0px;
            top:0px;
        }
    }


}

form
{
    small.error
    {
        display: block;
        clear:both;
        float: none;
        border:1px solid #ff0000;
        border-left:15px solid #ff0000;
        padding: 8px 16px;
        margin:5px 0px 15px 0px;
        font-size: 0.85rem;
    }

    label.has-errors
    {
        color:#ff0000!important;
    }
    textarea.has-errors, input.has-errors, select.has-errors
    {
        border:1px solid #ff0000!important;
    }

}
div.with-explainer
{
    textarea
    {
        margin-bottom: 0px;
    }
    margin-bottom:1.2rem;
}
div.explainer
{
    font-size: 0.8rem;
    background: $body_grey;
    margin:0 0 0.5rem 0;
    padding: 3px 1rem;
    p, ul, li, a, span
    {
        font-size: 0.8rem;
    }
    p, ul
    {
        margin: 0.5rem 0;
        padding:0px;
    }
}