figure {
  margin: 0;
}


.feature__carousel {
    display: block;
    clear: both;

    .slide {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.1);
        }
    }
}