$form_fs: 0.9rem;
$form_fs_small: 0.75rem;

// Form colours
$form_border_color: $secondary;
$form_label_color: $secondary;
$form_sub_label_color: $black;
$form_placeholder_color: #666;
$form_error_color: $red;

.gform_wrapper, .gform_legacy_markup_wrapper
{

    /* basic structures */

    .gform_body
    {

        div.gform_fields, ul.gform_fields, div.gform_footer
        {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0px!important;
            @include media-breakpoint-up(md)
            {
                margin-left: -1rem;
            }

            div.gfield, li.gfield, fieldset.two_col
            {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 100%;
                padding:1rem 0 1.5rem 0!important;
                margin: 0;

                @include media-breakpoint-up(md)
                {
                    flex: 50%;
                    padding: 1rem 1rem 1.5rem 1rem!important;
                }

                &.gfield--type-section, &.gsection, &.gfield--type-name, &.gfield--width-full, &.gfield_html
                {
                    padding-bottom: 0.25rem;
                    @include media-breakpoint-up(md)
                    {
                        flex:100%;
                        padding-bottom: 0.25rem;
                    }
                    .gsection_title
                    {
                        padding-bottom: 0.75rem;
                        padding-top: 2rem;
                        border-bottom: 1px solid $form_label_color;
                    }
                }
                &.gfield_html
                {
                    margin-bottom: 1rem;
                }

            }
            fieldset:not(.two_col)
            {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 100%;
                padding:1rem 0 1.5rem 0!important;
                margin: 0;

                @include media-breakpoint-up(md)
                {
                    padding: 1rem 1rem 1.5rem 1rem!important;
                }               
            }

            div.gfield_error, li.gfield_error, fieldset.gfield_error
            {
                border-left: 5px solid $form_error_color;
                >label, >legend
                {
                    color:$form_error_color;
                }
                @include media-breakpoint-down(sm)
                {
                    padding-left:1rem!important;
                }

            }

        }

        /* labels, descriptions and asterisks */
        /* descriptions and sub-lbels should be below */
    
        label.gform-field-label--type-sub
        {
            font-size: $form_fs_small;
            color: $form_sub_label_color;
            margin-top: 0.25rem;
            font-weight: $font_weight_light;
            text-transform: none;
        }
        label.gform-field-label--type-inline
        {
            font-weight: $font_weight_light!important;
        }

        .gfield_description
        {
            font-size: $form_fs_small;
            margin: 0.25rem 0 1.25rem 0;
            line-height: 1.25;
            &.gfield_validation_message
            {
              margin-bottom: 0;
            }
            &.gfield_consent_description
            {
              margin-top: 5px;
            }
        }

        label + .gfield_description, legend + .gfield_description
        {
            margin-top: 0.1rem;
        }


        .gfield_required
        {
            &:not(.gfield_required_asterisk):not(.gfield_required_text)
            {
                position: relative;
                &:after
                {
                    content: '*';
                    margin-left: 0.5rem;
                    color: $form_error_color;
                }
            }

            &.gfield_required_asterisk
            {
                display: none;
                visibility: hidden;
            }

        }

        .gfield_required_text, .screen-reader-text, label.hidden_label
        {
            @include sr-visible-only;
        }


        /* checkbox and radio */
        .gfield_checkbox, .gfield_radio
        {

            list-style: none;
            padding: 0;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            >label 
            {
                font-size: $form_fs;
            }
            input 
            {
                position: relative;
                margin-left: 2px;
            }

            .gchoice
            {
                display: inline-block;
                margin-right: 1.5rem;
                input[type="checkbox"], input[type="radio"]
                {
                    display: inline;
                    transform : scale(1.75);
                }
                >label
                {
                    display: inline;
                    margin:0px 0px 0px 10px;
                    padding: 0;
                    font-weight: $font_weight_light;
                    font-size: $form_fs;
                    text-transform: none;
                }
            }
            &.vertical
            {
                .gchoice
                {
                    display: block;
                }   
            }
        }

        /* gravity's own elements */

        .ginput_container_name, .ginput_complex
        {
            span
            {
                width: 48%;
                margin-right:4%;
                display: block;
                float: left;
                &:nth-of-type(even)
                {
                    margin-right:0;
                }
            }
        }
        .ginput_container_date
        {
            position: relative;
            img.ui-datepicker-trigger
            {
                position: absolute;
                right: 20px;
                top:10px;
            }
        }

        .ginput_container_time
        {

            display: inline-block;
            max-width: 120px;
            input[type="number"]
            {
                width:80px;
                border: 1px solid $form_border_color;
                text-align: center;
            }
            select
            {
                width:110px;
                border: 1px solid $form_border_color;
                margin-left: 0.25rem;
                padding-top:8px!important;
                padding-bottom: 8px!important;
            }
        }
        .hour_minute_colon
        {
            display: inline-block;
            margin: 0 0.2rem;
        }

        .ginput_container_consent
        {
            input[type="checkbox"], input[type="radio"]
            {
                display: inline;
            }
            label
            {
                display: inline;
                margin:0px 0px 0px 10px;
                padding: 0;
                font-weight: $font_weight_regular;
                font-size: $form_fs;
            }   
        }

        .ginput_container_fileupload
        {
            border: 0.25px solid rgba($secondary, 0.5);
            padding:1.5rem;
            span.gform_drop_instructions
            {
                display: block;
                clear: both;
                margin-bottom: 10px;
                font-size: $form_fs;
                font-weight: $font_weight_bold;
            }
            button
            {
                clear: both;
            }
            input[type="file"]
            {
                font-size: $form_fs;
            }
        }
        .gfield--type-fileupload
        {
            .gfield_description
            {
                  margin-top: 0.5rem!important;
                  display: block;
                  clear:both;
                  margin-bottom: 0.5rem;
            }
        }

        .gf_page_steps, .gf_progressbar_wrapper
        {
            .gf_step 
            {
              display: inline-block;
              color: $form_label_color;
              margin-right: 0px;
              font-size: 0.7rem;
              font-weight: 700;
              text-transform: uppercase;
              padding:12px 20px;
              background: #ebebeb;
              span
              {
                color:$form_label_color;
              }
              border-top:1px solid $form_label_color;
              border-right:1px solid $form_label_color;
              &:first-of-type
              {
                border-left:1px solid $form_label_color;
              }
              .gf_step_number
              {
                margin-right: 10px;
              }

              @include media-breakpoint-down(sm)
              {
                  font-size: 0.6rem;
                  padding:8px 12px;
              }
              
            }
            .gf_step_active 
            {
              background: $form_label_color;
              color:$white;
              span {
                color: $white;
                
              }
            }
            padding:0px;
            margin-bottom: 20px;
            border-bottom: 1px solid $form_label_color;

        }

    }

    .gfield_password_strength 
    {
        border:0.25px solid darken($grey, 5%);
        padding: 5px 10px;
        display: block;
        clear: both;
        width: calc(50% - 10px);
        max-width: 355px;
        font-size: 0.8rem;
        margin-left: 2px;
        background: darken($grey, 5%);
        margin-bottom: 1rem;
        position: relative;
        transition: 0.25s ease;

        &.strong,
        &.good 
        {
            background: green;
            color: $white;
            width: 99%;
        }

        &.short, &.bad, &.mismatch 
        {
            background-color: #ce5c51;
            color: white;
        }

        &:before 
        {
            content: "Password - "
        }

        @include media-breakpoint-down(md)
        {
            width: calc(100% - 10px);
        }

    }
    .ginput_container_password
    {
        span
        {
            width: 100%!important;
            margin-right:0;
            display: block;
            margin-bottom: 0.5rem;      
        }
    }



    .gform_validation_errors
    {
        border:1px solid $form_error_color;
        border-left:0.75rem solid $form_error_color;
        padding:0px;
        .gform-icon--close
        {
          display: none;
        }
        h2, h3
        {
          font-size: 1.0rem;
          padding: 1.0rem 1.0rem;
          margin:0px;
          text-transform: none;
          line-height: 1.3;
          font-weight: $font_weight_light;
        }

        &:focus, &:focus-within, &:focus-visible
        {
            outline: none;
        }

        margin:1.5rem 0;
    }

    .gform_footer
    {
        display: block;
        margin-top: 1.5rem;
    }

    .radio-as-buttons-gravity
    {
        clear:both;
        legend
        {
          display: inline-block;
          width: auto;
        }
        >label
        {

        }
        .ginput_container_radio
        {
            display: block;
            margin-bottom: 10px;
            .gchoice
            {
              margin: 0 1rem 5px 0!important;
              input 
              {
                  display: none !important;

                  &:checked + label 
                  {
                      background-color: $secondary;
                      color: #fff;
                      box-shadow: none;
                  }
              }

              label 
              {
                  float: left;
                  display: inline-block;
                  background-color: $white;
                  border: 1px solid $secondary;
                  color: $secondary;
                  text-align: center;
                  text-shadow: none;
                  margin:0;
                  line-height: 1;
                  padding: 0.4rem 1.2rem!important;
                  transition: all 0.2s ease-in-out;
                  font-size:$form_fs;
                  border-radius:3px;

                  &:hover 
                  {
                      cursor: pointer;
                      cursor:hand;
                      background: #ebebeb;
                  }
                  
                }

            }

        }
    }

}