//Search Overlay on page

.search-active-overlay 
{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s all;

    &.fade-content {
        pointer-events: all;
        background: rgba($grey, .9);
    }
}


.search-container 
{
    display: block;
    clear: both;
    width: 100%;
    background: $body_grey;
    position: relative;
    overflow: hidden;
    height: 0;
    transition: .5s all;
    .container
    {
        margin:0px auto;
    }
    z-index:13;


    &.show-search 
    {

        height: $search_bar_height;
        z-index: 15;

        .search-input 
        {
            width: 85%;
            float: left;
            height: $search_bar_inner_height;
            margin: 15px 0px;

            font-size: 1.6rem;
            padding: 10px 20px;
            color: $black;
            font-weight: $font_weight_regular;
            border:1px solid $grey;
            border-right: none;
            line-height: 1;

        }

        .search-submit 
        {
            width: 15%;
            float: left;
            height: $search_bar_inner_height;
            margin: 15px 0px;
            text-align: center;
            font-family: $heading-font;
            transition: .2s all;
            background: $primary;
            color: white;
            border:1px solid $grey;
            padding: 0;
            font-size: 1.3rem;
            font-weight: $font_weight_bold;
            line-height: 1;
            &:hover 
            {
                cursor: pointer;
                cursor: hand;
                background: $hover_red;
                color: white;
            }
        }

        .search-close 
        {
            font-size: 2.5rem;
            line-height: 1.5;
            text-align: right;
            &:before
            {
                margin-right:0px;
                line-height: 2;
            }

        }

        @include media-breakpoint-down(md) 
        {
            .search-input
            {
                font-size: 1.1rem;
                height:40px;
                margin: 20px 0px;
            }
            .search-submit 
            {
                font-size: 1.0rem;
                height: 40px;
                margin: 20px 0px;
            }
            .search-close
            {

            }
        }

    }
}
.pre-header
{
    background: $body_grey;
    height: $pre_header_height;
    .nav-icons
    {
        margin:13px 0px;
        line-height: 1!important;
        li, a, a span
        {
            font-size: 14px;
            line-height: inherit;
        }

        @include media-breakpoint-down(md)
        {
            margin:10px 0px;
            li a
            {
                &:before
                {
                    font-size: 20px;
                }
                /*span
                {
                    display: block;
                    float: right;
                    line-height: 2.2;
                }*/
            }
        }

    }
}


header 
{
    padding: 0;
    background: $white;
    display: block;
    clear: both;
    //z-index: 4;
    position: relative;


    .primary-menu-area
    {
        background: white;
        height: $header_height;
        @include media-breakpoint-up(lg)
        {
            height: $header_height_large;
        }

        .logo
        {

            height: $header_height;
            @include media-breakpoint-up(lg)
            {
                height: $header_height_large;
            }
            
            img 
            {
                max-height:calc(100% - 30px);
                float: left;
                width: auto;
                margin:15px 5px 15px 0px;

            } 
        }

    }

    nav#primary-nav 
    {
        transition: .5s all;
        @include media-breakpoint-up(lg)
        {
            >ul
            {
                margin-block-start:0px;
                margin-block-end:0px;
                list-style-type: none;
                margin:15px 0px;
                padding:0px;

                >li
                {
                    margin:0px 1rem 0px 0px;
                    font-weight: $font_weight_regular;
                    display: inline-block;
                    position: relative;
                    >a
                    {
                        color: $grey;
                        //display: block;
                    }

                    &.menu-item-has-children
                    {

                        padding-right: 1.5rem;

                        &:after
                        {
                            @include icons-fallback;
                            content: "\f078";
                            margin-left: 10px;
                            margin-right: 0px;
                            font-weight: $font_weight_light;
                        }

                        div.sub
                        {

                            display: none;
                            position: absolute;
                            top:100%;
                            left:-40%;
                            width: 150%;
                            background: transparent;
                            >ul
                            {
                                list-style-type: none;
                                margin:15px 0px;
                                padding:0px;
                                background: $primary;
                                position: relative;
                                &:before
                                {
                                    content: "\f0d8";
                                    font-family: $icons2;
                                    font-size: 1.5rem;
                                    color: $primary;
                                    position: absolute;
                                    top:-15px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    line-height: 1;
                                }

                                li
                                {
                                    display: block;
                                    font-size: 0.8rem;

                                    a
                                    {
                                        display: block;
                                        text-align: left;
                                        width:100%;
                                        position: relative;
                                        
                                        padding:12px 18px;
                                        color:white;
                                        font-size: 0.8rem;


                                        &:before
                                        {
                                            @include icons-fallback;
                                            content: "\f0da";
                                        }

                                        &:hover
                                        {
                                            background: $secondary;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover
                        {
                            color:$primary;
                            a
                            {
                                color: $primary;
                                text-decoration: none;
                            }
                            div.sub
                            {
                                display: block;
                                z-index: 10;
                            }
                        }


                    }

                    &:last-of-type
                    {
                        margin-right: 0px;
                    }


                }

            }
        }

        @include media-breakpoint-down(lg)
        {
            display: block;
            transition: visibility 0s linear, opacity 0s ease, transform .25s ease!important;
            visibility: hidden;
            opacity: 0;
            position: fixed;
            right:0;
            top: calc(#{$header_height} + #{$pre_header_height});
            height:calc(100vh - #{$header_height} - #{$pre_header_height});
        }


    }

    #mobile-nav-toggle 
    {
        display: inline-block;
        pointer-events: initial;
        position: relative;
        cursor:pointer;
        margin-top: 8px;

        span
        {
            display: block;
            width: 40px;
            height: 4px;
            margin-bottom: 8px;
            position: relative;

            background: $primary;
            border-radius: 3px;

            z-index: 1;

            transform-origin: 5px 0px;

            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;

            &:nth-of-type(1)
            {
                transform-origin: 0% 0%;
            }

            &:nth-of-type(3)
            {
                transform-origin: 0% 100%;
            }
        }

    }

}


html.nav-is-open
{
    body
    {
        overflow: hidden;
    }

    /* Transform the slices of hamburger into a crossmark.*/
    #mobile-nav-toggle
    {
        span
        {
            &:nth-of-type(1)
            {
              opacity: 1;
              transform: rotate(45deg) translate(-2px, -1px);
            }

            /* hide the middle one */
            &:nth-of-type(2)
            {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:nth-of-type(3)
            {
              transform: rotate(-45deg);
            }
        }
    }
    nav#primary-nav 
    {

        @include media-breakpoint-down(lg)
        {
            background: white;
            visibility: visible;
            opacity: 1;
            width:100vw;  
            z-index: 2;
            overflow-y: scroll;
            left: 50%;
            transform: translateX(-50%);
            >ul
            {

                padding:1.5rem 1rem;
                display: block;
                list-style-type: none;
                >li
                {
                    padding: 10px 20px;
                    width: 100%;
                    margin: 0px;
                    display: block;
                    position: relative;
                    border-bottom:1px solid rgba($body_grey, 1);
                    &:first-of-type
                    {
                        border-top:1px solid rgba($body_grey, 1);
                    }
                    >a
                    {
                        color:$primary;
                    }

                    div.sub
                    {
                        display: none;
                        ul
                        {
                            margin:10px 50px 10px 0px;
                            padding:0px;
                            display: block;
                            list-style-type: none;      
                            li
                            {
                                display: block;
                                padding:5px 0px 5px 25px;
                                a
                                {
                                    color:$primary;
                                    position: relative;

                                    &:before
                                    {
                                        content: '\f0da';
                                        font-family: $icons2;
                                        left:-20px;
                                        top:0px;
                                        font-size:1.0rem;
                                        margin: auto;
                                        position: absolute;
                                        color:$primary;
                                        cursor: pointer;
                                    } 

                                }
                            }           
                        }
                    }


                    &.menu-item-has-children
                    {
                        a
                        {
                            display: block;
                            margin-right: 50px;
                        }
                        &:after
                        {
                            content: '\f067';
                            font-family: $icons2;
                            top:10px;
                            right:20px;
                            font-size:1.0rem;
                            margin: auto;
                            position: absolute;
                            color:$primary;
                            cursor: pointer;
                        }    

                        &.active
                        {
                            div.sub
                            {
                                display: block;
                            }
                            &:after
                            {
                                content: '\f068';
                            }
                        }                
                    }

                }
            }


        }
    } 
}




html.sticky-nav
{

    #site-header
    {
        position: fixed;
        top:0px;
        left: 50%;
        transform: translateX(-50%);
        width:100vw;
        //max-width: 1440px;
        border-bottom: 0.25px solid $primary;
        z-index: 2;
    }

    nav#primary-nav 
    {
        @include media-breakpoint-down(lg) 
        {
            top: $header_height;
            height:calc(100vh - #{$header_height});
        }     
    }
}