ul.vertical-icons, .wysiwyg-content ul
{
    list-style-type: none;
    margin:1rem 0px;
    padding:0px;
    li
    {
        position: relative;
        display: block;
        //padding: 0 0 0 1.5rem;
        padding: 0;
        margin: 0 0 0.5rem 0;


        &:before
        {
            @include icons-fallback;
            content: "\f0da";
        }

        >ul
            {
                margin-top: 10px;
                padding-inline-start: 15px; 
                font-size: 0.9rem;
                >li
                {
                    >ul
                    {
                        margin-top: 10px;
                        padding-inline-start: 15px; 
                    }
                    &:before
                    {
                        content: "\f105";
                    }

                }
            }
        a
        {
            text-decoration: none;
            margin: 0px;
            padding: 0px;
            &:hover
            {
                text-decoration: underline;
            }
        }
        span.additional
        {
            display: block;
            clear: both;
            margin:2px 0px 10px 0px;
            font-size: 0.8rem;
        }


        @each $k,$ic in $iconchanges
        {
            &.#{$k} 
            {
                &:before
                {
                    content: $ic;
                }
            }
        }

        &.has-link
        {
            &:hover
            {
                
            }
        }

    }

    &.white
    {
        li
        {
            color:white;
            a
            {
                color:white;
                &:hover
                {
                    color:white;
                    text-decoration: underline;
                }
            }
        }
    }

    &.no-icon
    {
        li
        {
            padding-left: 0px;
            &:before
            {
                display:none;
                content: '';
            }
        }        
    }


    &.multi-col
    {
        @include media-breakpoint-up(md)
        {
            columns: 2;
        }
        @include media-breakpoint-up(lg)
        {
            columns: 3;
        }

    }
    &.smaller
    {
        li
        {
            font-size: 0.8rem;
            margin: 0 0 0.2rem 0;
        }
    }

    &.all-links
    {
        li
        {
            &:before
            {
                color:$primary;
            }
        }  
    }

}

ol.vertical, .wysiwyg-content ol
{
    margin:1rem 0px;
    list-style-type: none;
    padding:0px;
    counter-reset: my-awesome-counter;
    li 
    {
        counter-increment: my-awesome-counter;
        margin: 0 0 8px 0;

        &:before 
        {
            content: counter(my-awesome-counter) ". ";
            padding-right: 0.3rem;
            font-weight: $font_weight_bold;
        }
    }


}

ul.horizontal-icons
{
    list-style-type: none;
    margin:1rem 0px;
    padding:0px;

    li
    {
        line-height: 1;
        margin:0 1rem 0.5rem 0;
        padding: 0;
        display:inline-block;
        position: relative;
        a
        {
            &:hover
            {
                text-decoration:underline;
            }
        }
    }

    &.smaller
    {
        li
        {
            font-size: 0.8rem;
        }
    }

    &.white
    {
        li
        {
            color:white;
            a
            {
                color:white;
                &:hover
                {
                    color:$grey;
                }
            }
        }
    } 
    &.primary
    {
        li
        {
            color:$primary;
            a
            {
                color:$primary;
                &:hover
                {
                    color:$black;
                }
            }
        }
    } 

    &.crumbed
    {
        li
        {
            margin:0 0 0.5rem 0;
            &:after
            {
                @include icons-fallback;
                content: "\f105";
                margin-left: 10px;
                margin-right: 6px;
            }
            &:last-of-type
            {
                &:after
                {
                    content:'';
                }
            }
        }
    }
}  

.nav-icons
{
    list-style-type: none;
    margin:0px;
    padding:0px;

    li
    {
        margin:0px 1rem 0px 0px;
        font-weight: $font_weight_bold;
        display: inline-block;
        a
        {
            color:$grey;
            position: relative;
            display: block;
            padding: 0;
            margin: 0 0 0 0;
            &:before
            {
                @include icons-fallback;
                content: "\f0da";
            }

            &:hover
            {
                color:$primary;
                text-decoration: none;
            }
            @each $k,$ic in $iconchanges
            {
                &.#{$k} 
                {
                    &:before
                    {
                        content: $ic;
                    }
                }
            }

        }
        &:last-of-type
        {
            margin-right: 0px;
        }
    }



}
ul.language-selection 
{
    list-style-type: none;
    margin-left: 0;

    li {
        width: 18%;
        margin: 0 0.5% 0.5% 0;
        position: relative;
        display: inline-block;
        font-weight: bold;
        
        text-align: center;
        border: 3px solid $grey;
        background:$body_grey;

        a 
        {
            background-color: $white;
            color: $grey;
            padding: 10px 10px;
            line-height: 1;
            display: block;
            text-align: center;
            transition: .2s all;
        }
        &:hover 
        {

            a {
                background: $hover_grey;
                color: $white;
            }
        }

    }
    &.wider
    {
        li
        {
            width:22%;
            font-size: 0.7rem;
            margin: 0 0.5% 1.5% 0;
            a
            {
                padding:5px;
            }
        }
    }
}
