.pagination 
{
    margin-top: 20px;
    margin-left:0px;
    ul
    {
        margin-left:0px;
        list-style-type: none;
        padding-inline-start:0px;
    }

    li
    {
        display: inline-block;
        float: left;
        margin:0px;
        padding:0px;
        margin-right:5px;
        background:none;
    }

    li.page-number-links, li.paginate_button
    {
        a
        {
            background: $primary;
            display:inline-block;
            border-radius: 0;
            text-align: center;
            color: white;
            font-size: 1.0rem;
            padding:8px 12px;
            line-height: 1;
            margin:0px;
            &:after, &:before 
            {
                display: none;
            }
            &:hover
            {
                font-weight:$font_weight_bold;
                text-decoration: none;
            }

        }
        &.current
        {
            a
            {
                background-color:white;
                color:$primary;
            }
        }

    }
    li.pagination-next, li.pagination-prev,
    {
        padding:0px 12px;
        a
        {
            span
            {
                font-size: 2rem;
                line-height: 1;
            }
            &:after, &:before {
                display: none!important;
            }
            &:hover
            {
                background:transparent;
                span
                {
                    font-weight:bold;
                }
            }
        }

    }
     li.next, li.prev, li.previous
     {
        display: none;
     }

    
}

@include media-breakpoint-down(md)
{
    .mobile-pagination
    {
        select, select option
        {
            padding:6px 12px;
        }
    }

}
