.rtl-form-page
{
    direction: rtl;
    text-align: right;
    h1, h2, h3, p, div, input, label
    {
        direction: rtl;
        text-align: right;
    }
    .vertical-icons
    {
        li
        {
            &:before
            {
                margin: 0 0 0 8px!important;
                content: "\f0D9"!important;
            }
        }
    }
}