
.sidebar
{

    h2
    {
        font-size: 1.2rem!important;
        padding-bottom: 10px;
      
        a
        {
            color:$primary;
        }

        &:first-of-type
        {
            margin-top: 0px;
            padding-top: 0px;

        }

        border-bottom:1px dotted $grey;
    }

    p.lead
    {
        font-size: 1.0rem;
    }

    .active > a
    {
        font-weight:bold;
    }
}