.slick-slider
{

    @media only screen
    {

        // arrows
        .slick-prev,
        .slick-next 
        {
            color: $black;
            z-index: 1;
            background: transparent;
            height:1.8rem;
            width:1.8rem;
            top:auto;
            bottom:-2rem;
            padding: 0;
        }
        .slick-prev
        {
            right:auto;
            left:1rem;
        }
        .slick-next
        {
            right:auto;
            left:4rem;
        }

        .slick-prev:before, .slick-next:before 
        {
                        
            @include icons-fallback;
            content: "\f053";
            top: 50%;
            left: 0px;
            margin: auto;
            position: absolute; 
            color: $black;
            font-size:1.6rem;
            &:hover
            {
                color: $grey;
            }
        }

        .slick-next:before
        {
            content: "\f054";
        }


        &.slick-standard 
        {
            margin-bottom:2rem;
        }

        &.slick-centered 
        {
            margin-bottom:2rem;
            .slick-slide
            {
                figure
                {
                    margin:5px;
                    max-width: 95%;
                }
            }
            .slick-center 
            {
                figure
                {
                    transform: scale(2);

                    @media only screen and (min-width: 641px) and (max-width: 900px)
                    {
                        transform: scale(1.3);
                    }

                    @media only screen and (min-width: 901px) and (max-width: 1024px)
                    {
                        transform: scale(1.2);
                    }

                    @include media-breakpoint-up(lg)
                    {
                        transform: scale(2.8);
                    }
                }
            }
            .slick-list 
            {
                padding:80px 80px !important;
                margin: 0px 30px !important;
            }
            .slick-dots 
            {

                li.slick-active button:before, li button:before
                {
                    color:$primary;
                }

                li button::before  {
                    font-size: 1rem!important;
                }

            }
            .slick-prev
            {
                right:auto;
                left:40%;
                transform: translateX(-50%);
                bottom: 0rem!important;
                @include media-breakpoint-up(md)
                {
                    bottom: -1.5rem!important;
                }

            }
            .slick-next
            {
                right:auto;
                left:60%;
                transform: translateX(-50%);
                bottom: 0rem!important;
                @include media-breakpoint-up(md)
                {
                    bottom: -1.5rem!important;
                }

            }

        }



        &.slick-cards
        {

            padding-bottom: 3rem!important;

            // arrows
            .slick-prev,
            .slick-next 
            {
                color: $secondary;
                z-index: 1;
                background: transparent;
                height:1.8rem;
                width:1.8rem;
                top:auto;
                bottom:0.3rem;
                padding: 0;
            }
            .slick-prev
            {
                left:auto;
                right:4rem;
            }
            .slick-next
            {
                left:auto;
                right:0.5rem;
            }

            .slick-prev:before, .slick-next:before 
            {
                            
                @include icons-fallback;
                content: "\f053";
                top: 50%;
                left: 0px;
                margin: auto;
                position: absolute; 
                color: $primary;
                font-size:1.5rem;
                &:hover
                {
                    color: $secondary;
                }
            }

            .slick-next:before 
            {
                content: "\f054";
            }

            .slick-prev,
            .slick-next 
            {
                &:hover
                {
                    &:before
                    {
                        color: $secondary;
                    }
                }
            }

        }

    }
}
