.social-buttons
{

    p.social-header
    {
        font-size: 0.8rem;
        color:$black;
        font-weight: bold!important;
        //text-transform: uppercase!important;
        margin-bottom: 0px;
        padding-bottom: 0px;
        @include media-breakpoint-down(sm)
        {
            padding-top: 1rem;
        }
    }
    ul.horizontal-icons
    {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        li
        {
            font-size:$socialIconSizeShare;
            width: $socialIconSizeShare;
            height: $socialIconSizeShare;
            @each $k,$ic in $socialBrandColors
            {
                &.#{$k} 
                {
                    &:before
                    {
                        color: $ic!important;
                    }
                    &:hover
                    {
                        &:before
                        {
                            color: rgba($ic, 0.8)!important;
                        }   
                    }
                }
            }

        }
        &.force-right
        {

            @include media-breakpoint-up(md)
            {
                margin-bottom: 0px;
                margin-top:0px;
                li
                {
                    margin: 0 0 0 0.5rem;
                }

            }

        }
    }   
}