table
{
    @for $i from 1 through 20 
    {
        .td-#{$i * 5} 
        {
            width: $i * 5%;
        }
    }

    .align-center
    {
        text-align: center!important;
    }

}

table.info-table
{
    border: none;
    width:100%;
    max-width: 1024px;
    margin-top: 1rem;

    tbody, thead
    {
        border:none;
    }

    thead tr, thead tr th
    {
        background-color: $body_grey;
        color: $black;
        font-weight: $font_weight_bold;
        border:none;
        span
        {
            font-size: 0.6rem;
            display:block;

        }
    }

    tr, th, td
    {
        //vertical-align: top;
        font-size: 0.8rem;
    }
    tbody
    {
        tr, td
        {
            background: white;
            color: $grey;
            border:none;
            vertical-align: top;
            vertical-align: top;
           h2, h3, h4
           {
           	font-size: 0.9rem;
           	margin-top: 0px;
           	padding-top: 0px;
           	margin-bottom: 0px;
           	padding-bottom: 5px;
           }
           p
           {
           	font-size: 0.8rem;
           	margin:0px 0px 5px 0px;
           	padding: 0px;
           }
           span.ext-above
           {
           	font-size: 1.0rem;
           }
        }
        tr
        {
            border-bottom: 1px solid $body_grey;
            vertical-align: top;
        }
    }


    thead th 
    {
        position: relative;
        //background-image: none !important;
    }
    a.file-name
    {
        color:$black!important;
        text-decoration: none;
        &:hover
        {
            text-decoration:underline;
        }
    }
    td,th
    {
        padding:8px 12px;
    }

    &.no-left
    {

        tr
        {
            vertical-align: top;
            td:first-child, th:first-child
            {
                padding-left:0px!important;
            }

        }
    }
}

.chart-modal, .d3-tip
{
	opacity: 1;
	z-index: 999;
	table
	{
		border:1px solid $grey;
		th
		{
			background: $body_grey;
			padding: 6px 12px;
			font-size: 0.9rem;
		}
		td
		{
			background: white;
			padding: 6px 12px;
			font-size: 0.9rem;
		}
	}
}

.dataTables_length, .dataTables_filter, .dataTables_info
{
	font-size: 0.7rem;
	label
	{
		font-size: 0.7rem;
	}
	input[type="search"]
	{
		max-width: 60%;
	}
}


.geographic-distribution-chart {
    svg {
        background: #fff;
        width: 100%;
        height: 500px;

        path {
            stroke: #fff;
            stroke-width: 1.0px;
            transition: all linear 0.2s;

            &.q300-350,
            &.q350-350,
            &.q400-350,
            &.q450-350,
            &.q500-350,
            &.q550-350,
            &.q600-350,
            &.q650-350,
            &.q700-350,
            &.q750-350,
            &.q800-350,
            &.q850-350,
            &.q900-350,
            &.q950-350,
            &.q1000-350 {
                fill:rgba(192, 57, 43,0.8);
                &:hover {
                    fill:rgba(192, 57, 43,0.4);
                }
            }
            &.q250-350 {
                fill:rgba(230, 126, 34,0.8);
                &:hover {
                    fill:rgba(230, 126, 34,0.4);
                }
            }
            &.q200-350 {
                fill:rgba(243, 156, 18,0.8);
                &:hover {
                    fill:rgba(243, 156, 18,0.4);
                }
            }
            &.q150-350 {
                fill:rgba(241, 196, 15,0.8);
                &:hover {
                    fill:rgba(241, 196, 15,0.4);
                }
            }
            &.q100-350 {
                fill:rgba(39, 174, 96,0.8);
                &:hover {
                    fill:rgba(39, 174, 96,0.4);
                }
            }
            &.q50-350 {
                fill:rgba(39, 174, 96,0.8);
                &:hover {
                    fill:rgba(39, 174, 96,0.4);
                }
            }
            &.q0-350 {
                fill:rgba(22, 160, 133,0.8);
                &:hover {
                    fill:rgba(22, 160, 133,0.4);
                }
            }


            &:hover {
                cursor: pointer;
            }
        }
    }
}

.chart-modal table {
    margin: 0;
}