.wysiwyg-content
{
	blockquote
	{
		  border-left: 5px solid $primary;
		  margin: 1.5rem 0px;
		  padding: 0.5rem 1rem;
		  quotes: "\201C""\201D""\2018""\2019";
		  &:before
		  {
			  color: #ccc;
			  content: open-quote;
			  font-size: 3rem;
			  line-height: 1rem;
			  margin-right: 0.25em;
			  vertical-align: -0.4em;
			  font-family: "times new roman, georgia, serif";
		  }
	}
}

.date-published {
    color: $dark_red;
    font-family: $heading-font;
    font-weight: $font_weight_regular;
    font-size: 0.8rem;
}


.personnel
{
    margin-top: 20px;
}