        
            {% set count = (count) ? count :  0 %}
            {% set group = (group) ? group :  0 %}

            <div class="accordion-item">
                <h2 class="accordion-header" id="aH-{{ group }}-{{ count }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#aC-{{ group }}-{{ count }}" aria-expanded="{{ count > 1 ? 'false' : 'true' }}" aria-controls="aC-{{ group }}-{{ count }}">
                    {{ item.title }}
                    </button>
                </h2>

                <div id="aC-{{ group }}-{{ count }}" class="accordion-collapse collapse {{ count > 1 ? '' : 'show' }}" aria-labelledby="aH-{{ group }}-{{ count }}" data-bs-parent="#{{ group }}">
                    <div class="accordion-body">

                        {% if item.post_type == 'event' %}
                            {% if item.plain_text_date %}<p class="published-date">{{ item.plain_text_date|upper }}</p>
                            {% elseif item.datetimeshort %}<p class="published-date">{{ item.datetimeshort|upper }}</p>{% endif %}
                        {% endif %}

                        {% if item.post_type == 'article' %}<p class="published-date">{{ item.post_date|date('j F Y') }}</p>
                        {% endif %}

                        {% if item.post_type == 'person' and item.role %}<p class="published-date">{{ item.role }}</p>{% endif %}


                        {% if item.post_type == 'faq' and item.answer %}
                            {{ item.answer|wpautop }}

                        {% elseif item.description_extended %}
                        
                            <p>{{ item.description_extended }}</p>
                        
                        {% elseif item.description %}
                        
                            <p>{{ item.description }}</p>
                        
                        {% endif %}


                        {% if item.video and item.embed %}
                        
                        <div class="ratio ratio-16x9{{ item.source }}">
                            {{ item.embed }}
                        </div>

                        {% endif %}


                    </div>
                </div>
            </div>
