
                                {% set group = "accordionGroupPosts" ~ random(10000) %}

                                <div class="row">
                                    <div class="col-12">
                                         <div class="accordion" id="{{ group }}">

                                            {% set count = 0 %}

                                            {% for item in block.posts|slice(0, block.numberOf) %}

                                                {% set count = count + 1 %}

                                                {% include 'partials/items/accordion.twig' with { 'item' : item, 'count' : count, 'group' : group  } %}

                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>