

                <div class="card card-blog pb-3 mb-2" id="card-{{item.slug}}">

                    <div class="card-body">

                    {% if item.thumbnail %}

                        {% include "partials/simple-image-static-no-retina.twig" with { 'image': item.thumbnail, 'size': 'small-square', 'extra-class' : 'blog-tb' } %}

                    {% endif %}
            
                    {% if item.extension %}

                        <h2><a data-file-download-name="{{ item.title }}" data-file-download-path="{{ item.url }}" title="Download: {{ item.title }}"  href="?download=file&file={{ item.id }}">{{ item.title|length > 140 ? item.title|slice(0, 140) ~ '...' : item.title  }}</a></h2>

                    {% elseif item.link %}

                        <h2><a href="{{ item.link }}" title="Visit: {{ item.title }}">{{ item.title|length > 140 ? item.title|slice(0, 140) ~ '...' : item.title  }}</a></h2>
                    
                    {% endif %}


                    {% if item.post_type == 'article' %}<p class="published-date">{{ item.post_date|date('j F Y') }}</p>
                    {% endif %}

                    {% if item.post_type == 'career' %}<p class="published-date">Closes: {{ item.ends_at|date('j F Y g:ia') }}</p>
                    {% endif %}

                    {% if item.post_type == 'person' and item.role %}<p class="published-date">{{ item.role }}</p>{% endif %}


                    {% if item.description %}

                        <p class="desc">{{ item.description|length > 140 ? item.description|slice(0, 140) ~ '...' : item.description  }}</p>

                    {% endif %}

                    {% if item.post_type == 'attachment' %}


                        <p><small>Last Updated: {{ item.date|date('jS F Y') }}</small>
                        <p><small>
                           
                            {% if item.icon %}
                                <span class="far fa-file-{{ item.icon }}"> </span>&nbsp;  
                            {% endif %}
                            {% if item.extension %}
                                <span>{{ item.extension|upper }}</span>
                            {% endif %}
                            {% if item.extension and item.friendly_size %}
                                |
                            {% endif %}
                            {% if item.friendly_size %}
                                <span>{{ item.friendly_size }}</span>
                            {% endif %}
                           
                        </small></p>
                    
                    {% endif %}
                    {% if item.extension %}

                        <a class="button" data-file-download-name="{{ item.title }}" data-file-download-path="{{ item.url }}" title="Download: {{ item.title }}" aria-label="Download: {{ item.title }}"  href="?download=file&file={{ item.id }}">Download</a>

                    {% elseif item.link %}

                        <a class="button" href="{{ item.link }}" title="Visit: {{ item.title }}" aria-label="Visit: {{ item.title }}">Read More</a>
                    
                    {% endif %}


                    </div>

                </div>
