{% if item %}
                                    
                    <div class="card h-100 {{ (no_link) ? '' : 'hoverable' }} ">
                   		<div class="card-body">

                    	 	{% if item.thumbnail %}

                                {% set orientation = (item.post_type == 'person') ? 'small-square' : 'small-landscape' %}


                                {% include "partials/simple-image-static-no-retina.twig" with { 'image': item.thumbnail, 'size': orientation, 'extra-class' : 'blog-tb' } %}

                            {% endif %}

                    		{% if item.primaryTerm %}

                            <p class="category-name-inline">{{ item.primaryTerm.name }}</p>

                        	{% endif %}

                            <h2>{{ item.title }}</h2>
                            
                            {# Person #}
                            {% if item.post_type == 'person' %}
                                {% if item.role %}
                                    <p><strong>{{ item.role }}</strong></p>
                                {% endif %}
                                {% if item.email_address %}
                                    <p><a href="mailto:{{ item.email_address }}" title="Send Email">{{ item.email_address }}</a></p>
                                {% endif %}
                                {% if item.telephone_number %}
                                    <p><a href="tel:{{ item.formatted_telephone_number }}" title="Telephone">{{ item.telephone_number }}</a></p>
                                {% endif %}
                            {% endif %}

                            {# Show Publication Date on Articles #}
                            {% if item.post_type == 'article' %}
                            
                                <p class="date-inline">{{ item.date|date('j F Y') }}</p>
                            
                            {% endif %}
                            
                           
                            {% if item.description %}
                           
                                <p>{{ item.description }}</p>
                           
                            {% endif %}

                            {% if item.post_type == 'video'  %}
	                        
	                        	{% if item.cover %}

	                        		<img src="{{ item.cover}}" alt="{{ item.title}}" />

		                    	{% else %}

		                        <div class="flex-video {{ item.source }}">
		                            {{ item.embed }}
		                        </div>

		                    	{% endif %}

	                    	{% endif %}


                            {# FAQ #}
                            {% if item.post_type == "faq" %}
                                <p>{{ (item.answer) ? item.answer : "" }}</p>
                            {% endif %}

                            {# Location #}
                            {% if item.post_type == "location" %}
                                {% if item.town %}<p>{{ item.town }}</p>{% endif %}
                                {% if item.county %}<p>{{ item.county }}</p>{% endif %}
                                {% if item.email_address %}
                                    <p>E: <a href="mailto:{{ item.email_address }}" title="Send Email">{{ item.email_address }}</a></p>
                                {% endif %}
                                {% if item.telephone_number %}
                                    <p>T: <a href="tel:{{ item.formatted_telephone_number }}" title="Telephone">{{ item.telephone_number }}</a></p>
                                {% endif %}
                            {% endif %}

                       </div>
                                

	                    {% if item.post_type == 'attachment' %}

	                    <div class="card-footer">
	                        <small class="leader">Last Updated: {{ item.date|date('jS F Y') }}</small>
	                        <small>
	                           
	                            {% if item.icon %}
	                                <span class="far fa-file-{{ item.icon }}"> </span>&nbsp;  
	                            {% endif %}
	                            {% if item.extension %}
	                                <span>{{ item.extension|upper }}</span>
	                            {% endif %}
	                            {% if item.extension and item.friendly_size %}
	                                |
	                            {% endif %}
	                            {% if item.friendly_size %}
	                                <span>{{ item.friendly_size }}</span>
	                            {% endif %}
	                           
	                        </small>
	                    </div>
	                    
	                    {% endif %}


	                    {% if item.extension and not no_link %}

	                        <a class="stretched-link"  data-file-download-name="{{ item.title }}" data-file-download-path="{{ item.url }}" title="{{ item.title }}"  href="?download=file&file={{ item.id }}"></a>

	                    {% elseif item.link and not no_link %}

	                        <a class="stretched-link" href="{{ item.link }}" title="{{ item.title }}"></a>
	                    
	                    {% endif %}

                    </div>
	                               

{% endif %}                             