                {% if chart %}

                        <soan class="chartExists"></soan>

                        {% if chart_only %}

                            <h3 class="text-center pt-0 mt-0">{{ chart.title }}</h3>

                        {% endif %}

                      {% if chart.type == 'heatmap' %}

                            <script>
                                $(document).ready(function(){
                                    displayHeatMapChart('{{ chart.get_field('heatmap-data') }}');
                                });
                            </script>
                         
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-6">
                                    <div id="chart" class="geographic-distribution-chart">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-6">
                                    <table class="map-table info-table">
                                        <thead>
                                            <tr>
                                                <th>County</th>
                                                <th>No. of Allegations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        {% else %}

                            {% if chart.type != 'table' %}

                                <canvas class="chart" id="chart-{{ chart.id }}"></canvas>
                                {% if chart.type == 'pie' or chart.type =='doughnut' %}
                                    <script>
                                    $(document).ready(function(){
                                        var ctx = document.getElementById("chart-{{ chart.id }}");
                                        var myChart = new Chart(ctx, {
                                            type: '{{ chart.type }}',
                                            data: {
                                                labels: [{% for chart_data in chart.get_field('chart_data') %}"{{ chart_data.label }}",{% endfor %}],
                                                datasets: [{
                                                    label: '{{ chart.label }}',
                                                    data: [{% for chart_data in chart.get_field('chart_data') %}{{ chart_data.data }},{% endfor %}],
                                                    backgroundColor: [
                                                        'rgba(192, 57, 43,0.8)',
                                                        'rgba(52, 152, 219,0.8)',
                                                        'rgba(241, 196, 15,0.8)',
                                                        'rgba(39, 174, 96,0.8)',
                                                        'rgba(155, 89, 182,0.8)',
                                                        'rgba(230, 126, 34,0.8)',
                                                        'rgba(26, 188, 156,0.8)',
                                                        'rgba(52, 73, 94,0.8)',
                                                        'rgba(149, 165, 166,0.8)',
                                                        'rgba(241, 196, 15,0.8)',
                                                        'rgba(127, 140, 141,0.8)',
                                                        'rgba(231, 76, 60,0.8)'
                                                    ],
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                bezierCurve: false
                                            }
                                        });
                                    });
                                    </script>

                                {% else %}
                                    
                                    <script>
                                    $(document).ready(function(){
                                        var ctx = document.getElementById("chart-{{ chart.id }}");
                                        var myChart = new Chart(ctx, {
                                            type: '{{ chart.type }}',
                                            data: {
                                                labels: [{% for chart_data in chart.get_field('chart_data') %}"{{ chart_data.label }}",{% endfor %}],
                                                datasets: [{
                                                    label: '{{ chart.label }}',
                                                    data: [{% for chart_data in chart.get_field('chart_data') %}{{ chart_data.data }},{% endfor %}],
                                                    backgroundColor: [
                                                        'rgba(192, 57, 43,0.8)',
                                                        'rgba(52, 152, 219,0.8)',
                                                        'rgba(241, 196, 15,0.8)',
                                                        'rgba(39, 174, 96,0.8)',
                                                        'rgba(155, 89, 182,0.8)',
                                                        'rgba(230, 126, 34,0.8)',
                                                        'rgba(26, 188, 156,0.8)',
                                                        'rgba(52, 73, 94,0.8)',
                                                        'rgba(149, 165, 166,0.8)',
                                                        'rgba(241, 196, 15,0.8)',
                                                        'rgba(127, 140, 141,0.8)',
                                                        'rgba(231, 76, 60,0.8)'
                                                    ],
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        }
                                                    }]
                                                },
                                                bezierCurve: false
                                            }
                                        });
                                    });
                                    </script>

                                {% endif %}

                                {% if chart.notes and not chart_only %}
                                    
                                    <hr>
                                    <p><small>{{ chart.notes }}</small></p>
                                
                                {% endif %}
                            {% endif %}
                        {% endif %}

                            <!--<a type="button" class="button red" id="link-{{ chart.id }}"><i aria-hidden="true" class="fa fa-download"></i> Save as PNG</a>-->

                        {% set table = (chart.table) ? chart.table : null %}
                        {% if table %}

                        <div class="table" id="table-{{ chart.id }}">

                            <table role="grid" class="info-table">

                                {% if table['header'] %}
                                
                                    <thead>
                                        <tr>
                                            {% for header in table['header'] %}
                                                <th>{{ header['c'] }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                
                                {% endif %}
                                
                                <tbody>
                                
                                    {% for row in table['body'] %}
                                        <tr>
                                            {% for cell in row %}
                                                <td>{{ cell['c'] }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>

                        </div>

                        {% endif %}

                {% endif %}

