    {% if current_post %}

    {%  if not current_post.should_hide_featured_image and not is_archive %}

        {% if current_post.carousel %}

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        {% include "feature-carousels/" ~ current_post.carousel.layout ~ '.twig' with { 'carousel': current_post.carousel, 'title': current_post.title } %}

                    </div>
                </div>
            </div>
    
        {% else %}
            
            {% if current_post.thumbnail %}

            <div class="container">
                <div class="row">
                    <div class="col-12">
        
                        <div class="feature-thumbnail" style="background-image: url({{ current_post.thumbnail.src('large-landscape') }})">
                            <div class="row">
                                <div class="col-12 col-md-7 col-lg-6">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% endif %}
        {% endif %}
    {% endif %}

    {% endif %}