
    <footer id="theFooter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <ul class="vertical-icons white mt-0">

                        {% for item in footer_menu.get_items %}

                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        
                        {% endfor %}
                        
                    </ul>
                </div>
                <div class="col-12 col-md-3">

                    {% if primary_location %}
                        {% if primary_location.address_details %}

                        <ul class="vertical-icons white no-icon mt-0">

                            {% for item in primary_location.address_details %}

                            <li>{{ item }}</li>

                            {% endfor %}

                        </ul>

                        {% endif %}

                        <ul class="vertical-icons white mt-2">

                            {% if primary_location.email_address %}

                                <li class="icon-email"><a href="mailto:{{ primary_location.email_address }}" title="Send email to {{ primary_location.email_address }}"><span class="d-none d-lg-inline-block">{{ primary_location.email_address }}</span><span class="hd-inline-block d-lg-none">Email Us</span></a></li>
                                
                            {% endif %}
                            {% if primary_location.telephone_number %}

                                <li class="icon-phone"><a href="tel:{{ fn('formatPhoneNumber', primary_location.telephone_number) }}" title="Call {{ primary_location.telephone_number }}">{{ primary_location.telephone_number }}</a></li>

                            {% endif %}
                            {% if primary_location.secondary_number %}

                                <li class="icon-phone"><a href="tel:{{ fn('formatPhoneNumber', primary_location.secondary_number) }}" title="Call {{ primary_location.secondary_number }}">{{ primary_location.secondary_number }}</a></li>

                            {% endif %}
                            {% if primary_location.fax_number %}

                                <li class="icon-fax"><a href="tel:{{ fn('formatPhoneNumber', primary_location.fax_number) }}" title="Call {{ primary_location.fax_number }}">{{ primary_location.fax_number }}</a></li>

                            {% endif %}
                            {% if primary_location.fix_contact_page %}

                                <li class="icon-map"><a href="{{ primary_location.fix_contact_page }}" title="Contact Us">Our Locations</a></li>

                            {% endif %}

                        </ul>

                    {% endif %}

                </div>


                <div class="col-12 col-md-3">

                    {% if primary_location and primary_location.opening_hours %}
                  
                        <p class="open-hours">Opening Hours</p>
                        <p>{{ primary_location.opening_hours }}</p>

                    {% endif %}

               </div>            

                <div class="col-12 col-md-3">
                
                    {% if primary_location and primary_location.twitter_handle or primary_location.instagram_handle or primary_location.facebook_url or primary_location.linkedin_url or primary_location.youtube_url or primary_location.gplus_url or primary_location.tripadvisor_url or primary_location.pinterest_url %}
                
                        <ul class="inline-list social-media">

                            {% if primary_location and primary_location.twitter_handle %}
                                
                                <li>
                                    <a href="//twitter.com/{{ primary_location.twitter_handle }}" title="Twitter">
                                        <i aria-hidden="true" class="fa fa-twitter"></i> Follow Us
                                    </a>
                                </li>
                            
                            {% endif %}
                            {% if primary_location and primary_location.instagram_handle %}
                                <li>
                                    <a href="//instagram.com/{{ primary_location.instagram_handle }}" title="Instagram">
                                        <i aria-hidden="true" class="fa fa-instagram"></i> Follow Us
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.facebook_url %}
                                <li>
                                    <a href="{{ primary_location.facebook_url }}" title="Facebook">
                                        <i aria-hidden="true" class="fa fa-facebook"></i> Like Us
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.linkedin_url %}
                                <li>
                                    <a href="{{ primary_location.linkedin_url }}" title="LinkedIn">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i> Follow Us
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.youtube_url %}
                                <li>
                                    <a href="{{ primary_location.youtube_url }}" title="YouTube">
                                        <i aria-hidden="true" class="fa fa-youtube"></i> Subscribe to Us
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.gplus_url %}
                                <li>
                                    <a href="{{ primary_location.gplus_url }}" title="Google Plus">
                                        <i aria-hidden="true" class="fa fa-google-plus"></i> Follow Us
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.tripadvisor_url %}
                                <li>
                                    <a href="{{ primary_location.tripadvisor_url }}" title="TripAdvisor">
                                        <i aria-hidden="true" class="fa fa-tripadvisor"></i> <span class="show-for-sr">TripAdvisor Icon</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if primary_location and primary_location.pinterest_url %}
                                <li>
                                    <a href="{{ primary_location.pinterest_url }}" title="Pinterest">
                                        <i aria-hidden="true" class="fa fa-pinterest"></i> <span class="show-for-sr">Pinterest Icon</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                    {% endif %}

                    <img loading="lazy" width="133" height="41" class="footer-logo"  src="{{ theme.link }}/img/layout/logo-white.png" alt="{{ site.title }}" />
                </div>
       
            </div>
        </div>
    </footer>
