
    <div class="print-logo" aria-hidden="true">
        <img width="222" height="67" src="{{ theme.link }}/img/layout/logo.png" alt="{{ site.title }}" aria-label="Printable logo"  />
        <p>{{ (page.link) ? page.link : post.link }}</p>
    </div>

    
    {# Search Container #}

    <div class="search-container" id="search-tool" role="search">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-11">

                    <form method="get" role="search" class="search-form" action="{{ site.url }}/">
                    
                        <label for="header-search" class="visually-hidden">Search</label>
                        <input class="search-input" id="header-search" name="s" placeholder="Search" type="text" aria-label="Search">
                        <input type="submit" value="Go" class="search-submit" />

                    </form>

                </div>
                <div class="col-2 col-md-1">
                    <ul class="nav-icons">                                        
                        <li>
                            <a class="icon-close search-close" href="#" title="Close Search Bar">
                                <span class="visually-hidden">Close Search Bar</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    {# Secondary Menu #}

    <aside class="pre-header" id="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <ul class="nav-icons">

                        {% if primary_location and primary_location.twitter_handle %}
                            
                            <li>
                                <a class="icon-twitter" href="//twitter.com/{{ primary_location.twitter_handle }}" title="Visit {{ site.title }} on  Twitter">
                                    <span class="d-none d-md-inline-block">Twitter</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>
                </div>
                <div class="col-10 text-end">
                    <nav role="navigation" aria-label="Utility">
                        <ul class="nav-icons">
                            <li>

                                {% if primary_location and primary_location.telephone_number %}

                                    <a class="icon-phone" href="tel:{{ primary_location.formatted_telephone_number }}" title="Call {{ site.title }}">
                                       <span class="d-none d-md-inline-block">{{ primary_location.telephone_number }}</span>
                                    </a>

                                {% endif %}
     
                            </li>
                            <li>
                                <a class="icon-comment" href="{{ site.url }}/get-in-touch/" title="Get in Touch">
                                    <span class="d-none d-md-inline-block" aria-hidden="true">Get in Touch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon-search search-trigger" title="Open Search Bar">
                                    <span class="d-none d-md-inline-block" aria-hidden="true">Search</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </aside>
        
    <header>

        {# Mobile Navigation Trigger #}
        <div class="primary-menu-area" id="site-header">
            <div class="container h-100">
                <div class="h-100 d-flex align-items-center">
                    <div class="col-9 col-lg-3">
                        <div class="logo">
                            <a href="{{ site.url }}">
                                <img src="{{ theme.link }}/img/layout/logo.svg" width="133" height="41" alt="{{ site.title }}" title="Visit the Garda Ombudsman Homepage" />
                            </a>
                        </div>
                    </div>

                    <div class="col-3 d-block d-lg-none text-right text-end" aria-hidden="true" tabindex="-1">
                        <div class="navicon" id="mobile-nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-12 col-lg-9 text-lg-end align-self-end">
                        <nav id="primary-nav" aria-label="Primary">
                            <ul class="menu-items">

                                {% for item in primary_menu.get_items %}
                                
                                    <li class="{{ item.classes | join(' ') }}">

                                        <a href="{{ item.link }}">{{ item.title }}</a>
                                
                                        {% if item.get_children %}

                                            <div class="sub">

                                                <ul>
                                            
                                                {% for child in item.get_children %}
                                            
                                                    <li>
                                            
                                                        <a href="{{ child.link }}">{{child.title }}</a>
                                                        
                                            
                                                        {#% if child.get_children %}
                                            
                                                            <ul>
                                            
                                                                {% for grandchild in child.get_children %}<li><a href="{{ grandchild.link }}">{{ grandchild.title }}</a></li>{% endfor %}
                                            
                                                            </ul>

                                                        {% endif %#}

                                                    </li>

                                                {% endfor %}

                                                </ul>

                                            </div><!-- /sub -->

                                        {% endif %}

                                    </li>

                                {% endfor %}

                            </ul>
                        </nav>
                    </div> 
                </div>
            </div>
        </div>

    </header>
    <div class="search-active-overlay"></div>